 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账号中心</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/accountcenter.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header-box">
    <div class="header-centre">
        <ul class="header-left">
            <li>
                <a href="">
                    <div class="h-f-i">
                        <div class="header-img">
                            <img data-original="{:config('home_img')}/asjgc.jpg" alt="">
                        </div>
                        <div class="h-l-t">手机工厂 |</div>
                    </div>
                </a>
            </li>
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            {notempty name='$Request.session.username'}
            【{$Request.session.username}】
            <span><a href="{:url('home/user/loginout')}">退出登录</a></span>
            {else /}
            <li><a href="{:url('home/user/login')}">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/register')}">
                <div class="h-l-t">免费注册</div>
            </a></li>
            {/notempty}
        </ul>
        <ul class="header-right">
            <li><a href="/">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="{:url('home/user/accountcenter')}">
                <div class="h-l-t">个人中心 |</div>
            </a></li>
            <li><a href="{:url('home/index/shoucangjia')}">
                <div class="h-l-t">收藏夹 |</div>
            </a>
            </li>
            <li><a href="">
                <div class="h-l-t">实力商家 |</div>
            </a></li>
            <li><a href="{:url('admin/user/login')}">
                <div class="h-l-t">工厂后台 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">客服中心 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">网站导航</div>
            </a></li>
        </ul>
    </div>
</header>
<!--主体-->
<main>
    <div class="main-content-title">
        <div class="content-title">
            <ul class="content-title-ul">
                <li>
                    <a href="{:url('home/user/usercenter')}" target="iframe">
                        <span class="iconfont icon-yonghuzhongxin1 top-iconfont"></span>
                        <div class="content-title-li">个人信息</div>
                        <i class="iconfont icon-xiasanjiao weixuanzhong yixuanzhong"></i>
                    </a>
                </li>
                <li>
                    <a href="{:url('home/user/fabuxinxi')}" target="iframe">
                        <span class="iconfont icon-gaiqiyexinxi top-iconfont"></span>
                        <div class="content-title-li">产品定制发布</div>
                        <i class="iconfont icon-xiasanjiao weixuanzhong"></i>
                    </a>
                </li>

                <div class="dingwei"></div>
            </ul>
        </div>
    </div>
    <div class="main-iframe">
        <div>
            <iframe src="{:url('home/user/usercenter')}" frameborder="0" name="iframe"></iframe>
        </div>
    </div>
</main>


<script src="{:config('home_js')}/accountcenter.js"></script>
</body>
</html>