<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布信息</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/fabuxinxi.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>

    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">
    #divUL div {
        float: left;
    }

</style>

<body>
<main>



    <!--侧导航-->
    <ul class="cedaohang-dingwei">
        <!--<li class="cedaohang-li cedaohang-active">全部</li>-->
        {volist name='left_data' id='ty'}
        <a style="text-decoration:none; color: white" href="{:url('/home/user/fabuxinxi',['pid' => $ty.type_id])}">
            <li class="cedaohang-li {if condition='$ty.type_id eq $pid'}cedaohang-active{/if}" id="{$ty.type_id}">{$ty.type_name}加工</li>
        </a>
        {/volist}
    </ul>
    <div class="main-title-box">
        <div class="main-title">
            <a href="javascript:;" class="main-title-a a-active">发布信息</a>
            <a href="{:url('home/user/xinxiguanlishouye')}" class="main-title-a">信息管理</a>
        </div>
    </div>
    <div class="main-form-box">
        <form class="form-custom-up" action="{$Request.url}" method="post" enctype="multipart/form-data">
            <!--上传产品信息-->
            <div class="form-text-big-box">
                <div class="select-div">
                    <select name="classify_id" id="" class="select-box">
                        <option value="" class="select-option">请选择</option>
                                {foreach name="classify" item="val"}
                                    <option value="{$val.type_id}" class="select-option">{$val.type_name}</option>
                                {/foreach}
                    </select>
                </div>
                <ul class="form-text-ul">
                    <li class="form-text-li">
                        <label for="">产品名称</label>
                        <input type="text" name="cus_proname" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_proname|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">产品长度(mm)</label>
                        <input type="text" name="cus_length" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_length|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">产品宽度(mm)</label>
                        <input type="text" name="cus_width" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_width|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">产地</label>
                        <input type="text" name="cus_place" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_place|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">芯体</label>
                        <select name="cus_core" id="1" onchange="selectQiTa(this)">
                            <option value="-1">- 请选择 -</option>
                            <option value="吸水纸">吸水纸</option>
                            <option value="木浆+高分子">木浆+高分子</option>
                            <option value="-2">其他</option>
                        </select>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">供货时间</label>
                        <input type="text" name="cus_supply" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_supply|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">订单量</label>
                        <input type="text" name="cus_orders" value="" placeholder="请根据实际情况填写并自带单位">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_orders|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">设备新旧程度</label>
                        <select name="cus_condition">
                            <option value="-1">- 请选择 -</option>
                            <option value="9成新">9成新</option>
                            <option value="8成新">8成新</option>
                            <option value="7成新">7成新</option>
                            <option value="6成新">6成新</option>
                            <option value="5成新">5成新</option>
                        </select>
                    </li>
                    <li class="form-text-li">
                        <label for="">金属检测</label>
                        <select name="cus_metal">
                            <option value="-1">- 请选择 -</option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">视觉检测</label>
                        <select name="cus_vision">
                            <option value="-1">- 请选择 -</option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </li>
                    <li class="form-text-li">
                        <label for="">包装形式</label>
                        <select name="cus_pack">
                            <option value="-1">- 请选择 -</option>
                            <option value="全自动包装">全自动包装</option>
                            <option value="半自动包装">半自动包装</option>
                            <option value="手工包装">手工包装</option>
                        </select>
                    </li>
                </ul>
            </div>
            <!--上传图片-->
            <!--<div id="uploader-demo">-->
            <!--&lt;!&ndash;用来存放item&ndash;&gt;-->
            <!--<div id="fileList" class="uploader-list">-->
            <!--</div>-->
            <!--<div id="filePicker">选择图片</div>-->
            <!--</div>-->
            <div class="form-img-big-box">
                <div class="form-img-box-left">
                    <!--这是要展示上传图片的div以及img标签-->
                    <div id="localImag">
                        主图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel">
                            <input type='file' id='doc1' name='pic1'  onclick="inputimg('pic1','localImag','preview1','doc1')"/>
                        </label>
                        <img data-original="" id="preview1" alt="">
                    </div>
                </div>

                <div class="form-img-box-right">
                    <div id="localImag2" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel">
                            <input type='file' id='doc2' name='pic2' value="" onclick="inputimg('pic2','lacalImag2','preview2','doc2')">
                        </label>
                        <img data-original="{:config('public_upload')}" id="preview2" alt="">
                    </div>
                    <div id="localImag3" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc3' name='pic3' value="" onclick="inputimg('pic3','lacalImag3','preview3','doc3')"></label>
                        <img data-original="" id="preview3" alt="">
                    </div>
                    <div id="localImag4" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc4' name='pic4' onclick="inputimg('pic4','lacalImag4','preview4','doc4')"></label>
                        <img data-original="" id="preview4" alt="">
                    </div>
                </div>
            </div>
            <div class="form-button">
                <input type="hidden" name="pid" value="{$pid}" >
                <input type="submit" value="发布" >
            </div>
        </form>
    </div>
</main>

<script src="{:config('home_js')}/fabuxinxi.js"></script>
<script>

    $(function () {
        $("img").lazyload({
            threshold: 200,
            skip_invisible: false
        });
    });
</script>
<script>
//    //侧导航点击
//    $('.cedaohang-li').on('click', function () {
//        var obj = this;
//        $('#type_id').attr('value', obj.id);
//        console.log(obj.id);
//        return;
//
//
//        $.ajax({
//            dataType:'json',
//            type: "get",
//            url: "{:url('home/user/fabuxinxi')}",
//            data: {type_id},
//            success:function (str) {
//
//                var aa=JSON.stringify(str);
//                alert(aa);
//                // console.log(str,'1',2)
//            }
//        })
//    });
</script>
<script>
    function selectQiTa(lay) {
        var option_name=$(lay).val();
        var str='<label for="">芯体</label><input type="text" name="cus_core" value="" placeholder="点击输入" autofocus><span style="color:#0a76ff; line-height: 44px;font-size: 16px;cursor: pointer;" onclick="fanhuixuanze(this)">返回选择</span>'
        console.log(option_name)
        if(option_name=='-2'){
            $(lay).parent().html(str);
            console.log($(lay).parent())
        }
    }
    function fanhuixuanze(lay) {
        var str='<label for="">芯体</label>\n' +
            '                        <select name="cus_core" id="1" onchange="selectQiTa(this)">\n' +
            '                            <option value="-1">- 请选择 -</option>\n' +
            '                            <option value="吸水纸">吸水纸</option>\n' +
            '                            <option value="木浆+高分子">木浆+高分子</option>\n' +
            '                            <option value="-2">其他</option>\n' +
            '                        </select>'
        $(lay).parent().html(str);
    }

    function inputimg() {
        console.log(1)
    }

</script>

</body>
</html>