<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布信息</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/fabuxinxi.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>

    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style type="text/css">
    #divUL div {
        float: left;
    }

</style>

<body>
<main>
    <!--侧导航-->
    <ul class="cedaohang-dingwei">
        <li class="cedaohang-li cedaohang-active">全部</li>
        {volist name='type' id='ty'}
        <li class="cedaohang-li" type_id="{$ty.type_id}">{$ty.type_name}加工</li>
        {/volist}
    </ul>
    <div class="main-title-box">
        <div class="main-title">
            <a href="javascript:;" class="main-title-a a-active">发布信息</a>
            <a href="{:url('home/user/xinxiguanlishouye')}" class="main-title-a">信息管理</a>
        </div>
    </div>
    <div class="main-form-box">
        <form class="form-custom-up" action="{$Request.url}" method="post" enctype="multipart/form-data">
            <!--上传图片-->

            <div class="form-img-big-box">

                <script src="{:config('plugin')}uploadify/jquery.uploadify.min.js?f=<%=System.currentTimeMillis()%>
" type="text/javascript"></script>
                <link rel="stylesheet" type="text/css" href="{:config('plugin')}uploadify/uploadify.css">

                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>商品图片：</label>
                    <div class="formControls col-xs-8 col-sm-9">
                        <input type="file" id="doc1" name="doc1"/>{/*uploadify使用的*/}
                        {/*form表单使用，用于添加数据到mysql用的*/}
                        <input type="hidden" id="cus_pic" name="cus_pic"/>
                    </div>
                    <label class="form-label col-xs-4 col-sm-3"></label>
                    <div class="formControls col-xs-8 col-sm-9">
                        {/*显示上传完毕的图片*/}
                        <img src="" alt="" width="200" height="100" id="logo_show"/>
                    </div>
                </div>


                <!--<div class="form-img-box-left">-->
                <!--&lt;!&ndash;这是要展示上传图片的div以及img标签&ndash;&gt;-->
                <!--<div id="localImag">-->
                <!--主图图片(点击上传)-->
                <!--&lt;!&ndash;这是图片上传的input框&ndash;&gt;-->
                <!--<label class="lacalLabel">-->
                <!--<input type='file' id='doc1' name='pic1' />-->
                <!--<input type="hidden" id="cus_pic" name="cus_pic" />-->
                <!--</label>-->
                <!--<img data-original="" id="preview1" alt="">-->
                <!--</div>-->
                <!--</div>-->

                <script type="text/javascript">
                    <?php $timestamp = time();?>
                    $(function () {
                        $('#doc1').uploadify({
                            'formData': {
                                'timestamp': '<?php echo $timestamp;?>',
                                'token': '<?php echo md5('unique_salt' . $timestamp);?>'
                            },
                            'buttonImage': '/plugin/uploadify/browse-btn.png',
                            'swf': '/plugin/uploadify/uploadify.swf',
                            'uploader': '{:url("home/user/pic_up")}',
                            'onUploadSuccess': function (file, data, response) {
                                // alert('The file ' + file.name + ' was successfully uploaded with a response of ' + response + ':' + data);
                                var obj = JSON.parse(data);
                                $('#logo_show').attr('src', obj.picpathname.substring(1));
                                $('#cus_pic').val(obj.picpathname);

                            }
                        });
                    });
                    /**/
                </script>

                <!--<div class="form-img-box-right">
                    <div id="localImag2" class="localImag">
                        附图图片(点击上传)
                        &lt;!&ndash;这是图片上传的input框&ndash;&gt;
                        <label class="lacalLabel"><input type='file' id='doc2' name='pic2' value="" onclick="inputimg('pic2','lacalImag2','preview2','doc2')"></label>
                        <img data-original="{:config('home_img')}/banner.jpg" id="preview2" alt="">
                    </div>
                    <div id="localImag3" class="localImag">
                        附图图片(点击上传)
                        &lt;!&ndash;这是图片上传的input框&ndash;&gt;
                        <label class="lacalLabel"><input type='file' id='doc3' name='pic3' value="" onclick="inputimg('pic3','lacalImag3','preview3','doc3')"></label>
                        <img data-original="" id="preview3" alt="">
                    </div>
                    <div id="localImag4" class="localImag">
                        附图图片(点击上传)
                        &lt;!&ndash;这是图片上传的input框&ndash;&gt;
                        <label class="lacalLabel"><input type='file' id='doc4' name='pic4' onclick="inputimg('pic4','lacalImag4','preview4','doc4')"></label>
                        <img data-original="" id="preview4" alt="">
                    </div>
                    <div id="localImag5" class="localImag">
                        附图图片(点击上传)
                        &lt;!&ndash;这是图片上传的input框&ndash;&gt;
                        <label class="lacalLabel"><input type='file' id='doc5' name='pic5' value="" onclick="inputimg('pic5','lacalImag5','preview5','doc5')"></label>
                        <img data-original="" id="preview5" alt="">
                    </div>
                </div>-->
            </div>
            <!--上传产品信息-->
            <div class="form-text-big-box">
                <div class="select-div">
                    <select name="cus_proname" id="" class="select-box">
                        {volist name='typeer' id='vv'}
                        <option value="" class="select-option">{$vv.type_name}</option>
                        {/volist}
                    </select>
                </div>
                <ul class="form-text-ul">
                    <li class="form-text-li">
                        <label for="">产品名称</label>
                        <input type="text" name="cus_proname" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_proname|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">产品长度(mm)</label>
                        <input type="text" name="cus_length" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_length|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">产品宽度(mm)</label>
                        <input type="text" name="cus_width" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_width|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">产地</label>
                        <input type="text" name="cus_place" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_place|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">芯体</label>
                        <select name="cus_core" id="1">
                            <option value="-1">- 请选择 -</option>
                            <option value="吸水纸">吸水纸</option>
                            <option value="木浆+高分子">木浆+高分子</option>
                        </select>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">供货时间</label>
                        <input type="text" name="cus_supply" value="" placeholder="点击输入">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_supply|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">订单量</label>
                        <input type="text" name="cus_orders" value="" placeholder="请根据实际情况填写并自带单位">
                        <span style="color:red; line-height: 44px;">{$errorinfo.cus_orders|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">设备新旧程度</label>
                        <select name="cus_condition">
                            <option value="-1">- 请选择 -</option>
                            <option value="9成新">9成新</option>
                            <option value="8成新">8成新</option>
                            <option value="7成新">7成新</option>
                            <option value="6成新">6成新</option>
                            <option value="5成新">5成新</option>
                        </select>
                    </li>
                    <li class="form-text-li">
                        <label for="">金属检测</label>
                        <select name="cus_metal">
                            <option value="-1">- 请选择 -</option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">视觉检测</label>
                        <select name="cus_vision">
                            <option value="-1">- 请选择 -</option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </li>
                    <li class="form-text-li">
                        <label for="">包装形式</label>
                        <select name="cus_pack">
                            <option value="-1">- 请选择 -</option>
                            <option value="全自动包装">全自动包装</option>
                            <option value="半自动包装">半自动包装</option>
                            <option value="手工包装">手工包装</option>
                        </select>
                    </li>
                </ul>
            </div>
            <div class="form-button">
                <input type="submit" value="发布" >
            </div>
        </form>
    </div>
</main>

<script src="{:config('home_js')}/fabuxinxi.js"></script>
\
<script>

    $(function () {
        $("img").lazyload({
            threshold: 200,
            skip_invisible: false
        });
    });
</script>
<script>
    //侧导航点击
    $('.cedaohang-li').on('click', function (e) {
        $('.cedaohang-li').removeClass('cedaohang-active');
        $(e.target).addClass('cedaohang-active');
        var type_id = $(e.target).attr('type_id');
        type_id=parseInt(type_id)

        $.ajax({
            dataType:'json',
            type: "get",
            url: "{:url('home/user/fabuxinxi')}",
            data: {type_id},
            success:function (str) {
                var aa=JSON.stringify(str);
                JSON.parse(aa)
               //  for(var i=0;i<=aa.length;i++){
               //      var bb=aa[i].type_name;
               //      console.log(bb)
               //  }
               // alert(aa);
                // console.log(str,'1',2)
            }
        })
    });
</script>
</body>
</html>