<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人注册</title>
    <script src="{:config('home_js')}/jquery.js"></script>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/gerenzhuce.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<form class="form-horizontal" method="post" action="{$Request.url}">
    <div class="control-group">
        <div class="controls">
            <input type="text" name="nickname" value="{$shuju.nickname|default=''}" placeholder="请输入你的用户名" >
            <span style="color:red;">{$errorinfo.nickname|default=''}</span>
        </div>
        <label class="control-label"><i class="iconfont icon-mingcheng"></i></label>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="text" name="username" value="{$shuju.username|default=''}" placeholder="请输入你的账号" >
            <span style="color:red;">{$errorinfo.username|default=''}</span>
        </div>
        <label class="control-label"><i class="iconfont icon-ren111"></i></label>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="password" name="password" value="{$shuju.password|default=''}" placeholder="请设置6-20位数字或字符密码">
            <span style="color:red;">{$errorinfo.password|default=''}</span>
        </div>
        <label class="control-label"><i class="iconfont icon-suo"></i></label>
    </div>
    <div class="control-group">
        <div class="controls">
            <input type="password" name="password2" value="{$shuju.password2|default=''}" placeholder="请再次输入您的密码">
            <span style="color:red;">{$errorinfo.password2|default=''}</span>
        </div>
        <label class="control-label"><i class="iconfont icon-suo"></i></label>
    </div>
    <div class="control-group">
        <div class="controls">
            <input name="tel" type="text"  value="{$shuju.tel|default=''}" placeholder="请输入11位手机号">
            <span style="color:red;">{$errorinfo.tel|default=''}</span>
            <input type="button" value="获取验证码" class="hqyzm" onclick="send_sms()">
        </div>
        <label class="control-label"><i class="iconfont icon-shouji"></i></label>
    </div>
    <div class="control-group">
        <div class="controls">
            <input name='tel_code' type="text" value="{$shuju.tel_code|default=''}" placeholder="请输入验证码">
            <span style="color:red;">{$errorinfo|default=''}</span>
        </div>
        <label class="control-label"><i class="iconfont icon-yanzhengyanzhengma"></i></label>
    </div>
    <div class="control-group">.
        <div class="controls zc-controls">
            <label class="checkbox">
                <input type="checkbox">同意并已阅读《用户协议》
            </label>
            <div class="zhuce-button">
                <button type="submit" class="btn" >完成注册</button>
                <div class="fanhui-button"><a onclick=window.top.location="{:url('/')}">返回</a></div>
            </div>

        </div>
    </div>
</form>
<script>
    //ajax请求服务器端给手机发送短信
    function send_sms(){
        var tel = $('[name=tel]').val();
        $.ajax({
            url:"{:url('home/user/sendsms')}",
            data:{tel:tel},
            dataType:'json',
            type:'post',
            success:function(msg){
                if(msg.status=='success'){
                    $('#sms_result').html('发送成功');
                }else{
                    $('#sms_result').html('发送失败');
                }
            }
        });
    }
    // 给form表单设置submit注册事件
    // $('.form-horizontal').submit(function(evt){
    //     //evt（自定义）是当前submit的时间对象
    //     //阻止真实的form表单浏览器提交执行
    //     evt.preventDefault();
    //     //序列化收集form表单的信息
    //     var shuju = $(this).serialize();
    //     $.ajax({
    //         url:"{:url('home/user/gerenzhuce')}",
    //         data:shuju,
    //         datatype:'json',
    //         type:'post',
    //         success:function(msg){
    //             if(msg.status=='success'){
    //                 alert('注册成功');
    //                 parent.location.href = "../index/index";
    //             }else{
    //                 window.location.href = "zhuceshibai";
    //             }
    //         }
    //     });
    // });

</script>
<!--<script src="{:config('home_js')}/gerenzhuce.js"></script>-->
</body>
</html>