<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信息管理</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/xinxiguanli.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    #divUL div{
        float: left;
    }

</style>

<body>
<main>
    <div class="main-title-box">
        <div class="main-title">
            <a href="{:url('home/user/fabuxinxi')}" class="main-title-a">发布信息</a>
            <a href="{:url('home/user/xinxiguanlishouye')}" class="main-title-a a-active">信息管理</a>
        </div>
    </div>
    <div class="main-form-box">
        <form action="{$Request.url}" method="post" enctype="multipart/form-data">
            <!--上传产品信息-->
            <div class="form-text-big-box">
                <div class="select-div" style="padding-left: 40px;color: #7b7b7b;font-size: 16px;height: 44px;line-height: 44px;">
                    {$type_data1.type_name}
                </div>
                <div class="select-div">
                    <select name="type_xj" id="" class="select-box" >
                        <option value="{$type_data2.type_id}" class="select-option">{$type_data2.type_name}</option>
                        {volist name='type_data22' id='data22'}
                        <option value="{$data22.type_id}" class="select-option">{$data22.type_name}</option>
                        {/volist}
                    </select>
                </div>
                <ul class="form-text-ul">
                    <li class="form-text-li">
                        <label for="">产品名称</label>
                        <input type="text" name="cus_proname" value="{$user_data.cus_proname|default=''}" placeholder="点击输入">
                        <span style="color:red;">{$errorinfo.cus_proname|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">产品长度(mm)</label>
                        <input type="text" name="cus_length" value="{$user_data.cus_length|default=''}" placeholder="点击输入">
                        <span style="color:red;">{$errorinfo.cus_length|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">产品宽度(mm)</label>
                        <input type="text" name="cus_width" value="{$user_data.cus_width|default=''}" placeholder="点击输入">
                        <span style="color:red;">{$errorinfo.cus_width|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">产地</label>
                        <input type="text" name="cus_place" value="{$user_data.cus_place|default=''}" placeholder="点击输入">
                        <span style="color:red;">{$errorinfo.cus_place|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">芯体</label>
                        <select name="cus_core" id="1">
                            <option name="cus_core" value="{$user_data.cus_core|default=''}">{$user_data.cus_core|default=''}-</option>
                            <option value="吸水纸">吸水纸</option>
                            <option value="木浆+高分子">木浆+高分子</option>
                        </select>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">供货时间</label>
                        <input type="text" name="cus_supply" value="{$user_data.cus_supply|default=''}" placeholder="点击输入">
                        <span style="color:red;">{$errorinfo.cus_supply|default=''}</span>
                    </li>
                    <li class="form-text-li">
                        <label for="">订单量</label>
                        <input type="text" name="cus_orders" value="{$user_data.cus_orders|default=''}" placeholder="请根据实际情况填写并自带单位">
                        <span style="color:red;">{$errorinfo.cus_orders|default=''}</span>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">设备新旧程度</label>
                        <select name="cus_condition" value="">
                            <option name="cus_condition" value="{$user_data.cus_condition|default=''}">{$user_data.cus_condition|default=''}-</option>
                            <option value="9成新">9成新</option>
                            <option value="8成新">8成新</option>
                            <option value="7成新">7成新</option>
                            <option value="6成新">6成新</option>
                            <option value="5成新">5成新</option>
                        </select>
                    </li>
                    <li class="form-text-li">
                        <label for="">金属检测</label>
                        <select name="cus_metal">
                            <option name="cus_metal" value="{$user_data.cus_metal|default=''}">{$user_data.cus_metal|default=''}-</option>
                            <!--<option value="-1">- 请选择 -</option>-->
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </li>
                    <li class="form-text-li-1">
                        <label for="">视觉检测</label>
                        <select name="cus_vision">
                            <option name="cus_vision" value="{$user_data.cus_vision|default=''}">{$user_data.cus_vision|default=''}-</option>
                            <option value="有">有</option>
                            <option value="无">无</option>
                        </select>
                    </li>
                    <li class="form-text-li">
                        <label for="">包装形式</label>
                        <select name="cus_pack">
                            <option name="cus_pack" value="{$user_data.cus_pack|default=''}">{$user_data.cus_pack|default=''}-</option>
                            <option value="全自动包装">全自动包装</option>
                            <option value="半自动包装">半自动包装</option>
                            <option value="手工包装">手工包装</option>
                        </select>
                    </li>
                </ul>
            </div>
            <!--上传图片-->
            <div class="form-img-big-box">
                <div class="form-img-box-left">
                    <!--这是要展示上传图片的div以及img标签-->
                    <div id="localImag">
                        主图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc' name='cus_pic' value="" onclick="inputimg('cus_pic','lacalImag','preview','doc')"></label>
                        <img data-original="{:config('public_uploads')}/{$user_data.cus_pic}" id="preview" alt="">
                    </div>
                </div>
                <div class="form-img-box-right">
                    <div id="localImag2" class="localImag">
                        副图一(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc2' name='cus_pic1' value="" onclick="inputimg('cus_pic1','lacalImag2','preview2','doc2')"></label>
                        <img data-original="{:config('public_uploads')}/{$user_data.cus_pic1}" id="preview2" alt="">
                    </div>
                    <div id="localImag3" class="localImag">
                        副图二(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc3' name='cus_pic2' value="" onclick="inputimg('cus_pic2','lacalImag3','preview3','doc3')"></label>
                        <img data-original="{:config('public_uploads')}/{$user_data.cus_pic2}" id="preview3" alt="">
                    </div>
                    <div id="localImag4" class="localImag">
                        副图三(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc4' name='cus_pic3' value="" onclick="inputimg('cus_pic3','lacalImag4','preview4','doc4')"></label>
                        <img data-original="{:config('public_uploads')}/{$user_data.cus_pic3}" id="preview4" alt="">
                    </div>
                </div>
            </div>
            <div class="form-button">
                <input type="submit" value="保存">
            </div>
        </form>
    </div>
</main>

<script src="{:config('home_js')}/fabuxinxi.js"></script>
<script>
    $(function() {
        $("img").lazyload({
            threshold : 200
        });
    });
</script>
</body>
</html>