<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>信息管理首页</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/xinxiguanlishouye.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    #divUL div {
        float: left;
    }

</style>

<body>
<main>
    <!--侧导航-->
    <ul class="cedaohang-dingwei">
        {volist name='left_data' id='ty'}
        <a style="text-decoration:none; color: white" href="{:url('/home/user/xinxiguanlishouye',['pid' => $ty.type_id])}">
        <li class="cedaohang-li {if condition='$ty.type_id eq $pid'}cedaohang-active{/if}" id="{$ty.type_id}">{$ty.type_name}加工</li>
        </a>
        {/volist}
    </ul>
    <div class="main-title-box">
        <div class="main-title">
            <a href="{:url('home/user/fabuxinxi')}" class="main-title-a">发布信息</a>
            <a href="{:url('home/user/xinxiguanlishouye')}" class="main-title-a a-active">信息管理</a>
        </div>
    </div>
    <div class="main-form-box">
        <ul class="form-ul">
            {volist name='info' id='proname'}
            <li class="form-li">
                <div class="form-img">
                    <img data-original="{:config('home_img')}/a2.png" alt="">
                    <div class="img-zhezhao">
                        <div class="img-zhezhao-text" style="">
                            <a href="{:url('home/user/xinxiguanli',['id'=>$proname.cus_id])}">点击进入编辑</a>
                            <a href="javascript:;" onclick="shanchu('{$proname.cus_id}')">点击删除</a>
                        </div>
                    </div>

                </div>
                <div class="form-li-title">{$proname.cus_proname}</div>
            </li>
            {/volist}
        </ul>



        <!--分页-->
        <div class="main-fenye-box">
            <span class="main-sy">首页</span>
            <div class="main-syy">上一页</div>
            <ul>
                <li class="right-bottom-click">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li>
            </ul>
            <div class="main-xyy">下一页</div>
            <div class="main-tiaozhuan">
                <span class="tiaozhuan">跳转</span>
                <input type="text" value="">
                <span>页</span>
            </div>
            <span class="main-wy">尾页</span>
        </div>
    </div>
</main>

<script src="{:config('home_js')}/xinxiguanlishouye.js"></script>
<script>
    $(function() {
        $("img").lazyload({
            threshold : 200,
            skip_invisible : false
        });
    });
</script>
<script>
    function shanchu(cusid) {
        var flag=confirm('是否确认删除')
        alert(cusid)
        if(flag){
            $.ajax({
                url: "{:url('home/user/delcpdz')}",
                type: 'get',
                data: {cusid},
                dataType: JSON,
                success: function (res) {
                    alert('删除成功')
                },
                error:function (res) {
                    alert('删除失败');
                }
            })
        }
    }
</script>
</body>
</html>