<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<script src="{:config('home_js')}/jquery.js"></script>
<script>
    $(function () {
        alert('注册失败，请重新注册');
        window.location.href = 'gerenzhuce';
    })
</script>
</body>
</html>