<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>忘记密码</title>
    <link rel="stylesheet" href="{:config('home_css')}/htwjmm.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>

</style>
<body style="background-image: url('{:config(\'home_img\')}/wangjimima/wjmmbj.jpg');background-size: 100%;background-repeat: no-repeat">
<header>
    <div class="headerLogo">
        <a href="">
            <img src="{:config('home_img')}/a0.png" alt="">
        </a>
    </div>
    <div class="headerTitle">
        修改密码
    </div>
</header>
<main>
    <div class="mainFormBox">
        <div class="mainFormLogo">
            <img src="{:config('home_img')}/wangjimima/logo(1).png" alt="">
        </div>
        <div class="mainFormTextOne">
            卫品共享工厂
        </div>
        <div class="mainFormTextTwo">
            Hygiene Kits Sharing Factory
        </div>
        <div class="mainForm">
            <form action="">
                <div class="labelInputBox">
                    <label>账号：</label>
                    <input type="text" placeholder="请输入账号">
                </div>
                <div class="labelInputBox">
                    <label>邮箱：</label>
                    <input type="email" placeholder="请输入账号绑定的邮箱(验证信息将发送到此邮箱)">
                </div>
                <div class="mainSubmit">
                    <input type="submit" value="发送">
                </div>
            </form>
        </div>
    </div>
</main>
</body>
</html>