<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <td>当前在线用户：<input type="text" value="{$info}" />位个人用户</td>
    <br>
    <button onclick="window.history.go(0)">刷新</button>
    <td>注：如想知道，登录在线人数是否增加减少，点击此刷新即可，更为方便。</td>
    <br>
    <td>注1：此为测试版本，如有误，请谅解。</td>
    <br>
    <td>注2：可看到前台首页-个人用户-的在线人数，不包括企业后台登录。仅供参考。</td>
</body>
</html>