<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>价格行情</title>
  <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
  <link rel="stylesheet" href="{:config('home_css')}/jghq.css">
  <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
  <link rel="stylesheet" href="{:config('home_css')}/foot_base.css">
  <script src="{:config('home_js')}/jquery.js"></script>
  <script src="{:config('home_js')}/jquery.lazyload.js"></script>
  <script src="{:config('home_js')}/bootstrap.js"></script>
  <!--[if lt IE 9]>
  <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<style type="text/css">
    .pagination li{list-style:none;float:left;margin-left:5px;
        padding:0 10px;
        background-color:white;
        border:1px solid #ccc;
        height:26px;
        line-height:26px;
        cursor:pointer;
        color:#fff;
        font-size: 14px;
    }
    .pagination li a{color:#5a98de;}
    .pagination li.active{background-color:#5a98de;color:#fff;}
    .pagination li.disabled{background-color: #969696;color:#fff;}
</style>
<body>
  <header class="header-box">
    <div class="header-centre">
      <ul class="header-left">
        <li><a href="">
            <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
          </a></li>
        {notempty name='$Request.session.nickname'}
        【{$Request.session.nickname}】
        <span><a href="{:url('home/user/loginout')}">退出登录</a></span>
        {else /}
        <li><a href="{:url('home/user/login')}">
            <div class="h-l-t">请登陆 |</div>
          </a></li>
        <li><a href="{:url('home/user/register')}">
            <div class="h-l-t">免费注册</div>
          </a></li>
        {/notempty}
      </ul>
      <ul class="header-right">
        <li><a href="/">
            <div class="h-l-t">工厂首页 |</div>
          </a></li>
        <li><a href="{:url('admin/user/login')}">
            <div class="h-l-t">工厂登陆 |</div>
          </a></li>
        <li><a href="{:url('home/user/accountcenter')}">
            <div class="h-l-t">个人中心 |</div>
          </a></li>
        <li><a href="{:url('home/index/shoucangjia')}">
            <div class="h-l-t">收藏夹</div>
          </a>
        </li>
      </ul>
    </div>
  </header>
  <!--搜索-->
  <div class="search-box">
    <div class="search-centre">
      <div class="sear-logo">
        <a href="{:url('/')}">
          <img data-original="{:config('home_img')}/a0.png" alt="">
        </a>
      </div>
      <div class="search-c-b">
        <form action="{:url('home/index/tpsousuo')}" method="get" name="form">
          <div class="search">
            <div class="search-fram">
              <div class="s-f-i-i">
                <img data-original="{:config('home_img')}/aa.png" alt="">
              </div>
              <input type="text" placeholder="" value="" name="keywords">
            </div>
            <button class="search-button" style="border: none"><i class="iconfont icon-fangdajing"></i></button>
          </div>
        </form>
      </div>

      <div class="search-right-b">
        <div class="s-trademark">
          <div>
            <img data-original="{:config('home_img')}/a1.png" alt="">
          </div>
          <span>海量工厂</span>
        </div>
        <div class="s-trademark">
          <div>
            <img data-original="{:config('home_img')}/a2.png" alt="">
          </div>
          <span>产品定制</span>
        </div>
        <div class="s-trademark">
          <div>
            <img data-original="{:config('home_img')}/a3.png" alt="">
          </div>
          <span>团购批发</span>
        </div>
      </div>
    </div>
  </div>
  <!--导航-->
    <div class="daohang-box">
      <ul>
        <a href="{:url('/')}">
          <li>首页</li>
        </a>
        <!-- <a href="{:url('home/custom/custom')}"  target="_blank">
    					<li>产品定制</li>
    				</a> -->
        <a href="{:url('home/stickacard/stickacard')}" target="_blank">
          <li>成品专区</li>
        </a>
        <a href="" target="_blank">
          <li>材料专区</li>
        </a>
        <a href="{:url('home/shebeitransfer/shebeitransfer')}" target="_blank">
          <li>设备专区</li>
        </a>
        <a href="{:url('home/inspection/inspection')}" target="_blank">
          <li>全部工厂</li>
        </a>
        <!-- <a href="{:url('home/documentary/documentary')}"  target="_blank">
    					<li>跟单专家</li>
    				</a> -->
        <!-- <a href="{:url('home/index/wlpf')}"  target="_blank">
    					<li>工厂直批</li>
    				</a> -->
        <a href="{:url('home/jghq/jghq')}" target="_blank">
          <li>行业动态</li>
        </a>
      </ul>
    </div>

  <!-- 主体 -->
  <main>
    <div class="MainLeftBigBox">

      <!-- banner_box  -->

      <div class="BannerBox">
        <!-- banner_title -->
        <div class="BannerTitleBox">
          {volist name='banneritem' id='banitem' key='k'}
          {eq name='$k' value='1'}
          <div class="BannerTitle BannerTitleActive">
            {$banitem.bantitle}
          </div>
          {else/}
          <div class="BannerTitle">
            {$banitem.bantitle}
          </div>
          {/eq}
          {/volist}
        </div>

        <!-- banner -->
        <div class="BannerImageBox">
          <!-- banner图片 -->
          {volist name='banneritem' id='banitem' key='k'}
          {eq name='$k' value='1'}
          <div class="BannerImage0 BannerImage1">
            <a href="{:url('/jghqdetails'.'/'.$banitem.hm_id)}">
              <img src="{$banitem.bitem_img}" alt="">
            </a>
          </div>
          {else/}
          <div class="BannerImage0">
            <a href="{:url('/jghqdetails'.'/'.$banitem.hm_id)}">
              <img src="{$banitem.bitem_img}" alt="">
            </a>
          </div>
          {/eq}
          {/volist}

          <!-- banner个数圆 -->
          <div class="BannerRoundBox">
            {volist name='banneritem' id='banitem' key='k'}
            {eq name='$k' value='1'}
            <div class="BannerRound BannerRoundActive">{$k}</div>
            {else/}
            <div class="BannerRound">{$k}</div>
            {/eq}
            {/volist}
          </div>
        </div>

        <!-- banner_text -->
        <div class="BannerContentBox">
          {volist name='banneritem' id='banitem' key='k'}
          {eq name='$k' value='1'}
          <div class="BannerContent BannerContentActive">
            {$banitem.banessay}
          </div>
          {else/}
          <div class="BannerContent">
            {$banitem.banessay}
          </div>
          {/eq}
          {/volist}
        </div>

      </div>

      <!-- 内容盒子 -->
      <div class="MainLeftContentBox">
        <div class="MainLeftContentLeftTypeBox">
          <div class="LeftContentLeftTypeTitle">全部分类</div>
          <div class="LeftContentLeftTypeTextBox">
            {volist name='categorygas' id='ca'}
            <div class="TypeTextBox">
              {eq name='$ca.cgall' value='-1'}
              <div class="TypeTextFirst"><a href="{:url('home/jghq/jghq',['caflag'=>'-1','bzflag'=>'-2'])}">{$ca.caname}</a></div>
              {else/}
              <div class="TypeTextFirst">{$ca.caname}</div>
              {/eq}
              <ul class="TypeTextFirstSecond">
                {volist name='categorygbs' id='cb' key='k'}
                {eq name='$cb.ca_id' value='$ca.caid'}
                {eq name='$k' value='1'}
                <li><a href="{:url('home/jghq/jghq',['cbflag'=>$cb.ca_id,'bzflag'=>$cb.cgall])}" class="A_Active">{$cb.cbname}</a></li>
                {else/}
                  {eq name='$cb.cgall' value='-1'}
                  <li><a href="{:url('home/jghq/jghq',['cbflag'=>$cb.ca_id,'bzflag'=>$cb.cgall])} " class="">{$cb.cbname}</a></li>
                  {else/}
                  <li><a href="{:url('home/jghq/jghq',['cbflag'=>$cb.cbid,'bzflag'=>$cb.cgall])} " class="">{$cb.cbname}</a></li>
                  {/eq}
                {/eq}
                {/eq}
                {/volist}
              </ul>
            </div>
            {/volist}
          </div>
        </div>

        <div class="MainLeftContentRightBox">
          <ul class="LeftContentRightUL">
            <li>
              {volist name='hotmarket' id='hm'}
              <a href="{:url('/jghqdetails'.'/'.$hm.hmid)}">
                <div class="LiContentTime">{$hm.create_time}</div>
                <div class="LiContentText">
                  {$hm.hmtitle}
                </div>
              </a>
              {/volist}
            </li>
          </ul>
          <!-- 分页 -->
          <div class="MainLeftFY">
            {$pagelist}
          </div>
        </div>
      </div>
    </div>

    <div class="MainRightBigBox">
      <div class="MainRightTitle">热点行情</div>
      <ul class="MainRightContentBox">
        {volist name='hotspot' id='hs'}
        <a href="{:url('/jghqdetails'.'/'.$hs.hmid)}">
        <li>
          <div class="MainRightImage">
            <img data-original="{$hs.hsimg}" alt="">
          </div>
          <div class="MainRightContentBox">
            <div class="MainRightContentTitle">{$hs.hmtitle}</div>
            <div class="MainRightContentText">{$hs.hsessay}</div>
          </div>
        </li>
        </a>
        {/volist}
      </ul>
    </div>

  </main>


  <!--页脚-->
  <div class="footer">
    <footer>
      <div class="footer-left">
        <div class="footer-content-box">
          <strong class="footer-l-title">工厂指南</strong>
          <ul class="footer-l-ul">
            <li class="footer-l-li"><a href="">成长攻略</a></li>
          </ul>
        </div>
        <div class="footer-content-box">
          <strong class="footer-l-title">定制指南</strong>
          <ul class="footer-l-ul">
            <li class="footer-l-li"><a href="">加工定制</a></li>
            <li class="footer-l-li"><a href="">加工攻略</a></li>
          </ul>
        </div>
        <div class="footer-content-box">
          <strong class="footer-l-title">关于我们</strong>
          <ul class="footer-l-ul">
            <li class="footer-l-li"><a href="">联系我们</a></li>
            <li class="footer-l-li"><a href="">广告报价</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-right">
        <div class="footer-weixin-box">
          <div class="footer-weixin-img">
            <img data-original="{:config('home_img')}/weigzh.png" alt="">
          </div>
          <div class="footer-r-weixin-text">微信公众号</div>
        </div>
        <div class="footer-weixin-box">
          <div class="footer-weixin-img">
            <img data-original="{:config('home_img')}/weikefu.png" alt="">
          </div>
          <div class="footer-r-weixin-text">客服微信</div>
        </div>
        <div class="footer-weixin-box">
          <div class="footer-r-tel-title">客服电话</div>
          <div class="footer-r-tel-content">0571-86169936</div>
        </div>
      </div>
    </footer>
  </div>
  <div class="footer-beian">版权2018-2028 @ 杭州博卫传媒有限公司 闽ICP备16026715号</div>
  <!--结束-->


  <script src="{:config('home_js')}/jghq.js"></script>
  <script>
    $(function () {
      $("img").lazyload({
        threshold: 200,
        skip_invisible: false
      });
    });
  </script>
</body>

</html>