<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>资讯详情</title>
  <link rel="stylesheet" href="{:config('home_css')}/jghqdetails.css">
  <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
  <link rel="stylesheet" href="{:config('home_css')}/foot_base.css">
  <script src="{:config('home_js')}/jquery.js"></script>
  <script src="{:config('home_js')}/jquery.lazyload.js"></script>
</head>

<body>
<header class="header-box">
  <div class="header-centre">
    <ul class="header-left">
      <li>
        <a href="">
          <div class="h-f-i">
            <div class="header-img">
              <img data-original="{:config('home_img')}/asjgc.jpg" alt="">
            </div>
            <div class="h-l-t">手机工厂 |</div>
          </div>
        </a>
      </li>
      <li><a href="">
          <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
        </a></li>
      <li><a href="">
          <div class="h-l-t">请登陆 |</div>
        </a></li>
      <li><a href="">
          <div class="h-l-t">免费注册</div>
        </a></li>
    </ul>
    <ul class="header-right">
      <li><a href="">
          <div class="h-l-t">工厂首页 |</div>
        </a></li>
      <li><a href="">
          <div class="h-l-t">我的工厂 |</div>
        </a></li>
      <li><a href="">
          <div class="h-l-t">收藏夹(<span>0</span>) |</div>
        </a>
      </li>
      <li><a href="">
          <div class="h-l-t">实力商家 |</div>
        </a></li>
      <li><a href="">
          <div class="h-l-t">我是供应商 |</div>
        </a></li>
      <li><a href="">
          <div class="h-l-t">客服中心 |</div>
        </a></li>
      <li><a href="">
          <div class="h-l-t">网站导航</div>
        </a></li>
    </ul>
  </div>
</header>

<div class="header">
  <div class="header-box-box">
    <div class="header-logo">
      <img data-original="{:config('home_img')}/a0.png" alt="">
    </div>
    <div class="header-right-box">
      <a href="" class="header-shoucangjia">
        <i class="iconfont icon-iconxingjikongxin"></i>
        <span class="header-text">收藏夹</span>
      </a>
      <a href="" class="header-shoucangjia">
        <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
        <span class="header-text">已关注</span>
      </a>
      <a href="" class="header-shoucangjia">
        <i class="iconfont icon-dinghuodan"></i>
        <span class="header-text">订货单</span>
      </a>
    </div>
  </div>
</div>
<!--导航-->
<div class="daohang">
  <div class="daohang">
    <nav>
      <a href="{:url('/')}" target="_blank">首页</a>
      <!-- <a href="{:url('home/custom/custom')}" target="_blank">产品定制</a> -->
      <a href="{:url('home/stickacard/stickacard')}" target="_blank">成品专区</a>
      <a href="" target="_blank">材料专区</a>
      <a href="{:url('home/inspection/inspection')}" target="_blank">全部工厂</a>
      <a href="{:url('home/shebeitransfer/shebeitransfer')}" target="_blank">设备专区</a>
      <!-- <a href="{:url('home/documentary/documentary')}" target="_blank">跟单专家</a> -->
      <a href="{:url('home/jghq/jghq')}" target="_blank">行业动态</a>
      <!-- <a href="javascript:;">工厂直批</a> -->
    </nav>
  </div>
</div>

<!--网页路径-->
<div class="lujing-box">
  <div class="lujing">
    <div class="lujing-right">
      <i class="iconfont icon-weizhi"></i>
      <span><a href="{:url('/')}" style="color: #555555;text-decoration: none;">首页</a></span>
      <i class="iconfont icon-shuangjiantouyou"></i>
      <span><a href="{:url('home/jghq/jghq')}" style="color: #555555;text-decoration: none;">价格行情</a></span>
      <i class="iconfont icon-shuangjiantouyou"></i>
      <span>资讯详情</span>
    </div>
  </div>
</div>
<!-- 主体 -->
<main>
  <div class="MainTitleBox">
    <div class="MainTitle">{$pdid.hmtitle}</div>
    <div class="MainAuthorBox">
      <div class="MainAuthor">{$pdid.hmauthor}</div>
      <div class="MainTime">{$pdid.create_time}<i class="iconfont icon-biao"></i></div>
    </div>
  </div>
  <div class="MainContent">
    {$pdid.hmtext}
  </div>
</main>
<!-- 返回顶部 -->
<div class="FHDB"><i class="iconfont icon-dfs13"></i></div>
<!--页脚-->
<div class="footer">
  <footer>
    <div class="footer-left">
      <div class="footer-content-box">
        <strong class="footer-l-title">工厂指南</strong>
        <ul class="footer-l-ul">
          <li class="footer-l-li"><a href="">成长攻略</a></li>
        </ul>
      </div>
      <div class="footer-content-box">
        <strong class="footer-l-title">定制指南</strong>
        <ul class="footer-l-ul">
          <li class="footer-l-li"><a href="">加工定制</a></li>
          <li class="footer-l-li"><a href="">加工攻略</a></li>
        </ul>
      </div>
      <div class="footer-content-box">
        <strong class="footer-l-title">关于我们</strong>
        <ul class="footer-l-ul">
          <li class="footer-l-li"><a href="">联系我们</a></li>
          <li class="footer-l-li"><a href="">广告报价</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-right">
      <div class="footer-weixin-box">
        <div class="footer-weixin-img">
          <img data-original="{:config('home_img')}/weigzh.png" alt="">
        </div>
        <div class="footer-r-weixin-text">微信公众号</div>
      </div>
      <div class="footer-weixin-box">
        <div class="footer-weixin-img">
          <img data-original="{:config('home_img')}/weikefu.png" alt="">
        </div>
        <div class="footer-r-weixin-text">客服微信</div>
      </div>
      <div class="footer-weixin-box">
        <div class="footer-r-tel-title">客服电话</div>
        <div class="footer-r-tel-content">0571-86169936</div>
      </div>
    </div>
  </footer>
</div>
<div class="footer-beian">版权2018-2028 @杭州博卫传媒有限公司 闽ICP备16026715号</div>


  <script src="{:config('home_js')}/jghqdetails.js"></script>
  <script>
    $(function () {
      $("img").lazyload({
        threshold: 200,
        skip_invisible: false
      });
    });
  </script>
</body>

</html>