<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>加工专区</title>
    <link rel="stylesheet" href="{:config('home_css')}/stickacard.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <link rel="stylesheet" href="{:config('home_css')}/foot_base.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <script src="{:config('home_js')}/jquery.anchorScroll.min.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header-box">
    <div class="header-centre">
        <ul class="header-left">
            
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            {notempty name='$Request.session.nickname'}
            【{$Request.session.nickname}】
            <span><a href="{:url('home/user/loginout')}">退出登录</a></span>
            {else /}
            <li><a href="{:url('home/user/login')}">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/register')}">
                <div class="h-l-t">免费注册</div>
            </a></li>
            {/notempty}
        </ul>
        <ul class="header-right">
            <li><a href="/">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="{:url('admin/user/login')}">
                <div class="h-l-t">工厂登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/accountcenter')}">
                <div class="h-l-t">个人中心 |</div>
            </a></li>
            <li><a href="{:url('home/index/shoucangjia')}">
                <div class="h-l-t">收藏夹</div>
            </a>
            </li>
        </ul>
    </div>
</header>
<!--搜索-->
<div class="search-box">
    <div class="search-centre">
        <div class="sear-logo">
            <a href="{:url('/')}">
            <img data-original="{:config('home_img')}/a0.png" alt="">
            </a>
        </div>

        <div class="search-c-b">
            <form action="{:url('home/index/tpsousuo')}" method="get" name="form">
                <div class="search">
                    <div class="search-fram">
                        <div class="s-f-i-i">
                            <img data-original="{:config('home_img')}/aa.png" alt="">
                        </div>
                        <input type="text" placeholder="" value="" name="keywords">
                    </div>
                    <button class="search-button" style="border: none"><i class="iconfont icon-fangdajing"></i></button>
                </div>
            </form>
        </div>

        <div class="search-right-b">
            <div class="s-trademark">
                <div>
                    <img data-original="{:config('home_img')}/a1.png" alt="">
                </div>
                <span>海量工厂</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img data-original="{:config('home_img')}/a2.png" alt="">
                </div>
                <span>产品定制</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img data-original="{:config('home_img')}/a3.png" alt="">
                </div>
                <span>团购批发</span>
            </div>
        </div>
    </div>
</div>
<!--导航-->
<div class="daohang-box">
    <ul>
        <a href="javascript:;">
            <li class="daohang-f-li"></li>
        </a>
        <a href="{:url('/')}"  target="_blank">
            <li>首页</li>
        </a>
        <a href="{:url('home/custom/custom')}"  target="_blank">
            <li>产品定制</li>
        </a>
        <a href="{:url('home/stickacard/stickacard')}">
            <li>加工专区</li>
        </a>
        <a href="{:url('home/inspection/inspection')}"  target="_blank">
            <li>优选验厂</li>
        </a>
        <a href="{:url('home/shebeitransfer/shebeitransfer')}"  target="_blank">
            <li>设备转让</li>
        </a>
        <a href="{:url('home/documentary/documentary')}"  target="_blank">
            <li>跟单专家</li>
        </a>
        <a href="{:url('home/index/wlpf')}"  target="_blank">
            <li>网络批发</li>
        </a>
        <a href="">
            <!--<li class="daohang-fabu"><div class="daohang-yuan"></div>我的工厂>></li>-->
        </a>
    </ul>
</div>
<!--banner-->
<div class="banner-box">
    <div class="banner-c-box">
        <div class="banner-img">
            <a href="" class="banner-c-img" banner_color="{:config('home_img')}/stickacard/2.png">
                <img data-original="{:config('home_img')}/stickacard/1.png" alt="">
            </a>
            <a href="" class="banner-c-img" banner_color="{:config('home_img')}/stickacard/4.png">
                <img data-original="{:config('home_img')}/stickacard/3.png" alt="">
            </a>
            <!--<div class="banner-c-img" banner_color="#3fb799">-->
            <!--<img data-original="{:config('home_img')}/byc.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="banner-c-img" banner_color="#3f42b7">-->
            <!--<img data-original="{:config('home_img')}/banner.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="banner-c-img" banner_color="#42ff00">-->
            <!--<img data-original="{:config('home_img')}/banner.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="banner-c-img" banner_color="#f0ff00">-->
            <!--<img data-original="{:config('home_img')}/banner.jpg" alt="">-->
            <!--</div>-->

            <ul class="banner-dian-box">
                <li class="banner-dian" banner_id="0"></li>
                <li class="banner-dian" banner_id="1"></li>
                <!--<li class="banner-dian" banner_id="2"></li>-->
                <!--<li class="banner-dian" banner_id="3"></li>-->
                <!--<li class="banner-dian" banner_id="4"></li>-->
                <!--<li class="banner-dian" banner_id="5"></li>-->
            </ul>
        </div>
        <ul class="ce-daohang">
            <!--<a href="javascript:;">-->
                <!--<li><i class="iconfont icon-daohang"></i>工厂产品分类</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>卫生用品定制</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>纸尿裤加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>经期裤加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>湿纸巾加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>卫生巾加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>护理垫加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>生活用纸加工</li>-->
            <!--</a>-->
        </ul>
    </div>

</div>
<!--主体-->
<main>
    <!--加工专区-->
    <div class="main-jgzq-box">
        <a href="{:url('home/stickacard/tiepaigengduo',['ypeame'=>'卫生巾','yped'=>1])}">
            <div class="jgzq-wsjjg">
                <div class="jgzq-wsjjg-text">卫生巾专区</div>
                <div class="jgzq-wsjjg-img">
                    <img data-original="{:config('home_img')}/stickacard/wsj.png" alt="">
                </div>
            </div>
        </a>
        <a href="{:url('home/stickacard/tiepaigengduo',['ypeame'=>'婴儿纸尿裤','yped'=>2])}">
            <div class="jgzq-znkjg">
                <div class="jgzq-wsjjg-text">纸尿裤专区</div>
                <div class="jgzq-wsjjg-img">
                    <img data-original="{:config('home_img')}/stickacard/znk.png" alt="">
                </div>
            </div>
        </a>
        <a href="{:url('home/stickacard/tiepaigengduo',['ypeame'=>'经期裤','yped'=>7])}">
            <div class="jgzq-jqkjg">
                <div class="jgzq-wsjjg-text">经期裤专区</div>
                <div class="jgzq-wsjjg-img">
                    <img data-original="{:config('home_img')}/stickacard/jqk.png" alt="">
                </div>
            </div>
        </a>
        <a href="{:url('home/stickacard/tiepaigengduo',['ypeame'=>'湿纸巾','yped'=>4])}">
            <div class="jgzq-szjjg">
                <div class="jgzq-wsjjg-text">湿纸巾专区</div>
                <div class="jgzq-wsjjg-img">
                    <img data-original="{:config('home_img')}/stickacard/zj.png" alt="">
                </div>
            </div>
        </a>
        <a href="{:url('home/stickacard/tiepaigengduo',['ypeame'=>'乳垫','yped'=>10])}">
            <div class="jgzq-gzjjg">
                <div class="jgzq-wsjjg-text">乳垫专区</div>
                <div class="jgzq-wsjjg-img">
                    <img data-original="{:config('home_img')}/stickacard/rd.png" alt="">
                </div>
            </div>
        </a>
        <a href="{:url('home/stickacard/tiepaigengduo',['ypeame'=>'护理垫','yped'=>8])}">
            <div class="jgzq-hldjg">
                <div class="jgzq-wsjjg-text">护理垫专区</div>
                <div class="jgzq-wsjjg-img">
                    <img data-original="{:config('home_img')}/stickacard/hld.png" alt="">
                </div>
            </div>
        </a>
    </div>
    <!--加工工厂-->
    {volist name='type' id='v1' key='k'}
    {volist name='info' id='vv' key='j'}
    {eq name='$j' value='$k'}
    <div class="main-jggc-box">
        <div class="jggc-title">{$v1.type_name} <a href="{:url('home/stickacard/tiepaigengduo',['ypeame'=>$v1.type_name,'yped'=>$v1.type_id])}" class="jggc-gd">更多 <i class="iconfont icon-shuangjiantouyou"></i></a></div>
        {volist name='$vv' id='v' offset='0' length='5'}
        <div class="jggc-content-box">
            <div class="jggc-content">
                <a href="{:url('home/stickacard/tiepaixiangqing',['id'=>$v.id])}" class="jggc-content-img" target="_blank">
                    <img data-original="{:config('public_uploads' )}/{$v.pic1}" alt="">
                </a>
                <div class="jggc-content-gsmc">{$v.company_name}</div>
                <div class="jggc-content-cppp">{$v.carname}</div>
                <div class="jggc-content-text-box">
                    <div class="jggc-content-text-num">
                        <span class="jggc-content-num-l">起订量:</span>
                        <span class="jggc-content-num-r">{$v.qdl}</span>
                    </div>
                    <div class="jggc-content-myd-box">
                        {eq name='$user.user_id' value='1'}
                        {eq name='$v.scbz' value='1'}
                        <div class="jggc-icon"  onclick="djsc(this,{$v.id})">
                            <i class="iconfont icon-xin1"></i><!--已收藏-->
                            <span class="jggc-icon-sc">已收藏</span>
                        </div>
                        {else/}
                        <div class="jggc-icon"  onclick="djsc(this,{$v.id})">
                            <i class="iconfont icon-xin"></i><!--未收藏-->
                            <span class="jggc-icon-sc">收藏</span>
                        </div>
                        {/eq}
                        {else/}
                        <div class="jggc-icon"  onclick="djsc(this,-1)">
                            <i class="iconfont icon-xin"></i><!--未收藏-->
                            <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                            <span class="jggc-icon-sc">收藏</span>
                        </div>
                        {/eq}
                    </div>
                </div>
            </div>
        </div>
        {/volist}
    </div>
    {/eq}
    {/volist}
    {/volist}
</main>
<!--页脚-->
<div class="footer">
    <footer>
        <div class="footer-left">
            <div class="footer-content-box">
                <strong class="footer-l-title">工厂指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">成长攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">定制指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">加工定制</a></li>
                    <li class="footer-l-li"><a href="">加工攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">关于我们</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">联系我们</a></li>
                    <li class="footer-l-li"><a href="">广告报价</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weigzh.png" alt="">
                </div>
                <div class="footer-r-weixin-text">微信公众号</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weikefu.png" alt="">
                </div>
                <div class="footer-r-weixin-text">客服微信</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-r-tel-title">客服电话</div>
                <div class="footer-r-tel-content">0571-86169936</div>
            </div>
        </div>
    </footer>
</div>
<div class="footer-beian">版权2018-2028 @ 杭州博卫传媒有限公司 闽ICP备16026715号</div>
<!--固定导航-->
<div class="gudingdaohang-box">
    <div class="guding-title">
        <img src="{:config('home_img')}/stickacard/tpwc1.png" alt="">
    </div>
    <ul>
        {volist name='type' id='v1'}
        <li class="guding-louceng">{$v1.type_name}</li>
        {/volist}
    </ul>

    <div class="guding-foot">
        <img src="{:config('home_img')}/stickacard/tpwc2.png" alt="">
    </div>
</div>

<script src="{:config('home_js')}/stickacard.js"></script>
<script>
    $(function() {
        $("img").lazyload({
            threshold: 200,
            skip_invisible : false
        });
    });
</script>
<script>
    var djsc=function (lay,id) {
        if(id==-1){
            window.location.href="{:url('home/user/login')}";
        }else{
            $.ajax({
                url:"{:url('home/stickacard/tpcollect')}",
                type:'post',
                data:{id},
                dataType:'JSON',
                success:function (res) {
                    if(res.fhz==200){
                        if(res.fhxx==1){
                            var str='<div class="jggc-icon"  onclick="djsc(this,'+res.cusid+')">\n' +
                                '                            <i class="iconfont icon-xin1"></i><!--已收藏-->\n' +
                                '                            <span class="jggc-icon-sc">已收藏</span>\n' +
                                '                        </div>';
                            $(lay).parent().html(str);
                            alert(res.info);
                        }else if(res.fhxx==2){
                            var str='<div class="jggc-icon"  onclick="djsc(this,'+res.cusid+')">\n' +
                                '                            <i class="iconfont icon-xin"></i><!--未收藏-->\n' +
                                '                            <span class="jggc-icon-sc">收藏</span>\n' +
                                '                        </div>';
                            $(lay).parent().html(str);
                            alert(res.info);
                        }
                    }else{
                        console.log(res.errorinfo);
                        alert(res.errorinfo);
                    }
                }
            })
        }
    }
</script>
</body>
</html>