<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>贴牌更多</title>
    <link rel="stylesheet" href="{:config('home_css')}/tiepaigengduo.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <link rel="stylesheet" href="{:config('home_css')}/foot_base.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header-box">
    <div class="header-centre">
        <ul class="header-left">
            
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            {notempty name='$Request.session.username'}
            【{$Request.session.username}】
            <span><a href="{:url('home/user/loginout')}">退出登录</a></span>
            {else /}
            <li><a href="{:url('home/user/login')}">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/register')}">
                <div class="h-l-t">免费注册</div>
            </a></li>
            {/notempty}
        </ul>
        <ul class="header-right">
            <li><a href="/">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="{:url('admin/user/login')}">
                <div class="h-l-t">工厂登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/accountcenter')}">
                <div class="h-l-t">个人中心 |</div>
            </a></li>
            <li><a href="{:url('home/index/shoucangjia')}">
                <div class="h-l-t">收藏夹</div>
            </a>
            </li>
        </ul>
    </div>
</header>
<!--导航-->
<div class="daohang">
    <nav>
        <a href="{:url('/')}">首页</a>
        <a href="{:url('home/custom/custom')}">产品定制</a>
        <a href="{:url('home/stickacard/stickacard')}">贴牌专区</a>
        <a href="{:url('home/inspection/inspection')}">优选验厂</a>
        <a href="{:url('home/shebeitransfer/shebeitransfer')}">设备转让</a>
        <a href="{:url('home/documentary/documentary')}">跟单专家</a>
        <a href="javascript:;">网络批发</a>
    </nav>
</div>

<!--网页路径-->
<div class="lujing-box">
    <div class="lujing">
        <div class="lujing-right">
            <i class="iconfont icon-weizhi"></i>
            <span>首页</span>
            <i class="iconfont icon-shuangjiantouyou"></i>
            <span>贴牌专区</span>
        </div>
    </div>
</div>

<!--主体-->
<main>
    <div class="main-fenlei-box">
        <div class="main-fenlei class_fenlei1">
            <div class="main-fenlei-title">所有类目</div>
            <div class="main-fenlei-content">
                {volist name='type' id='v1'}
                {eq name="v1.type_pid" value="0" }
                <span onclick="tpxq('{$v1.type_name}')">{$v1.type_name}</span>
                {/eq}
                {/volist}
            </div>
        </div>
        <!--<div class="main-fenlei class_fenlei2">-->
            <!--<div class="main-fenlei-title">所有地区</div>-->
            <!--<div class="main-fenlei-content">-->
                <!--{volist name='info' id='v'}-->
                <!--<span style="white-space:nowrap;"> { $v.Name} </span>-->
                <!--{/volist}-->
            <!--</div>-->
            <!--<div class="main-fenlei-gengduo" id="main-gengduo">更多</div>-->
        <!--</div>-->
    </div>
    <div class="main-content-box">
        <div class="main-content-title-box">
            <span class="main-content-title">{$tname}加工</span>
            <!--<span class="content-title-gg content-title-gg-active">全部</span>-->
            <!--{volist name='tinfo' id='v'}-->
            <!--<span class="content-title-gg">{$v.type_name}</span>-->
            <!--{/volist}-->
        </div>
        <div class="content-content-box">
            {volist name='cinfo' id='v'}
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="{:url('home/stickacard/tiepaixiangqing',['id'=>$v.id])}" class="jggc-content-img">
                        <img data-original="{:config('public_uploads' )}/{$v.pic1}" alt="">
                    </a>
                    <div class="jggc-content-gsmc">{$v.company_name}</div>
                    <div class="jggc-content-cppp">{$v.carname}</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">{$v.qdl}</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
    <!--分页-->
    <div class="main-fenye-box">
        <span class="main-sy">首页</span>
        <div class="main-syy">上一页</div>
        <ul>
            <li class="right-bottom-click">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
        <div class="main-xyy">下一页</div>
        <div class="main-tiaozhuan">
            <span class="tiaozhuan">跳转</span>
            <input type="text" value="">
            <span>页</span>
        </div>
        <span class="main-wy">尾页</span>
    </div>
</main>
<!--页脚-->
<div class="footer">
    <footer>
        <div class="footer-left">
            <div class="footer-content-box">
                <strong class="footer-l-title">工厂指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">成长攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">定制指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">加工定制</a></li>
                    <li class="footer-l-li"><a href="">加工攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">关于我们</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">联系我们</a></li>
                    <li class="footer-l-li"><a href="">广告报价</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weigzh.png" alt="">
                </div>
                <div class="footer-r-weixin-text">微信公众号</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weikefu.png" alt="">
                </div>
                <div class="footer-r-weixin-text">客服微信</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-r-tel-title">客服电话</div>
                <div class="footer-r-tel-content">0571-86169936</div>
            </div>
        </div>
    </footer>
</div>
<div class="footer-beian">版权2018-2028 @ 杭州博卫传媒有限公司 闽ICP备16026715号</div>
<script src="{:config('home_js')}/tiepaigengduo.js"></script>
<script>
    $(function() {
        $("img").lazyload({
            threshold : 200,
            skip_invisible : false
        });
    });
</script>
<script>
    function tpxq(type_name) {
        $.ajax({
            url: "{:url('home/stickacard/tpajax')}",
            type: 'get',
            data: {'type_name':type_name},
            dataType: 'json',
            success: function (res) {
                var type=res.data;
                if(res.code == 200){
                    var str='<div class="main-content-title-box">\n' +
                        '            <span class="main-content-title">'+res.type_name+'加工</span>\n' +
                        '        </div>\n' +
                        '        <div class="content-content-box">\n'

                    $.each(type, function(k,v){
                        str+='            <div class="jggc-content-box">\n' +
                            '                <div class="jggc-content">\n' +
                            '                    <a href="/home/stickacard/tiepaixiangqing/id/'+v.id+'.html" class="jggc-content-img">\n' +
                            '                        <img src="{:config(\'public_uploads\' )}/'+v.pic1+'" alt="">\n' +
                            '                    </a>\n' +
                            '                    <div class="jggc-content-gsmc">'+v.company_name+'</div>\n' +
                            '                    <div class="jggc-content-cppp">'+v.carname+'</div>\n' +
                            '                    <div class="jggc-content-text-box">\n' +
                            '                        <div class="jggc-content-text-num">\n' +
                            '                            <span class="jggc-content-num-l">起订量:</span>\n' +
                            '                            <span class="jggc-content-num-r">'+v.qdl+'</span>\n' +
                            '                        </div>\n' +
                            '                        <div class="jggc-content-myd-box">\n' +
                            '                            <div class="jggc-icon">\n' +
                            '                                <i class="iconfont icon-xin"></i><!--未收藏-->\n' +
                            '                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->\n' +
                            '                                <span class="jggc-icon-sc">收藏</span>\n' +
                            '                            </div>\n' +
                            '                        </div>\n' +
                            '                    </div>\n' +
                            '                </div>\n' +
                            '            </div>\n'
                    })

                    str+= '</div>'
                    $('.main-content-box').html(str);
                }else{
                    //错误信息
                    alert(res.msg)
                }
            }
        })
    }
</script>
</body>
</html>