@charset "UTF-8";
/*初始化css*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  border: none;
}

/*页眉*/
.header-box {
  width: 100%;
  min-width: 1200px;
  height: 30px;
  color: #555555;
  background: #ffffff;
}
.header-box .header-centre {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header-box .header-left {
  width: auto;
  height: 100%;
  float: left;
  font-size: 12px;
  line-height: 30px;
}
.header-box .header-left .h-f-i {
  width: 80px;
}
.header-box .header-left li {
  float: left;
}
.header-box .header-left li a {
  display: block;
  height: 100%;
}
.header-box .header-left li a .h-l-t {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  color: #1b1b1b;
}
.header-box .header-left .header-img {
  float: left;
}
.header-box .header-left .h-f-i {
  float: left;
}
.header-box .header-left img {
  margin-top: 7px;
  margin-right: 5px;
}
.header-box .header-right {
  width: auto;
  height: 100%;
  float: right;
  font-size: 12px;
  line-height: 30px;
}
.header-box .header-right li {
  width: auto;
  float: left;
}
.header-box .header-right li a {
  display: block;
  height: 100%;
}
.header-box .header-right li a .h-l-t {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  color: #1b1b1b;
}
.header-box .header-right .h-f-i {
  float: left;
}
.header-box .header-right img {
  margin-top: 7px;
  margin-right: 5px;
}

/*主体*/
main {
  width: 100%;
}
main .main-content-title {
  width: 100%;
  height: 92px;
  background: #dcdcdc;
  margin-top: 2px;
}
main .main-content-title .content-title {
  width: 100%;
  height: 90px;
  background: #fff;
}
main .main-content-title .content-title .content-title-ul {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
main .main-content-title .content-title .content-title-ul li {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 10px;
  text-align: center;
}
main .main-content-title .content-title .content-title-ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
main .main-content-title .content-title .content-title-ul li a .top-iconfont {
  color: #a260de;
  font-size: 24px;
  margin-bottom: 8px;
}
main .main-content-title .content-title .content-title-ul li a .content-title-li {
  color: #a260de;
  font-size: 12px;
}
main .main-content-title .content-title .content-title-ul li a .weixuanzhong {
  color: #e3cff5;
  font-size: 12px;
}
main .main-content-title .content-title .content-title-ul li a .yixuanzhong {
  color: #a260de;
  font-size: 12px;
}
main .main-content-title .content-title .content-title-ul .dingwei {
  width: 50%;
  border-bottom: 2px solid #a260de;
  position: absolute;
  left: 0;
  bottom: -2px;
}
main .main-iframe {
  width: 100%;
  background: #fff;
  height: calc(100vh - 200px);
}
main .main-iframe div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
main .main-iframe div iframe {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFjY291bnRjZW50ZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxVQUFVO0FBQ1Y7RUFDRSxVQUFVO0VBQ1YsV0FBVztDQUNaOztBQUVEO0VBQ0Usb0JBQW9CO0VBQ3BCLGlCQUFpQjtDQUNsQjtBQUNEO0VBQ0UsK0JBQStCO0VBQy9CLDRCQUE0QjtFQUM1Qix1QkFBdUI7RUFDdkIsb0JBQW9CO0NBQ3JCOztBQUVEO0VBQ0Usc0JBQXNCO0NBQ3ZCOztBQUVEO0VBQ0Usc0JBQXNCO0NBQ3ZCO0FBQ0Q7RUFDRSxhQUFhO0NBQ2Q7O0FBRUQsTUFBTTtBQUNOO0VBQ0Usa0JBQWtCO0VBQ2xCLGFBQWE7RUFDYixpQkFBaUI7RUFDakIsa0JBQWtCO0VBQ2xCLG1CQUFtQjtFQUNuQixvQkFBb0I7RUFDcEIsc0NBQThCO1VBQTlCLDhCQUE4QjtFQUM5QixvQkFBb0I7RUFDcEI7SUFDRSxhQUFhO0lBQ2IsYUFBYTtJQUNiLFlBQVk7SUFDWjtNQUNFLFlBQVk7S0FDYjtHQUNGO0VBQ0Q7SUFDRSxhQUFhO0lBQ2IsYUFBYTtJQUNiO01BQ0UsWUFBWTtNQUNaLGFBQWE7TUFDYixtQkFBbUI7TUFDbkIsWUFBWTtNQUNaLG9CQUFvQjtNQUNwQixtQkFBbUI7TUFDbkIsbUJBQW1CO01BQ25CO1FBQ0UsZ0JBQWdCO1FBQ2hCLGlCQUFpQjtRQUNqQixtQkFBbUI7UUFDbkIsUUFBUTtRQUNSLE9BQU87UUFDUCxVQUFVO1FBQ1YsU0FBUztRQUNULGFBQWE7T0FDZDtLQUNGO0lBQ0Q7TUFDRSxhQUFhO01BQ2Isa0JBQWtCO01BQ2xCLGdCQUFnQjtNQUNoQixlQUFlO01BQ2YsWUFBWTtNQUNaLG1CQUFtQjtLQUNwQjtJQUNEO01BQ0UsZ0JBQWdCO01BQ2hCLGtCQUFrQjtNQUNsQixlQUFlO0tBQ2hCO0dBQ0Y7Q0FDRjtBQUNELE1BQU07QUFDTjtFQUNFLFlBQVk7RUFDWjtJQUNFLFlBQVk7SUFDWixhQUFhO0lBQ2Isb0JBQW9CO0lBQ3BCO01BQ0UsWUFBWTtNQUNaLGFBQWE7TUFDYixpQkFBaUI7TUFDakI7UUFDRSxjQUFjO1FBQ2QsYUFBYTtRQUNiLGVBQWU7UUFDZixtQkFBbUI7UUFDbkI7VUFDRSxXQUFXO1VBQ1gsYUFBYTtVQUNiLFlBQVk7VUFDWixrQkFBa0I7VUFDbEIsbUJBQW1CO1VBQ25CO1lBQ0UsZUFBZTtZQUNmLFlBQVk7WUFDWixhQUFhO1lBQ2Isc0JBQXNCO1lBQ3RCO2NBQ0UsZUFBZTtjQUNmLGdCQUFnQjtjQUNoQixtQkFBbUI7YUFDcEI7WUFDRDtjQUNFLGVBQWU7Y0FDZixnQkFBZ0I7YUFDakI7WUFDRDtjQUNFLGVBQWU7Y0FDZixnQkFBZ0I7YUFDakI7WUFDRDtjQUNFLGVBQWU7Y0FDZixnQkFBZ0I7YUFDakI7V0FDRjs7U0FFRjtRQUNEO1VBQ0UsV0FBVztVQUNYLGlDQUFpQztVQUNqQyxtQkFBbUI7VUFDbkIsUUFBUTtVQUNSLGFBQWE7U0FDZDtPQUNGO0tBQ0Y7R0FDRjtFQUNEO0lBQ0UsWUFBWTtJQUNaLGlCQUFpQjtJQUNqQiw0QkFBNEI7SUFDNUI7TUFDRSxZQUFZO01BQ1osYUFBYTtNQUNiLGVBQWU7TUFDZjtRQUNFLFlBQVk7UUFDWixhQUFhO1FBQ2IsZUFBZTtPQUNoQjtLQUNGOztHQUVGO0NBQ0YiLCJmaWxlIjoiYWNjb3VudGNlbnRlci5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyrliJ3lp4vljJZjc3MqL1xyXG5odG1sLCBib2R5LCBkaXYsIHVsLCBsaSwgaDEsIGgyLCBoMywgaDQsIGg1LCBoNiwgcCwgZGwsIGR0LCBkZCwgb2wsIGZvcm0sIGlucHV0LCB0ZXh0YXJlYSwgdGgsIHRkLCBzZWxlY3Qge1xyXG4gIG1hcmdpbjogMDtcclxuICBwYWRkaW5nOiAwO1xyXG59XHJcblxyXG5ib2R5IHtcclxuICBiYWNrZ3JvdW5kOiAjZjhmOGY4O1xyXG4gIG92ZXJmbG93OiBoaWRkZW47XHJcbn1cclxuKiB7XHJcbiAgLXdlYmtpdC1ib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIC1tb3otYm94LXNpemluZzogYm9yZGVyLWJveDtcclxuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIGZvbnQtZmFtaWx5OiAn5b6u6L2v6ZuF6buRJztcclxufVxyXG5cclxuYSB7XHJcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG59XHJcblxyXG5saSB7XHJcbiAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xyXG59XHJcbmltZ3tcclxuICBib3JkZXI6IG5vbmU7XHJcbn1cclxuXHJcbi8q6aG155yJKi9cclxuaGVhZGVye1xyXG4gIG1pbi13aWR0aDogMTIwMHB4O1xyXG4gIGhlaWdodDogNzVweDtcclxuICBiYWNrZ3JvdW5kOiAjZmZmO1xyXG4gIHBhZGRpbmctdG9wOiAxNXB4O1xyXG4gIHBhZGRpbmctbGVmdDogMjBweDtcclxuICBwYWRkaW5nLXJpZ2h0OiAyMHB4O1xyXG4gIGJveC1zaGFkb3c6IDBweCAtNXB4IDIwcHggMXB4O1xyXG4gIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgLmhlYWRlci1pbWd7XHJcbiAgICB3aWR0aDogMjE2cHg7XHJcbiAgICBoZWlnaHQ6IDUycHg7XHJcbiAgICBmbG9hdDogbGVmdDtcclxuICAgIGltZ3tcclxuICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5oZWFkZXItcmlnaHR7XHJcbiAgICBoZWlnaHQ6IDUycHg7XHJcbiAgICBmbG9hdDogcmlnaHQ7XHJcbiAgICAuaGVhZGVyLXItaW1ne1xyXG4gICAgICB3aWR0aDogNTJweDtcclxuICAgICAgaGVpZ2h0OiA1MnB4O1xyXG4gICAgICBib3JkZXItcmFkaXVzOiA1MCU7XHJcbiAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgICBiYWNrZ3JvdW5kOiAjYWQ2ZmM4O1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IDIwcHg7XHJcbiAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgaW1ne1xyXG4gICAgICAgIG1heC13aWR0aDogMTAwJTtcclxuICAgICAgICBtYXgtaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICBsZWZ0OiAwO1xyXG4gICAgICAgIHRvcDogMDtcclxuICAgICAgICBib3R0b206IDA7XHJcbiAgICAgICAgcmlnaHQ6IDA7XHJcbiAgICAgICAgbWFyZ2luOiBhdXRvO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAuaGVhZGVyLW5hbWV7XHJcbiAgICAgIGhlaWdodDogMTAwJTtcclxuICAgICAgbGluZS1oZWlnaHQ6IDUycHg7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcclxuICAgICAgY29sb3I6ICM1NTU1NTU7XHJcbiAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IDIwcHg7XHJcbiAgICB9XHJcbiAgICAuaWNvbmZvbnR7XHJcbiAgICAgIGZvbnQtc2l6ZTogMTZweDtcclxuICAgICAgbGluZS1oZWlnaHQ6IDUycHg7XHJcbiAgICAgIGNvbG9yOiAjNTU1NTU1O1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG4vKuS4u+S9kyovXHJcbm1haW57XHJcbiAgd2lkdGg6IDEwMCU7XHJcbiAgLm1haW4tY29udGVudC10aXRsZXtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgaGVpZ2h0OiA5MnB4O1xyXG4gICAgYmFja2dyb3VuZDogI2RjZGNkYztcclxuICAgIC5jb250ZW50LXRpdGxle1xyXG4gICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgaGVpZ2h0OiA5MHB4O1xyXG4gICAgICBiYWNrZ3JvdW5kOiAjZmZmO1xyXG4gICAgICAuY29udGVudC10aXRsZS11bHtcclxuICAgICAgICB3aWR0aDogMTIwMHB4O1xyXG4gICAgICAgIGhlaWdodDogMTAwJTtcclxuICAgICAgICBtYXJnaW46IDAgYXV0bztcclxuICAgICAgICBwb3NpdGlvbjogcmVsYXRpdmU7XHJcbiAgICAgICAgbGl7XHJcbiAgICAgICAgICB3aWR0aDogNTAlO1xyXG4gICAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgICBwYWRkaW5nLXRvcDogMTBweDtcclxuICAgICAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgICAgIGF7XHJcbiAgICAgICAgICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICAgICAgICAgIC50b3AtaWNvbmZvbnR7XHJcbiAgICAgICAgICAgICAgY29sb3I6ICNhMjYwZGU7XHJcbiAgICAgICAgICAgICAgZm9udC1zaXplOiAyNHB4O1xyXG4gICAgICAgICAgICAgIG1hcmdpbi1ib3R0b206IDhweDtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAuY29udGVudC10aXRsZS1saXtcclxuICAgICAgICAgICAgICBjb2xvcjogI2EyNjBkZTtcclxuICAgICAgICAgICAgICBmb250LXNpemU6IDEycHg7XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgLndlaXh1YW56aG9uZ3tcclxuICAgICAgICAgICAgICBjb2xvcjogI2UzY2ZmNTtcclxuICAgICAgICAgICAgICBmb250LXNpemU6IDEycHg7XHJcbiAgICAgICAgICAgIH1cclxuICAgICAgICAgICAgLnlpeHVhbnpob25ne1xyXG4gICAgICAgICAgICAgIGNvbG9yOiAjYTI2MGRlO1xyXG4gICAgICAgICAgICAgIGZvbnQtc2l6ZTogMTJweDtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgfVxyXG5cclxuICAgICAgICB9XHJcbiAgICAgICAgLmRpbmd3ZWl7XHJcbiAgICAgICAgICB3aWR0aDogNTAlO1xyXG4gICAgICAgICAgYm9yZGVyLWJvdHRvbTogMnB4IHNvbGlkICNhMjYwZGU7XHJcbiAgICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgICAgICBsZWZ0OiAwO1xyXG4gICAgICAgICAgYm90dG9tOiAtMnB4O1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAubWFpbi1pZnJhbWV7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGJhY2tncm91bmQ6ICNmZmY7XHJcbiAgICBoZWlnaHQ6IGNhbGMoMTAwdmggLSAyMDBweCk7XHJcbiAgICBkaXZ7XHJcbiAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICBoZWlnaHQ6IDEwMCU7XHJcbiAgICAgIG1hcmdpbjogMCBhdXRvO1xyXG4gICAgICBpZnJhbWV7XHJcbiAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgIG1hcmdpbjogMCBhdXRvO1xyXG4gICAgICB9XHJcbiAgICB9XHJcblxyXG4gIH1cclxufSJdfQ== */
