@charset "UTF-8";
/*初始化css*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  overflow: hidden;
  background: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  border: none;
}

header {
  width: 1200px;
  height: 36px;
  margin: 0 auto;
  margin-bottom: 150px;
  margin-top: 60px;
  border-bottom: 2px solid #ccc;
  position: relative;
}
header .header-bdsj {
  height: 100%;
  font-size: 24px;
  color: #555555;
  position: absolute;
  left: 0;
  bottom: -2px;
}
header .header-xgmm {
  height: 100%;
  font-size: 24px;
  color: #555555;
  position: absolute;
  right: 0;
  bottom: -2px;
}
header .header-active {
  color: #a260de;
  border-bottom: 2px solid #a260de;
}

/*主体*/
main {
  width: 100%;
}
main .main-content {
  width: 1200px;
  margin: 0 auto;
}
main .main-content form {
  width: 490px;
  margin: 0 auto;
}
main .main-content form .control-group {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
main .main-content form .control-group label {
  width: 90px;
  float: left;
  font-size: 16px;
  color: #555;
}
main .main-content form .control-group input {
  width: 270px;
  height: 30px;
  margin-right: 20px;
  float: left;
  outline: none;
}
main .main-content form .control-group .huoquyanzhengma {
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  float: left;
  background: #a260de;
  font-size: 14px;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}
main .main-content form .control-group .bootstrop-button {
  width: 150px;
  height: 40px;
  margin: 0ch auto;
}
main .main-content form .control-group .bootstrop-button .btn {
  width: 100%;
  height: 100%;
  background: #a260de;
  color: #fff;
  line-height: 40px;
  text-align: center;
  padding: 0;
}
main .main-content1 {
  width: 1200px;
  margin: 0 auto;
}
main .main-content1 form {
  width: 490px;
  margin: 0 auto;
}
main .main-content1 form .control-group {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}
main .main-content1 form .control-group label {
  width: 100px;
  float: left;
  font-size: 16px;
  color: #555;
}
main .main-content1 form .control-group input {
  width: 270px;
  height: 30px;
  margin-right: 20px;
  float: left;
  outline: none;
}
main .main-content1 form .control-group .huoquyanzhengma {
  width: 150px;
  height: 20px;
  line-height: 20px;
  float: left;
  font-size: 12px;
  color: #555;
  margin-top: 5px;
  cursor: pointer;
}
main .main-content1 form .control-group .huoquyanzhengma .iconfont {
  font-size: 14px;
  color: #a260de;
}
main .main-content1 form .control-group .bootstrop-button {
  width: 150px;
  height: 40px;
  margin: 0ch auto;
}
main .main-content1 form .control-group .bootstrop-button .btn {
  width: 100%;
  height: 100%;
  background: #a260de;
  color: #fff;
  line-height: 40px;
  text-align: center;
  padding: 0;
}
main .active {
  display: none;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJpbmRpbmdwaG9uZS5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBLFVBQVU7QUFDVjtFQUNFLFVBQVU7RUFDVixXQUFXO0NBQ1o7O0FBRUQ7RUFDRSxvQkFBb0I7RUFDcEIsaUJBQWlCO0VBQ2pCLGlCQUFpQjtDQUNsQjs7QUFFRDtFQUNFLCtCQUErQjtFQUMvQiw0QkFBNEI7RUFDNUIsdUJBQXVCO0VBQ3ZCLG9CQUFvQjtDQUNyQjs7QUFFRDtFQUNFLHNCQUFzQjtDQUN2Qjs7QUFFRDtFQUNFLHNCQUFzQjtDQUN2Qjs7QUFFRDtFQUNFLGFBQWE7Q0FDZDs7O0FBR0Q7RUFDRSxjQUFjO0VBQ2QsYUFBYTtFQUNiLGVBQWU7RUFDZixxQkFBcUI7RUFDckIsaUJBQWlCO0VBQ2pCLDhCQUE4QjtFQUM5QixtQkFBbUI7RUFDbkI7SUFDRSxhQUFhO0lBQ2IsZ0JBQWdCO0lBQ2hCLGVBQWU7SUFDZixtQkFBbUI7SUFDbkIsUUFBUTtJQUNSLGFBQWE7R0FDZDtFQUNEO0lBQ0UsYUFBYTtJQUNiLGdCQUFnQjtJQUNoQixlQUFlO0lBQ2YsbUJBQW1CO0lBQ25CLFNBQVM7SUFDVCxhQUFhO0dBQ2Q7RUFDRDtJQUNFLGVBQWU7SUFDZixpQ0FBaUM7R0FDbEM7Q0FDRjtBQUNELE1BQU07QUFDTjtFQUNFLFlBQVk7RUFDWjtLQUNHLGNBQWM7S0FDZCxlQUFlO0tBQ2Y7T0FDRSxhQUFhO09BQ2IsZUFBZTtPQUNmO1NBQ0UsWUFBWTtTQUNaLGlCQUFpQjtTQUNqQixvQkFBb0I7U0FDcEI7V0FDRSxZQUFZO1dBQ1osWUFBWTtXQUNaLGdCQUFnQjtXQUNoQixZQUFZO1VBQ2I7U0FDRDtXQUNFLGFBQWE7V0FDYixhQUFhO1dBQ2IsbUJBQW1CO1dBQ25CLFlBQVk7V0FDWixjQUFjO1VBQ2Y7U0FDRDtXQUNFLGFBQWE7V0FDYixhQUFhO1dBQ2Isa0JBQWtCO1dBQ2xCLG1CQUFtQjtXQUNuQixZQUFZO1dBQ1osb0JBQW9CO1dBQ3BCLGdCQUFnQjtXQUNoQixZQUFZO1dBQ1osZ0JBQWdCO1dBQ2hCLGdCQUFnQjtVQUNqQjtTQUNEO1dBQ0UsYUFBYTtXQUNiLGFBQWE7V0FDYixpQkFBaUI7V0FDakI7YUFDRSxZQUFZO2FBQ1osYUFBYTthQUNiLG9CQUFvQjthQUNwQixZQUFZO2FBQ1osa0JBQWtCO2FBQ2xCLG1CQUFtQjthQUNuQixXQUFXO1lBQ1o7VUFDRjtRQUNGO01BQ0Y7SUFDRjtFQUNGO0lBQ0UsY0FBYztJQUNkLGVBQWU7SUFDZjtNQUNFLGFBQWE7TUFDYixlQUFlO01BQ2Y7UUFDRSxZQUFZO1FBQ1osaUJBQWlCO1FBQ2pCLG9CQUFvQjtRQUNwQjtVQUNFLGFBQWE7VUFDYixZQUFZO1VBQ1osZ0JBQWdCO1VBQ2hCLFlBQVk7U0FDYjtRQUNEO1VBQ0UsYUFBYTtVQUNiLGFBQWE7VUFDYixtQkFBbUI7VUFDbkIsWUFBWTtVQUNaLGNBQWM7U0FDZjtRQUNEO1VBQ0UsYUFBYTtVQUNiLGFBQWE7VUFDYixrQkFBa0I7VUFDbEIsWUFBWTtVQUNaLGdCQUFnQjtVQUNoQixZQUFZO1VBQ1osZ0JBQWdCO1VBQ2hCLGdCQUFnQjtVQUNoQjtZQUNFLGdCQUFnQjtZQUNoQixlQUFlO1dBQ2hCO1NBQ0Y7UUFDRDtVQUNFLGFBQWE7VUFDYixhQUFhO1VBQ2IsaUJBQWlCO1VBQ2pCO1lBQ0UsWUFBWTtZQUNaLGFBQWE7WUFDYixvQkFBb0I7WUFDcEIsWUFBWTtZQUNaLGtCQUFrQjtZQUNsQixtQkFBbUI7WUFDbkIsV0FBVztXQUNaO1NBQ0Y7T0FDRjtLQUNGO0dBQ0Y7RUFDRDtJQUNFLGNBQWM7R0FDZjtDQUNGIiwiZmlsZSI6ImJpbmRpbmdwaG9uZS5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLyrliJ3lp4vljJZjc3MqL1xyXG5odG1sLCBib2R5LCBkaXYsIHVsLCBsaSwgaDEsIGgyLCBoMywgaDQsIGg1LCBoNiwgcCwgZGwsIGR0LCBkZCwgb2wsIGZvcm0sIGlucHV0LCB0ZXh0YXJlYSwgdGgsIHRkLCBzZWxlY3Qge1xyXG4gIG1hcmdpbjogMDtcclxuICBwYWRkaW5nOiAwO1xyXG59XHJcblxyXG5ib2R5IHtcclxuICBiYWNrZ3JvdW5kOiAjZjhmOGY4O1xyXG4gIG92ZXJmbG93OiBoaWRkZW47XHJcbiAgYmFja2dyb3VuZDogI2ZmZjtcclxufVxyXG5cclxuKiB7XHJcbiAgLXdlYmtpdC1ib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIC1tb3otYm94LXNpemluZzogYm9yZGVyLWJveDtcclxuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIGZvbnQtZmFtaWx5OiAn5b6u6L2v6ZuF6buRJztcclxufVxyXG5cclxuYSB7XHJcbiAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG59XHJcblxyXG5saSB7XHJcbiAgbGlzdC1zdHlsZS10eXBlOiBub25lO1xyXG59XHJcblxyXG5pbWcge1xyXG4gIGJvcmRlcjogbm9uZTtcclxufVxyXG5cclxuXHJcbmhlYWRlcntcclxuICB3aWR0aDogMTIwMHB4O1xyXG4gIGhlaWdodDogMzZweDtcclxuICBtYXJnaW46IDAgYXV0bztcclxuICBtYXJnaW4tYm90dG9tOiAxNTBweDtcclxuICBtYXJnaW4tdG9wOiA2MHB4O1xyXG4gIGJvcmRlci1ib3R0b206IDJweCBzb2xpZCAjY2NjO1xyXG4gIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAuaGVhZGVyLWJkc2p7XHJcbiAgICBoZWlnaHQ6IDEwMCU7XHJcbiAgICBmb250LXNpemU6IDI0cHg7XHJcbiAgICBjb2xvcjogIzU1NTU1NTtcclxuICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgIGxlZnQ6IDA7XHJcbiAgICBib3R0b206IC0ycHg7XHJcbiAgfVxyXG4gIC5oZWFkZXIteGdtbXtcclxuICAgIGhlaWdodDogMTAwJTtcclxuICAgIGZvbnQtc2l6ZTogMjRweDtcclxuICAgIGNvbG9yOiAjNTU1NTU1O1xyXG4gICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgcmlnaHQ6IDA7XHJcbiAgICBib3R0b206IC0ycHg7XHJcbiAgfVxyXG4gIC5oZWFkZXItYWN0aXZle1xyXG4gICAgY29sb3I6ICNhMjYwZGU7XHJcbiAgICBib3JkZXItYm90dG9tOiAycHggc29saWQgI2EyNjBkZTtcclxuICB9XHJcbn1cclxuLyrkuLvkvZMqL1xyXG5tYWlue1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIC5tYWluLWNvbnRlbnR7XHJcbiAgICAgd2lkdGg6IDEyMDBweDtcclxuICAgICBtYXJnaW46IDAgYXV0bztcclxuICAgICBmb3Jte1xyXG4gICAgICAgd2lkdGg6IDQ5MHB4O1xyXG4gICAgICAgbWFyZ2luOiAwIGF1dG87XHJcbiAgICAgICAuY29udHJvbC1ncm91cHtcclxuICAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgIG92ZXJmbG93OiBoaWRkZW47XHJcbiAgICAgICAgIG1hcmdpbi1ib3R0b206IDIwcHg7XHJcbiAgICAgICAgIGxhYmVse1xyXG4gICAgICAgICAgIHdpZHRoOiA5MHB4O1xyXG4gICAgICAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgICAgICAgIGZvbnQtc2l6ZTogMTZweDtcclxuICAgICAgICAgICBjb2xvcjogIzU1NTtcclxuICAgICAgICAgfVxyXG4gICAgICAgICBpbnB1dHtcclxuICAgICAgICAgICB3aWR0aDogMjcwcHg7XHJcbiAgICAgICAgICAgaGVpZ2h0OiAzMHB4O1xyXG4gICAgICAgICAgIG1hcmdpbi1yaWdodDogMjBweDtcclxuICAgICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICAgICBvdXRsaW5lOiBub25lO1xyXG4gICAgICAgICB9XHJcbiAgICAgICAgIC5odW9xdXlhbnpoZW5nbWF7XHJcbiAgICAgICAgICAgd2lkdGg6IDEwMHB4O1xyXG4gICAgICAgICAgIGhlaWdodDogMjBweDtcclxuICAgICAgICAgICBsaW5lLWhlaWdodDogMjBweDtcclxuICAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgICAgYmFja2dyb3VuZDogI2EyNjBkZTtcclxuICAgICAgICAgICBmb250LXNpemU6IDE0cHg7XHJcbiAgICAgICAgICAgY29sb3I6ICNmZmY7XHJcbiAgICAgICAgICAgbWFyZ2luLXRvcDogNXB4O1xyXG4gICAgICAgICAgIGN1cnNvcjogcG9pbnRlcjtcclxuICAgICAgICAgfVxyXG4gICAgICAgICAuYm9vdHN0cm9wLWJ1dHRvbntcclxuICAgICAgICAgICB3aWR0aDogMTUwcHg7XHJcbiAgICAgICAgICAgaGVpZ2h0OiA0MHB4O1xyXG4gICAgICAgICAgIG1hcmdpbjogMGNoIGF1dG87XHJcbiAgICAgICAgICAgLmJ0bntcclxuICAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgICAgICAgYmFja2dyb3VuZDogI2EyNjBkZTtcclxuICAgICAgICAgICAgIGNvbG9yOiAjZmZmO1xyXG4gICAgICAgICAgICAgbGluZS1oZWlnaHQ6IDQwcHg7XHJcbiAgICAgICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgICAgICBwYWRkaW5nOiAwO1xyXG4gICAgICAgICAgIH1cclxuICAgICAgICAgfVxyXG4gICAgICAgfVxyXG4gICAgIH1cclxuICAgfVxyXG4gIC5tYWluLWNvbnRlbnQxe1xyXG4gICAgd2lkdGg6IDEyMDBweDtcclxuICAgIG1hcmdpbjogMCBhdXRvO1xyXG4gICAgZm9ybXtcclxuICAgICAgd2lkdGg6IDQ5MHB4O1xyXG4gICAgICBtYXJnaW46IDAgYXV0bztcclxuICAgICAgLmNvbnRyb2wtZ3JvdXB7XHJcbiAgICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgICAgb3ZlcmZsb3c6IGhpZGRlbjtcclxuICAgICAgICBtYXJnaW4tYm90dG9tOiAyMHB4O1xyXG4gICAgICAgIGxhYmVse1xyXG4gICAgICAgICAgd2lkdGg6IDEwMHB4O1xyXG4gICAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgICBmb250LXNpemU6IDE2cHg7XHJcbiAgICAgICAgICBjb2xvcjogIzU1NTtcclxuICAgICAgICB9XHJcbiAgICAgICAgaW5wdXR7XHJcbiAgICAgICAgICB3aWR0aDogMjcwcHg7XHJcbiAgICAgICAgICBoZWlnaHQ6IDMwcHg7XHJcbiAgICAgICAgICBtYXJnaW4tcmlnaHQ6IDIwcHg7XHJcbiAgICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICAgIG91dGxpbmU6IG5vbmU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgIC5odW9xdXlhbnpoZW5nbWF7XHJcbiAgICAgICAgICB3aWR0aDogMTUwcHg7XHJcbiAgICAgICAgICBoZWlnaHQ6IDIwcHg7XHJcbiAgICAgICAgICBsaW5lLWhlaWdodDogMjBweDtcclxuICAgICAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgICAgICAgZm9udC1zaXplOiAxMnB4O1xyXG4gICAgICAgICAgY29sb3I6ICM1NTU7XHJcbiAgICAgICAgICBtYXJnaW4tdG9wOiA1cHg7XHJcbiAgICAgICAgICBjdXJzb3I6IHBvaW50ZXI7XHJcbiAgICAgICAgICAuaWNvbmZvbnR7XHJcbiAgICAgICAgICAgIGZvbnQtc2l6ZTogMTRweDtcclxuICAgICAgICAgICAgY29sb3I6ICNhMjYwZGU7XHJcbiAgICAgICAgICB9XHJcbiAgICAgICAgfVxyXG4gICAgICAgIC5ib290c3Ryb3AtYnV0dG9ue1xyXG4gICAgICAgICAgd2lkdGg6IDE1MHB4O1xyXG4gICAgICAgICAgaGVpZ2h0OiA0MHB4O1xyXG4gICAgICAgICAgbWFyZ2luOiAwY2ggYXV0bztcclxuICAgICAgICAgIC5idG57XHJcbiAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICAgICAgICBoZWlnaHQ6IDEwMCU7XHJcbiAgICAgICAgICAgIGJhY2tncm91bmQ6ICNhMjYwZGU7XHJcbiAgICAgICAgICAgIGNvbG9yOiAjZmZmO1xyXG4gICAgICAgICAgICBsaW5lLWhlaWdodDogNDBweDtcclxuICAgICAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgICAgICAgICBwYWRkaW5nOiAwO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAuYWN0aXZle1xyXG4gICAgZGlzcGxheTogbm9uZTtcclxuICB9XHJcbn0iXX0= */
