@charset "UTF-8";
/*页脚*/
footer {
  width: 100%;
  height: 100%;
}
footer .footer-bjt-box {
  width: 100%;
  height: 490px;
  background-image: url("../img/hyb.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
}
footer .footer-bjt-box .footer-c-box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
footer .footer-bjt-box .footer-c-box .footer-box {
  float: left;
  margin-right: 150px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-img {
  text-align: center;
  margin-bottom: 46px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text-title {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text a {
  font-size: 16px;
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 {
  margin: 0;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-img {
  text-align: center;
  margin-bottom: 46px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box {
  min-height: 100px;
  margin-bottom: 48px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box .footer-ewm-img {
  float: left;
  margin-right: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box .footer-ewm-img .ewm-text {
  font-size: 16px;
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box {
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box .footer-kf-title {
  font-size: 16px;
  font-weight: bold;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box .footer-kf-text {
  font-size: 22px;
  font-weight: bold;
}
footer .footer-footer {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #1b1b1b;
  padding-top: 8px;
}
