@charset "UTF-8";
/*初始化css*/
img {
  border: none;
}

/*页脚*/
.footer {
  width: 100%;
  min-width: 1200px;
  margin-top: 80px;
  padding: 50px 0 50px 0;
  background: #e9e6e6;
}
.footer footer {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.footer footer .footer-left {
  width: 754px;
  float: left;
  overflow: hidden;
}
.footer footer .footer-left .footer-content-box {
  width: 33%;
  float: left;
  text-align: center;
}
.footer footer .footer-left .footer-content-box .footer-l-title {
  display: block;
  font-size: 16px;
  color: #555555;
  margin-bottom: 30px;
}
.footer footer .footer-left .footer-content-box .footer-l-ul {
  width: 100%;
}
.footer footer .footer-left .footer-content-box .footer-l-ul .footer-l-li {
  width: 100%;
  margin-bottom: 30px;
}
.footer footer .footer-left .footer-content-box .footer-l-ul .footer-l-li a {
  font-size: 14px;
  color: #555555;
}
.footer footer .footer-left .footer-content-box .footer-l-ul .footer-l-li:last-child {
  margin: 0;
}
.footer footer .footer-right {
  width: 446px;
  height: 114px;
  float: left;
  overflow: hidden;
}
.footer footer .footer-right .footer-weixin-box {
  width: 33%;
  height: 100%;
  float: left;
}
.footer footer .footer-right .footer-weixin-box .footer-weixin-img {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.footer footer .footer-right .footer-weixin-box .footer-weixin-img img {
  width: 100%;
  height: 100%;
}
.footer footer .footer-right .footer-weixin-box .footer-r-weixin-text {
  width: 100%;
  font-size: 16px;
  color: #555555;
  text-align: center;
}
.footer footer .footer-right .footer-weixin-box .footer-r-tel-title {
  width: 100%;
  font-size: 16px;
  color: #555555;
  margin-top: 74px;
}
.footer footer .footer-right .footer-weixin-box .footer-r-tel-content {
  width: 100%;
  font-size: 16px;
  color: #555555;
}

.footer-beian {
  width: 1200px;
  height: 26px;
  margin: 0 auto;
  font-size: 12px;
  color: #555555;
  text-align: center;
  line-height: 26px;
}
