@charset "UTF-8";
/*初始化css*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
}

* {
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*页眉*/
.header {
  width: 100%;
  height: 30px;
  color: #383838;
  background: #ffffff;
  box-shadow: darkgrey -16px 0px 40px -3px;
}
.header .header-centre {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header .header-left {
  width: auto;
  height: 100%;
  float: left;
  font-size: 12px;
  line-height: 30px;
}
.header .header-left .h-f-i {
  width: 80px;
}
.header .header-left li {
  float: left;
}
.header .header-left li a {
  display: block;
  height: 100%;
}
.header .header-left li a .h-l-t {
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  color: #1b1b1b;
}
.header .header-left .header-img {
  float: left;
}
.header .header-left .h-f-i {
  float: left;
}
.header .header-left img {
  margin-top: 7px;
  margin-right: 5px;
}
.header .header-right {
  width: auto;
  height: 100%;
  float: right;
  font-size: 12px;
  line-height: 30px;
}
.header .header-right li {
  width: auto;
  float: left;
}
.header .header-right li a {
  display: block;
  height: 100%;
}
.header .header-right li a .h-l-t {
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  color: #1b1b1b;
}
.header .header-right .h-f-i {
  float: left;
}
.header .header-right img {
  margin-top: 7px;
  margin-right: 5px;
}

/*搜索*/
.search-box {
  width: 100%;
  height: 151px;
  margin-bottom: 12px;
}
.search-box .search-centre {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.search-box .search-centre .sear-logo {
  width: 151px;
  height: 151px;
  float: left;
  position: relative;
}
.search-box .search-centre .sear-logo img {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.search-box .search-centre .search-c-b {
  box-sizing: border-box;
  padding-left: 160px;
  margin-top: 52px;
  float: left;
}
.search-box .search-centre .search-c-b .search {
  width: 450px;
  height: 36px;
}
.search-box .search-centre .search-c-b .search .search-fram {
  width: 386px;
  height: 100%;
  border: 1px solid #73d4fd;
  border-radius: 5px;
  float: left;
}
.search-box .search-centre .search-c-b .search .search-fram .s-f-i-i {
  width: 24px;
  height: 24px;
  float: left;
  margin-top: 5px;
  margin-left: 5px;
}
.search-box .search-centre .search-c-b .search .search-fram input {
  width: 90%;
  height: 100%;
  border: 0;
  background: #f8f8f8;
  color: #666;
  outline: none;
}
.search-box .search-centre .search-c-b .search .search-button {
  width: 64px;
  height: 100%;
  margin-left: -4px;
  background-color: #ad6fc8;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  float: left;
}
.search-box .search-centre .search-c-b .search .search-button .iconfont {
  font-size: 20px;
}
.search-box .search-centre .search-c-b .re-search {
  font-size: 12px;
  color: #a09f9f;
}
.search-box .search-centre .search-c-b .re-search a {
  color: #a09f9f;
  padding-left: 10px;
}
.search-box .search-centre .search-right-b {
  float: right;
}
.search-box .search-centre .search-right-b .s-trademark {
  margin-right: 15px;
  font-size: 12px;
  color: #a09f9f;
  margin-top: 52px;
  line-height: 36px;
  float: left;
}
.search-box .search-centre .search-right-b .s-trademark div {
  float: left;
  margin-right: 15px;
}

/*导航*/
.daohang-box {
  width: 100%;
  height: 40px;
}
.daohang-box ul {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 3px;
  padding-left: 150px;
}
.daohang-box ul li {
  float: left;
  padding-left: 60px;
}
.daohang-box ul a {
  display: block;
  padding-right: 25px;
  padding-left: 25px;
  line-height: 40px;
  text-align: center;
  color: #555555;
  font-size: 16px;
}
.daohang-box ul a:hover li {
  font-weight: bold;
  color: #9d5fd6;
}
.daohang-box ul a:first-child {
  width: 150px;
}
.daohang-box ul .daohang-yuan {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 2px solid #9d5fd6;
  float: left;
  margin-top: 15px;
  margin-right: 5px;
}
.daohang-box ul .daohang-fabu {
  float: right;
  font-size: 10px;
  color: #a09f9f;
}

/*banner*/
.banner-box {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  background-size: 100% 100%;
  position: relative;
}
.banner-box .banner-c-box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.banner-box .banner-c-box .ce-daohang {
  width: 150px;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  left: 0;
  top: -40px;
  z-index: 999;
}
.banner-box .banner-c-box .ce-daohang a {
  display: block;
  width: 150px;
  font-size: 16px;
  background: royalblue;
}
.banner-box .banner-c-box .ce-daohang a li {
  height: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
}
.banner-box .banner-c-box .ce-daohang a:nth-child(n) {
  background: #b786e5;
  color: #ffffff;
}
.banner-box .banner-c-box .ce-daohang a:nth-child(2n) {
  background: #a260de;
  color: #ffffff;
}
.banner-box .banner-c-box .ce-daohang a:first-child {
  border-radius: 10px 10px 0px 0px;
  background: #f8f8f8;
  color: #555555;
}
.banner-box .banner-c-box .ce-daohang a:first-child li {
  padding-top: 8px;
  padding-bottom: 8px;
}
.banner-box .banner-c-box .ce-daohang a:first-child li .iconfont {
  color: #555555;
  font-size: 18px;
  margin-right: 2px;
}
.banner-box .banner-c-box .ce-daohang a:hover li {
  color: #9d5fd6;
  background: #ffffff;
}
.banner-box .banner-c-box .ce-daohang a:first-child:hover li {
  border-radius: 10px 10px 0px 0px;
  color: #555555;
  background: #f8f8f8;
}
.banner-box .banner-box-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.banner-box .banner-box-box .banner-box-img {
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.banner-box .banner-box-box .banner-box-img .banner-img-box {
  height: 100%;
  float: left;
}
.banner-box .banner-box-box .banner-box-img .banner-img-box .banner-img {
  width: 1200px;
  height: 100%;
  float: left;
  margin-right: 6px;
  position: relative;
}
.banner-box .banner-box-box .banner-box-img .banner-img-box .banner-img a {
  display: block;
  width: 100%;
  height: 100%;
}
.banner-box .banner-box-box .banner-box-img .banner-img-box .banner-img img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

/*主体*/
.main {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.main .main-left-box {
  width: 304px;
  float: left;
}
.main .main-left-box .main-left {
  width: 100%;
  overflow: hidden;
}
.main .main-left-box .main-left .main-left-title {
  width: 100%;
  height: 50px;
  background: #ebebeb;
  line-height: 50px;
  padding-left: 10px;
  color: #1b1b1b;
  font-size: 16px;
  font-weight: bold;
}
.main .main-left-box .main-left .main-left-content {
  width: 100%;
  padding-left: 10px;
  padding-top: 20px;
  background: #fff;
  overflow: hidden;
}
.main .main-left-box .main-left .main-left-content .main-content {
  width: 50%;
  color: #4b4b4b;
  font-size: 14px;
  float: left;
  margin-bottom: 20px;
}
.main .main-right-box {
  width: 876px;
  float: left;
  margin-left: 20px;
}
.main .main-right-box .main-right-top {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 30px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 20px;
}
.main .main-right-box .main-right-top .main-qy-sf {
  overflow: hidden;
}
.main .main-right-box .main-right-top .main-qy-sf .main--right-t-l {
  font-size: 14px;
  color: #555555;
  float: left;
  margin-top: 6px;
}
.main .main-right-box .main-right-top .main-qy-sf .main--right-t-l .iconfont {
  color: #a260de;
  margin-right: 16px;
}
.main .main-right-box .main-right-top .main-qy-sf .main-right-t-r {
  width: 750px;
  overflow: hidden;
  float: right;
}
.main .main-right-box .main-right-top .main-qy-sf .main-right-t-r .main-right-text {
  padding: 6px 10px;
  font-size: 14px;
  margin-right: 20px;
  margin-bottom: 20px;
  float: left;
  color: #a09f9f;
  border-radius: 4px;
  cursor: pointer;
}
.main .main-right-box .main-right-top .main-qy-sf .main-right-t-r .main-right-text1 {
  color: #fff;
  background: #a260de;
}
.main .main-right-box .main-right-bottom {
  width: 100%;
  /*分页*/
}
.main .main-right-box .main-right-bottom .main-right-b-t {
  width: 100%;
  height: 50px;
  overflow: hidden;
  padding-left: 20px;
  padding-top: 18px;
  background: #ebebeb;
}
.main .main-right-box .main-right-bottom .main-right-b-t .main-paixu {
  font-weight: bold;
  font-size: 16px;
  color: #1b1b1b;
  margin-right: 20px;
  float: left;
}
.main .main-right-box .main-right-bottom .main-right-b-t .main-shengxu {
  font-size: 16px;
  color: #1b1b1b;
  float: left;
  margin-right: 24px;
}
.main .main-right-box .main-right-bottom .main-right-b-t .main-shengxu .iconfont {
  color: #fe1833;
}
.main .main-right-box .main-right-bottom .main-right-b-t .main-yyzgc {
  color: #1b1b1b;
  font-size: 16px;
}
.main .main-right-box .main-right-bottom .main-right-b-t .main-yyzgc input {
  border: 1px solid #1b1b1b;
  background: none;
  margin-right: 12px;
}
.main .main-right-box .main-right-bottom .main-right-b-c {
  width: 100%;
  background: #fff;
  padding-top: 10px;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li {
  width: 100%;
  padding: 20px;
  border-bottom: 2px solid #ebebeb;
  overflow: hidden;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-img {
  width: 145px;
  height: 97px;
  float: left;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-img img {
  max-height: 97px;
  max-width: 145px;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content {
  width: 690px;
  padding-top: 4px;
  padding-left: 20px;
  float: left;
  overflow: hidden;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-li-title {
  font-size: 16px;
  margin-bottom: 14px;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-li-title a {
  font-weight: bold;
  color: #1b1b1b;
  margin-right: 24px;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-li-title .iconfont {
  font-size: 16px;
  color: #fb243e;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-li-r-b {
  width: 610px;
  float: left;
  overflow: hidden;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-li-r-b .main-li-gsclsj {
  width: 50%;
  margin-bottom: 14px;
  font-size: 14px;
  color: #1b1b1b;
  float: left;
  padding-right: 36px;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-li-r-b .main-li-sclb {
  width: 50%;
  height: 18px;
  font-size: 14px;
  color: #1b1b1b;
  padding-right: 36px;
  float: left;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-li-r-b .main-li-sclb span {
  height: 100%;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-button {
  width: 55px;
  float: left;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-button a {
  display: block;
  border: 2px outset #a9a9a9;
  background: #f8f8f8;
  font-size: 12px;
  color: #555555;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li .main-li-content .main-button a:active {
  border: 2px inset #a9a9a9;
}
.main .main-right-box .main-right-bottom .main-right-b-c .main-right-li:last-child {
  border: 0;
}
.main .main-right-box .main-right-bottom .main-fenye-box {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 105px;
  margin-top: 80px;
  color: #555555;
  overflow: hidden;
  /*点击效果css*/
}
.main .main-right-box .main-right-bottom .main-fenye-box span {
  float: left;
  cursor: pointer;
}
.main .main-right-box .main-right-bottom .main-fenye-box div {
  float: left;
  cursor: pointer;
}
.main .main-right-box .main-right-bottom .main-fenye-box li {
  float: left;
  font-size: 12px;
  margin-right: 14px;
  padding-top: 3px;
  cursor: pointer;
}
.main .main-right-box .main-right-bottom .main-fenye-box .right-bottom-click {
  font-weight: bold;
  color: #8c3ab8;
}
.main .main-right-box .main-right-bottom .main-fenye-box .main-sy {
  font-size: 16px;
  margin-right: 40px;
}
.main .main-right-box .main-right-bottom .main-fenye-box .main-syy {
  font-size: 16px;
  margin-right: 40px;
}
.main .main-right-box .main-right-bottom .main-fenye-box .main-xyy {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
}
.main .main-right-box .main-right-bottom .main-fenye-box .main-tiaozhuan {
  font-size: 16px;
}
.main .main-right-box .main-right-bottom .main-fenye-box .main-tiaozhuan input {
  float: left;
  width: 40px;
  height: 28px;
  background: none;
  border: 1px solid #b7b6b6;
  margin-left: 22px;
  margin-right: 22px;
}
.main .main-right-box .main-right-bottom .main-fenye-box .main-wy {
  float: right;
  font-size: 16px;
}

/*页脚*/
footer {
  width: 100%;
  height: 530px;
  margin-top: 100px;
}
footer .footer-bjt-box {
  width: 100%;
  height: 490px;
  background-image: url("../img/hyb.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
}
footer .footer-bjt-box .footer-c-box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
footer .footer-bjt-box .footer-c-box .footer-box {
  float: left;
  margin-right: 150px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-img {
  text-align: center;
  margin-bottom: 46px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text-title {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text a {
  font-size: 16px;
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 {
  margin: 0;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-img {
  text-align: center;
  margin-bottom: 46px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box {
  min-height: 100px;
  margin-bottom: 48px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box .footer-ewm-img {
  float: left;
  margin-right: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box .footer-ewm-img .ewm-text {
  font-size: 16px;
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box {
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box .footer-kf-title {
  font-size: 16px;
  font-weight: bold;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box .footer-kf-text {
  font-size: 22px;
  font-weight: bold;
}
footer .footer-footer {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #1b1b1b;
  padding-top: 8px;
}
