@charset "UTF-8";
/*初始化css*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
}

img {
  border: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*页眉*/
.header-box {
  width: 100%;
  min-width: 1200px;
  height: 30px;
  color: #555555;
  background: #ffffff;
}
.header-box .header-centre {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header-box .header-left {
  width: auto;
  height: 100%;
  float: left;
  font-size: 12px;
  line-height: 30px;
}
.header-box .header-left .h-f-i {
  width: 80px;
}
.header-box .header-left li {
  float: left;
}
.header-box .header-left li a {
  display: block;
  height: 100%;
}
.header-box .header-left li a .h-l-t {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  color: #1b1b1b;
}
.header-box .header-left .header-img {
  float: left;
}
.header-box .header-left .h-f-i {
  float: left;
}
.header-box .header-left img {
  margin-top: 7px;
  margin-right: 5px;
}
.header-box .header-right {
  width: auto;
  height: 100%;
  float: right;
  font-size: 12px;
  line-height: 30px;
}
.header-box .header-right li {
  width: auto;
  float: left;
}
.header-box .header-right li a {
  display: block;
  height: 100%;
}
.header-box .header-right li a .h-l-t {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 12px;
  color: #1b1b1b;
}
.header-box .header-right .h-f-i {
  float: left;
}
.header-box .header-right img {
  margin-top: 7px;
  margin-right: 5px;
}

/*头部*/
.header {
  width: 100%;
}
.header .header-box-box {
  width: 1200px;
  height: 90px;
  padding-top: 20px;
  margin: 0 auto;
}
.header .header-box-box .header-logo {
  float: left;
}
.header .header-box-box .header-right-box {
  float: right;
  height: 50px;
}
.header .header-box-box .header-right-box .header-shoucangjia {
  display: block;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
  color: #555555;
  margin-right: 20px;
  text-decoration: none;
  float: left;
}
.header .header-box-box .header-right-box .header-shoucangjia .iconfont {
  font-size: 16px;
  color: #cbdff9;
  margin-right: 5px;
}

/*导航*/
.daohang {
  width: 100%;
  height: 40px;
  background: #a260de;
  line-height: 40px;
}
.daohang nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.daohang nav a {
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/*路径*/
.lujing-box {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.lujing-box .lujing {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.lujing-box .lujing .lujing-right {
  float: left;
  height: 100%;
}
.lujing-box .lujing .lujing-right .iconfont {
  font-size: 18px;
  color: #555555;
}
.lujing-box .lujing .lujing-right .icon-shuangjiantouyou {
  font-size: 12px;
  color: #555555;
}
.lujing-box .lujing .lujing-right span {
  font-size: 14px;
  color: #555555;
}

/* 主体 */
main {
  width: 1200px;
  margin: 20px auto;
}
main .MainTitleBox {
  width: 100%;
  padding-left: 30px;
  margin-bottom: 40px;
}
main .MainTitleBox .MainTitle {
  width: 100%;
  font-size: 36px;
  color: #555555;
  font-weight: bold;
  margin-bottom: 20px;
}
main .MainTitleBox .MainAuthorBox {
  width: 100%;
  font-size: 18px;
  color: #555555;
  overflow: hidden;
}
main .MainTitleBox .MainAuthorBox div {
  float: left;
  margin-right: 100px;
}
main .MainContent {
  width: 100%;
  background: #ffffff;
  padding: 30px 36px 30px 36px;
  overflow: hidden;
}
main .MainContent img {
  max-width: 100%;
}

/* 返回顶部 */
.FHDB {
  width: 0;
  height: 0;
  background: #b3b3b3;
  color: #ffffff;
  line-height: 80px;
  text-align: center;
  border-radius: 18px;
  position: fixed;
  right: 230px;
  bottom: 300px;
  overflow: hidden;
}
.FHDB .iconfont {
  font-size: 42px;
}
