@charset "UTF-8";
/*初始化css*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

img {
  border: none;
}

/*页眉*/
header {
  min-width: 1200px;
  height: 75px;
  background: #fff;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-shadow: 0px -5px 20px 1px;
  box-shadow: 0px -5px 20px 1px;
  margin-bottom: 20px;
}
header .header-img {
  width: 216px;
  height: 52px;
  float: left;
}
header .header-img img {
  width: 100%;
}
header .header-right {
  height: 52px;
  float: right;
}
header .header-right .header-r-img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  float: left;
  background: #ad6fc8;
  margin-right: 20px;
  position: relative;
}
header .header-right .header-r-img img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
header .header-right .header-name {
  height: 100%;
  line-height: 52px;
  font-size: 16px;
  color: #555555;
  float: left;
  margin-right: 20px;
}
header .header-right .iconfont {
  font-size: 16px;
  line-height: 52px;
  color: #555555;
}

/*主体*/
main {
  width: 100%;
}
main .main-content-title {
  width: 100%;
  height: 92px;
  background: #dcdcdc;
}
main .main-content-title .content-title {
  width: 100%;
  height: 90px;
  background: #fff;
}
main .main-content-title .content-title .content-title-ul {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
main .main-content-title .content-title .content-title-ul li {
  width: 50%;
  height: 100%;
  float: left;
  padding-top: 10px;
  text-align: center;
}
main .main-content-title .content-title .content-title-ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
main .main-content-title .content-title .content-title-ul li a .top-iconfont {
  color: #a260de;
  font-size: 24px;
  margin-bottom: 8px;
}
main .main-content-title .content-title .content-title-ul li a .content-title-li {
  color: #a260de;
  font-size: 12px;
}
main .main-content-title .content-title .content-title-ul li a .weixuanzhong {
  color: #e3cff5;
  font-size: 12px;
}
main .main-content-title .content-title .content-title-ul li a .yixuanzhong {
  color: #a260de;
  font-size: 12px;
}
main .main-content-title .content-title .content-title-ul .dingwei {
  width: 50%;
  border-bottom: 2px solid #a260de;
  position: absolute;
  left: 0;
  bottom: -2px;
}
main .main-iframe {
  width: 100%;
  background: #fff;
  height: calc(100vh - 200px);
}
main .main-iframe div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
main .main-iframe div iframe {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInBlcnNvbmFsY2VudGVyLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsVUFBVTtBQUNWO0VBQ0UsVUFBVTtFQUNWLFdBQVc7Q0FDWjs7QUFFRDtFQUNFLG9CQUFvQjtFQUNwQixpQkFBaUI7Q0FDbEI7QUFDRDtFQUNFLCtCQUErQjtFQUMvQiw0QkFBNEI7RUFDNUIsdUJBQXVCO0VBQ3ZCLG9CQUFvQjtDQUNyQjs7QUFFRDtFQUNFLHNCQUFzQjtDQUN2Qjs7QUFFRDtFQUNFLHNCQUFzQjtDQUN2QjtBQUNEO0VBQ0UsYUFBYTtDQUNkOztBQUVELE1BQU07QUFDTjtFQUNFLGtCQUFrQjtFQUNsQixhQUFhO0VBQ2IsaUJBQWlCO0VBQ2pCLGtCQUFrQjtFQUNsQixtQkFBbUI7RUFDbkIsb0JBQW9CO0VBQ3BCLHNDQUE4QjtVQUE5Qiw4QkFBOEI7RUFDOUIsb0JBQW9CO0VBQ3BCO0lBQ0UsYUFBYTtJQUNiLGFBQWE7SUFDYixZQUFZO0lBQ1o7TUFDRSxZQUFZO0tBQ2I7R0FDRjtFQUNEO0lBQ0UsYUFBYTtJQUNiLGFBQWE7SUFDYjtNQUNFLFlBQVk7TUFDWixhQUFhO01BQ2IsbUJBQW1CO01BQ25CLFlBQVk7TUFDWixvQkFBb0I7TUFDcEIsbUJBQW1CO01BQ25CLG1CQUFtQjtNQUNuQjtRQUNFLGdCQUFnQjtRQUNoQixpQkFBaUI7UUFDakIsbUJBQW1CO1FBQ25CLFFBQVE7UUFDUixPQUFPO1FBQ1AsVUFBVTtRQUNWLFNBQVM7UUFDVCxhQUFhO09BQ2Q7S0FDRjtJQUNEO01BQ0UsYUFBYTtNQUNiLGtCQUFrQjtNQUNsQixnQkFBZ0I7TUFDaEIsZUFBZTtNQUNmLFlBQVk7TUFDWixtQkFBbUI7S0FDcEI7SUFDRDtNQUNFLGdCQUFnQjtNQUNoQixrQkFBa0I7TUFDbEIsZUFBZTtLQUNoQjtHQUNGO0NBQ0Y7QUFDRCxNQUFNO0FBQ047RUFDRSxZQUFZO0VBQ1o7SUFDRSxZQUFZO0lBQ1osYUFBYTtJQUNiLG9CQUFvQjtJQUNwQjtNQUNFLFlBQVk7TUFDWixhQUFhO01BQ2IsaUJBQWlCO01BQ2pCO1FBQ0UsY0FBYztRQUNkLGFBQWE7UUFDYixlQUFlO1FBQ2YsbUJBQW1CO1FBQ25CO1VBQ0UsV0FBVztVQUNYLGFBQWE7VUFDYixZQUFZO1VBQ1osa0JBQWtCO1VBQ2xCLG1CQUFtQjtVQUNuQjtZQUNFLGVBQWU7WUFDZixZQUFZO1lBQ1osYUFBYTtZQUNiLHNCQUFzQjtZQUN0QjtjQUNFLGVBQWU7Y0FDZixnQkFBZ0I7Y0FDaEIsbUJBQW1CO2FBQ3BCO1lBQ0Q7Y0FDRSxlQUFlO2NBQ2YsZ0JBQWdCO2FBQ2pCO1lBQ0Q7Y0FDRSxlQUFlO2NBQ2YsZ0JBQWdCO2FBQ2pCO1lBQ0Q7Y0FDRSxlQUFlO2NBQ2YsZ0JBQWdCO2FBQ2pCO1dBQ0Y7O1NBRUY7UUFDRDtVQUNFLFdBQVc7VUFDWCxpQ0FBaUM7VUFDakMsbUJBQW1CO1VBQ25CLFFBQVE7VUFDUixhQUFhO1NBQ2Q7T0FDRjtLQUNGO0dBQ0Y7RUFDRDtJQUNFLFlBQVk7SUFDWixpQkFBaUI7SUFDakIsNEJBQTRCO0lBQzVCO01BQ0UsWUFBWTtNQUNaLGFBQWE7TUFDYixlQUFlO01BQ2Y7UUFDRSxZQUFZO1FBQ1osYUFBYTtRQUNiLGVBQWU7T0FDaEI7S0FDRjs7R0FFRjtDQUNGIiwiZmlsZSI6InBlcnNvbmFsY2VudGVyLnNjc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvKuWIneWni+WMlmNzcyovXHJcbmh0bWwsIGJvZHksIGRpdiwgdWwsIGxpLCBoMSwgaDIsIGgzLCBoNCwgaDUsIGg2LCBwLCBkbCwgZHQsIGRkLCBvbCwgZm9ybSwgaW5wdXQsIHRleHRhcmVhLCB0aCwgdGQsIHNlbGVjdCB7XHJcbiAgbWFyZ2luOiAwO1xyXG4gIHBhZGRpbmc6IDA7XHJcbn1cclxuXHJcbmJvZHkge1xyXG4gIGJhY2tncm91bmQ6ICNmOGY4Zjg7XHJcbiAgb3ZlcmZsb3c6IGhpZGRlbjtcclxufVxyXG4qIHtcclxuICAtd2Via2l0LWJveC1zaXppbmc6IGJvcmRlci1ib3g7XHJcbiAgLW1vei1ib3gtc2l6aW5nOiBib3JkZXItYm94O1xyXG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XHJcbiAgZm9udC1mYW1pbHk6ICflvq7ova/pm4Xpu5EnO1xyXG59XHJcblxyXG5hIHtcclxuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbn1cclxuXHJcbmxpIHtcclxuICBsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XHJcbn1cclxuaW1ne1xyXG4gIGJvcmRlcjogbm9uZTtcclxufVxyXG5cclxuLyrpobXnnIkqL1xyXG5oZWFkZXJ7XHJcbiAgbWluLXdpZHRoOiAxMjAwcHg7XHJcbiAgaGVpZ2h0OiA3NXB4O1xyXG4gIGJhY2tncm91bmQ6ICNmZmY7XHJcbiAgcGFkZGluZy10b3A6IDE1cHg7XHJcbiAgcGFkZGluZy1sZWZ0OiAyMHB4O1xyXG4gIHBhZGRpbmctcmlnaHQ6IDIwcHg7XHJcbiAgYm94LXNoYWRvdzogMHB4IC01cHggMjBweCAxcHg7XHJcbiAgbWFyZ2luLWJvdHRvbTogMjBweDtcclxuICAuaGVhZGVyLWltZ3tcclxuICAgIHdpZHRoOiAyMTZweDtcclxuICAgIGhlaWdodDogNTJweDtcclxuICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgaW1ne1xyXG4gICAgICB3aWR0aDogMTAwJTtcclxuICAgIH1cclxuICB9XHJcbiAgLmhlYWRlci1yaWdodHtcclxuICAgIGhlaWdodDogNTJweDtcclxuICAgIGZsb2F0OiByaWdodDtcclxuICAgIC5oZWFkZXItci1pbWd7XHJcbiAgICAgIHdpZHRoOiA1MnB4O1xyXG4gICAgICBoZWlnaHQ6IDUycHg7XHJcbiAgICAgIGJvcmRlci1yYWRpdXM6IDUwJTtcclxuICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgIGJhY2tncm91bmQ6ICNhZDZmYzg7XHJcbiAgICAgIG1hcmdpbi1yaWdodDogMjBweDtcclxuICAgICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgICBpbWd7XHJcbiAgICAgICAgbWF4LXdpZHRoOiAxMDAlO1xyXG4gICAgICAgIG1heC1oZWlnaHQ6IDEwMCU7XHJcbiAgICAgICAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gICAgICAgIGxlZnQ6IDA7XHJcbiAgICAgICAgdG9wOiAwO1xyXG4gICAgICAgIGJvdHRvbTogMDtcclxuICAgICAgICByaWdodDogMDtcclxuICAgICAgICBtYXJnaW46IGF1dG87XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC5oZWFkZXItbmFtZXtcclxuICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICBsaW5lLWhlaWdodDogNTJweDtcclxuICAgICAgZm9udC1zaXplOiAxNnB4O1xyXG4gICAgICBjb2xvcjogIzU1NTU1NTtcclxuICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgIG1hcmdpbi1yaWdodDogMjBweDtcclxuICAgIH1cclxuICAgIC5pY29uZm9udHtcclxuICAgICAgZm9udC1zaXplOiAxNnB4O1xyXG4gICAgICBsaW5lLWhlaWdodDogNTJweDtcclxuICAgICAgY29sb3I6ICM1NTU1NTU7XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcbi8q5Li75L2TKi9cclxubWFpbntcclxuICB3aWR0aDogMTAwJTtcclxuICAubWFpbi1jb250ZW50LXRpdGxle1xyXG4gICAgd2lkdGg6IDEwMCU7XHJcbiAgICBoZWlnaHQ6IDkycHg7XHJcbiAgICBiYWNrZ3JvdW5kOiAjZGNkY2RjO1xyXG4gICAgLmNvbnRlbnQtdGl0bGV7XHJcbiAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICBoZWlnaHQ6IDkwcHg7XHJcbiAgICAgIGJhY2tncm91bmQ6ICNmZmY7XHJcbiAgICAgIC5jb250ZW50LXRpdGxlLXVse1xyXG4gICAgICAgIHdpZHRoOiAxMjAwcHg7XHJcbiAgICAgICAgaGVpZ2h0OiAxMDAlO1xyXG4gICAgICAgIG1hcmdpbjogMCBhdXRvO1xyXG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgICAgICBsaXtcclxuICAgICAgICAgIHdpZHRoOiA1MCU7XHJcbiAgICAgICAgICBoZWlnaHQ6IDEwMCU7XHJcbiAgICAgICAgICBmbG9hdDogbGVmdDtcclxuICAgICAgICAgIHBhZGRpbmctdG9wOiAxMHB4O1xyXG4gICAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgICAgICAgYXtcclxuICAgICAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICAgICAgICBoZWlnaHQ6IDEwMCU7XHJcbiAgICAgICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgICAgICAgICAgLnRvcC1pY29uZm9udHtcclxuICAgICAgICAgICAgICBjb2xvcjogI2EyNjBkZTtcclxuICAgICAgICAgICAgICBmb250LXNpemU6IDI0cHg7XHJcbiAgICAgICAgICAgICAgbWFyZ2luLWJvdHRvbTogOHB4O1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICAgIC5jb250ZW50LXRpdGxlLWxpe1xyXG4gICAgICAgICAgICAgIGNvbG9yOiAjYTI2MGRlO1xyXG4gICAgICAgICAgICAgIGZvbnQtc2l6ZTogMTJweDtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAud2VpeHVhbnpob25ne1xyXG4gICAgICAgICAgICAgIGNvbG9yOiAjZTNjZmY1O1xyXG4gICAgICAgICAgICAgIGZvbnQtc2l6ZTogMTJweDtcclxuICAgICAgICAgICAgfVxyXG4gICAgICAgICAgICAueWl4dWFuemhvbmd7XHJcbiAgICAgICAgICAgICAgY29sb3I6ICNhMjYwZGU7XHJcbiAgICAgICAgICAgICAgZm9udC1zaXplOiAxMnB4O1xyXG4gICAgICAgICAgICB9XHJcbiAgICAgICAgICB9XHJcblxyXG4gICAgICAgIH1cclxuICAgICAgICAuZGluZ3dlaXtcclxuICAgICAgICAgIHdpZHRoOiA1MCU7XHJcbiAgICAgICAgICBib3JkZXItYm90dG9tOiAycHggc29saWQgI2EyNjBkZTtcclxuICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgICAgIGxlZnQ6IDA7XHJcbiAgICAgICAgICBib3R0b206IC0ycHg7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5tYWluLWlmcmFtZXtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgYmFja2dyb3VuZDogI2ZmZjtcclxuICAgIGhlaWdodDogY2FsYygxMDB2aCAtIDIwMHB4KTtcclxuICAgIGRpdntcclxuICAgICAgd2lkdGg6IDEwMCU7XHJcbiAgICAgIGhlaWdodDogMTAwJTtcclxuICAgICAgbWFyZ2luOiAwIGF1dG87XHJcbiAgICAgIGlmcmFtZXtcclxuICAgICAgICB3aWR0aDogMTAwJTtcclxuICAgICAgICBoZWlnaHQ6IDEwMCU7XHJcbiAgICAgICAgbWFyZ2luOiAwIGF1dG87XHJcbiAgICAgIH1cclxuICAgIH1cclxuXHJcbiAgfVxyXG59Il19 */
