@charset "UTF-8";
/*初始化css*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
}

img {
  border: none;
}

* {
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*头部*/
header {
  width: 100%;
  background: #fff;
}
header .header-box {
  width: 1200px;
  height: 90px;
  padding-top: 20px;
  margin: 0 auto;
}
header .header-box .header-logo {
  float: left;
}
header .header-box .header-right-box {
  float: right;
  height: 50px;
}
header .header-box .header-right-box .header-shoucangjia {
  display: block;
  height: 100%;
  line-height: 50px;
  font-size: 14px;
  color: #555555;
  margin-right: 20px;
  text-decoration: none;
  float: left;
}
header .header-box .header-right-box .header-shoucangjia .iconfont {
  font-size: 16px;
  color: #cbdff9;
  margin-right: 5px;
}

/*导航*/
.daohang {
  width: 100%;
  height: 40px;
  background: #a260de;
  line-height: 40px;
}
.daohang nav {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.daohang nav a {
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/*主体*/
main {
  /*设备名称*/
  /*排序方式*/
  /*设备转让内容*/
  /*分页*/
}
main .main-sbmc-box {
  width: 1200px;
  border: 2px solid #eeeeee;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 10px;
  overflow: hidden;
}
main .main-sbmc-box .main-sbmc-title {
  width: 64px;
  height: 100%;
  margin-right: 10px;
  font-size: 14px;
  color: #555555;
  float: left;
}
main .main-sbmc-box .main-sbmc-name {
  float: left;
  max-width: 1100px;
}
main .main-sbmc-box .main-sbmc-name .main-sbmc {
  display: block;
  float: left;
  font-size: 14px;
  color: #555555;
  margin-right: 24px;
  margin-bottom: 10px;
  cursor: pointer;
}
main .main-sbmc-box .main-sbmc-name .sbmc-name-active {
  color: #a260de;
}
main .main-sbpxfs-box {
  width: 1200px;
  height: 40px;
  background: #f5f5f5;
  border: 2px solid #eeeeee;
  border-top: none;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  /*隐藏div*/
  /*点击排序字体颜色*/
}
main .main-sbpxfs-box .main-sbpxfs-zh {
  float: left;
  width: 80px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #555555;
  border-right: 2px solid #eeeeee;
  cursor: pointer;
}
main .main-sbpxfs-box .main-sbpxfs-jg {
  float: left;
  padding: 0 30px 0 30px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #555555;
  border-right: 2px solid #eeeeee;
  cursor: pointer;
}
main .main-sbpxfs-box .main-sbpxfs-szdq {
  float: left;
  width: 120px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #555555;
  border-right: 2px solid #eeeeee;
  cursor: pointer;
}
main .main-sbpxfs-box .main-sbpxfs-ppmc {
  float: left;
  width: 120px;
  height: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
  color: #555555;
  border-right: 2px solid #eeeeee;
  cursor: pointer;
}
main .main-sbpxfs-box .sbpxfs-display {
  width: 1200px;
  border: 2px solid #eeeeee;
  background: #fff;
  text-align: left;
  padding: 20px;
  position: absolute;
  left: -2px;
  top: 100%;
  z-index: 99;
}
main .main-sbpxfs-box .sbpxfs-display .sbpxfs-span {
  font-size: 14px;
  color: #555555;
  margin-right: 18px;
}
main .main-sbpxfs-box .sbpxfs-display .sbpxfs-span-active {
  color: #a260de;
}
main .main-sbpxfs-box .sbpxfs-none {
  display: none;
}
main .main-sbpxfs-box .sbpxfs-color {
  color: #a260de;
}
main .sbzr-content-box {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
main .sbzr-content-box .sbzr-content-box {
  width: 220px;
  height: 340px;
  border: 2px solid #eeeeee;
  margin-right: 25px;
  margin-bottom: 34px;
  float: left;
}
main .sbzr-content-box .sbzr-content-box .sbzr-img {
  width: 100%;
  height: 216px;
  position: relative;
  margin-bottom: 12px;
}
main .sbzr-content-box .sbzr-content-box .sbzr-img img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
main .sbzr-content-box .sbzr-content-box .sbzr-text-box {
  width: 100%;
  padding-left: 10px;
}
main .sbzr-content-box .sbzr-content-box .sbzr-text-box .sbzr-cpxx {
  width: 100%;
  margin-bottom: 6px;
}
main .sbzr-content-box .sbzr-content-box .sbzr-text-box .sbzr-cpxx .sbzr-cpxx-gg-l {
  font-size: 14px;
  color: #555555;
}
main .sbzr-content-box .sbzr-content-box .sbzr-text-box .sbzr-cpxx .sbzr-cpxx-gg-r {
  font-size: 14px;
  color: #555555;
}
main .sbzr-content-box .sbzr-content-box .sbzr-text-box .sbzr-cpxx .sbzr-cpxx-jg-r {
  font-size: 14px;
  color: #f75d2e;
}
main .sbzr-content-box .sbzr-content-box:hover {
  border: 2px solid #bc84ca;
}
main .sbzr-content-box .sbzr-content-box:nth-child(5n) {
  margin-right: 0;
}
main .main-fenye-box {
  width: 600px;
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 100px;
  color: #555555;
  overflow: hidden;
  /*点击效果css*/
}
main .main-fenye-box span {
  float: left;
  cursor: pointer;
}
main .main-fenye-box div {
  float: left;
  cursor: pointer;
}
main .main-fenye-box li {
  float: left;
  font-size: 12px;
  margin-right: 14px;
  padding-top: 3px;
  cursor: pointer;
}
main .main-fenye-box .right-bottom-click {
  font-weight: bold;
  color: #8c3ab8;
}
main .main-fenye-box .main-sy {
  font-size: 16px;
  margin-right: 40px;
}
main .main-fenye-box .main-syy {
  font-size: 16px;
  margin-right: 40px;
}
main .main-fenye-box .main-xyy {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
}
main .main-fenye-box .main-tiaozhuan {
  font-size: 16px;
}
main .main-fenye-box .main-tiaozhuan input {
  float: left;
  width: 40px;
  height: 28px;
  background: none;
  border: 1px solid #b7b6b6;
  margin-left: 22px;
  margin-right: 22px;
}
main .main-fenye-box .main-wy {
  float: right;
  font-size: 16px;
}

/*页脚*/
footer {
  width: 100%;
  height: 530px;
  margin-top: 100px;
}
footer .footer-bjt-box {
  width: 100%;
  height: 490px;
  background-image: url("../img/hyb.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 70px;
}
footer .footer-bjt-box .footer-c-box {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
footer .footer-bjt-box .footer-c-box .footer-box {
  float: left;
  margin-right: 150px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-img {
  text-align: center;
  margin-bottom: 46px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text-title {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box .footer-text-box .footer-text a {
  font-size: 16px;
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 {
  margin: 0;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-img {
  text-align: center;
  margin-bottom: 46px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box {
  min-height: 100px;
  margin-bottom: 48px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box .footer-ewm-img {
  float: left;
  margin-right: 10px;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-ewm-box .footer-ewm-img .ewm-text {
  font-size: 16px;
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box {
  color: #fff;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box .footer-kf-title {
  font-size: 16px;
  font-weight: bold;
}
footer .footer-bjt-box .footer-c-box .footer-box1 .footer-kf-box .footer-kf-text {
  font-size: 22px;
  font-weight: bold;
}
footer .footer-footer {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  color: #1b1b1b;
  padding-top: 8px;
}
