@charset "UTF-8";
/*初始化css*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f8;
}

img {
  border: none;
}

* {
  box-sizing: border-box;
  font-family: '微软雅黑';
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/*页眉*/
header {
  width: 100%;
  background: #fff;
}
header .header-box {
  width: 1200px;
  height: 100px;
  padding-top: 24px;
  margin: 0 auto;
}
header .header-box .header-logo {
  padding-right: 32px;
  float: left;
}
header .header-box .wjmm-title {
  height: 52px;
  font-size: 18px;
  color: #894ebf;
  line-height: 52px;
}
header .header-box .zc-dl-wdgc {
  height: 52px;
  line-height: 52px;
  font-size: 18px;
  color: #894ebf;
  float: right;
}
header .header-box .zc-dl-wdgc .header-zc {
  height: 20px;
  float: left;
  width: 90px;
  text-align: center;
  border-right: 2px solid #894ebf;
  line-height: 20px;
  margin-top: 24px;
}
header .header-box .zc-dl-wdgc .header-zc a {
  color: #894ebf;
  text-decoration: none;
}
header .header-box .zc-dl-wdgc .header-zc:last-child {
  border: none;
}

/*主体*/
main {
  width: 100%;
}
main .main-top {
  width: 1200px;
  margin: 0 auto;
  padding-top: 106px;
  color: #858585;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 86px;
}
main .main-top .iconfont {
  color: #ad6fc8;
  font-size: 22px;
  margin-right: 10px;
  font-weight: normal;
}
main .main-bottom {
  width: 1200px;
  margin: 0 auto;
}
main .main-bottom form {
  width: 334px;
  margin: 0 auto;
}
main .main-bottom form .control-group {
  height: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}
main .main-bottom form .control-group label {
  float: left;
  margin-right: 24px;
}
main .main-bottom form .control-group .controls {
  width: 270px;
  height: 100%;
  float: right;
}
main .main-bottom form .control-group .controls input {
  height: 100%;
  width: 100%;
}
main .main-bottom form .control-group .controls .main-yzm {
  width: 160px;
  margin-right: 10px;
  float: left;
}
main .main-bottom form .control-group .controls .main-yzm-fasong {
  height: 100%;
  width: 100px;
  text-align: center;
  float: left;
  line-height: 30px;
  background: #ad6fc8;
  font-size: 14px;
  color: #fff;
}
main .main-bottom form .main-btn {
  width: 100px;
  height: 30px;
  margin: 0 auto;
}
main .main-bottom form .main-btn .btn {
  width: 100%;
  height: 100%;
  background: #ad6fc8;
  font-size: 14px;
  border: none;
  padding: 0;
  text-align: center;
  line-height: 30px;
  color: #fff;
}
