<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>设备转让</title>
    <link rel="stylesheet" href="{:config('home_css')}/shebeitransfer.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <link rel="stylesheet" href="{:config('home_css')}/foot_base.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header-box">
    <div class="header-centre">
        <ul class="header-left">
            <li>
                <a href="">
                    <div class="h-f-i">
                        <div class="header-img">
                            <img data-original="{:config('home_img')}/asjgc.jpg" alt="">
                        </div>
                        <div class="h-l-t">手机工厂 |</div>
                    </div>
                </a>
            </li>
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            {notempty name='$Request.session.username'}
            【{$Request.session.username}】
            <span><a href="{:url('home/user/loginout')}">退出登录</a></span>
            {else /}
            <li><a href="{:url('home/user/login')}">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/register')}">
                <div class="h-l-t">免费注册</div>
            </a></li>
            {/notempty}
        </ul>
        <ul class="header-right">
            <li><a href="/">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="{:url('home/user/accountcenter')}">
                <div class="h-l-t">个人中心 |</div>
            </a></li>
            <li><a href="{:url('home/index/shoucangjia')}">
                <div class="h-l-t">收藏夹 |</div>
            </a>
            </li>
            <li><a href="">
                <div class="h-l-t">实力商家 |</div>
            </a></li>
            <li><a href="{:url('admin/user/login')}">
                <div class="h-l-t">工厂后台 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">客服中心 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">网站导航</div>
            </a></li>
        </ul>
    </div>
</header>

<div class="header">
    <div class="header-box-box">
        <div class="header-logo">
            <a href="{:url('/')}">
                <img data-original="{:config('home_img')}/a0.png" alt="">
        </div>
        <div class="header-right-box">
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-iconxingjikongxin"></i>
                <span class="header-text">收藏夹</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
                <span class="header-text">已关注</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-dinghuodan"></i>
                <span class="header-text">订货单</span>
            </a>
        </div>
    </div>
</div>
<!--导航-->
<div class="daohang">
    <div class="daohang">
        <nav>
            <a href="{:url('/')}">首页</a>
            <a href="{:url('home/custom/custom')}">产品定制</a>
            <a href="{:url('home/stickacard/stickacard')}">加工专区</a>
            <a href="{:url('home/inspection/inspection')}">优选验厂</a>
            <a href="{:url('home/shebeitransfer/shebeitransfer')}">设备转让</a>
            <a href="{:url('home/documentary/documentary')}">跟单专家</a>
            <a href="javascript:;">网络批发</a>
        </nav>
    </div>
</div>

<!--主体-->
<main>
    <!--设备名称-->
    <div class="main-sbmc-box">
        <div class="main-sbmc-title">设备类型 :</div>
        <div class="main-sbmc-name">
            {volist name='type' id='v'}
            <span class="main-sbmc">{$v.type_name}设备</span>
            {/volist}
        </div>
    </div>
    <!--排序方式-->
    <div class="main-sbpxfs-box">
        <div class="main-sbpxfs-zh">综合</div>
        <div class="main-sbpxfs-css main-sbpxfs-jg">
            <span>价格</span>
            <i class="iconfont icon-xiasanjiao"></i>
            <div class="sbpxfs-display sbpxfs-none">
                <span class="sbpxfs-span">1-10万</span>
                <span class="sbpxfs-span">10万-20万</span>
                <span class="sbpxfs-span">20万-30万</span>
                <span class="sbpxfs-span">30万以上</span>
            </div>
        </div>
        <div class="main-sbpxfs-css main-sbpxfs-szdq">
            <span>所在地区</span>
            <i class="iconfont icon-xiasanjiao"></i>
            <div class="sbpxfs-display sbpxfs-none">
                {volist name='info' id='v'}
                <span class="sbpxfs-span">{$v.Name}</span>
                {/volist}
            </div>
        </div>
        <div class="main-sbpxfs-css main-sbpxfs-ppmc">
            <span>品牌名称</span>
            <i class="iconfont icon-xiasanjiao"></i>
            <div class="sbpxfs-display sbpxfs-none">
                <span class="sbpxfs-span sbpxfs-span-active">苏州</span>
                <span class="sbpxfs-span">新余宏</span>
                <span class="sbpxfs-span">海纳</span>
                <span class="sbpxfs-span">顺昌</span>
                <span class="sbpxfs-span">兴世</span>
                <span class="sbpxfs-span">恒昌</span>
                <span class="sbpxfs-span">汉威</span>
                <span class="sbpxfs-span">富田精工</span>
                <span class="sbpxfs-span">瑞光</span>
                <span class="sbpxfs-span">溢泰</span>
                <span class="sbpxfs-span">明辉</span>
                <span class="sbpxfs-span">三木</span>
                <span class="sbpxfs-span">智联精工</span>
                <span class="sbpxfs-span">其它</span>
            </div>
        </div>
    </div>
    <!--设备转让内容-->
    <div class="sbzr-content-box">
        <!--设备转让内容div-->
        <a href="{:url('home/shebeitransfer/shebeizhuanrang')}" class="sbzr-content-box">
            <div class="sbzr-img">
                <img data-original="{:config('home_img')}/index_sbzr.png" alt="">
            </div>
            <div class="sbzr-text-box">
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">设备名称：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">入厂时间：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">稳定生产速度：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">价格：</span>
                    <span class="sbzr-cpxx-jg-r">15000</span>
                </div>
            </div>
        </a>
        <!--设备转让内容div-->
        <a href="{:url('home/sheibeitransfer/shebeizhuanrang')}" class="sbzr-content-box">
            <div class="sbzr-img">
                <img data-original="{:config('home_img')}/index_sbzr.png" alt="">
            </div>
            <div class="sbzr-text-box">
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">设备名称：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">入厂时间：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">稳定生产速度：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">价格：</span>
                    <span class="sbzr-cpxx-jg-r">15000</span>
                </div>
            </div>
        </a>
        <!--设备转让内容div-->
    </div>
    <!--分页-->
    <div class="main-fenye-box">
        <span class="main-sy">首页</span>
        <div class="main-syy">上一页</div>
        <ul>
            <li class="right-bottom-click">1</li>
        </ul>
        <div class="main-xyy">下一页</div>
        <div class="main-tiaozhuan">
            <span class="tiaozhuan">跳转</span>
            <input type="text" value="">
            <span>页</span>
        </div>
        <span class="main-wy">尾页</span>
    </div>
</main>
<!--页脚-->
<div class="footer">
    <footer>
        <div class="footer-left">
            <div class="footer-content-box">
                <strong class="footer-l-title">工厂指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">成长攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">定制指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">加工定制</a></li>
                    <li class="footer-l-li"><a href="">加工攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">关于我们</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">联系我们</a></li>
                    <li class="footer-l-li"><a href="">广告报价</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weigzh.png" alt="">
                </div>
                <div class="footer-r-weixin-text">微信公众号</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weikefu.png" alt="">
                </div>
                <div class="footer-r-weixin-text">客服微信</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-r-tel-title">客服电话</div>
                <div class="footer-r-tel-content">0571-86169936</div>
            </div>
        </div>
    </footer>
</div>
<div class="footer-beian">版权2018-2028 @ 杭州博卫传媒有限公司 闽ICP备16026715号</div>

<script src="{:config('home_js')}/shebeitransfer.js"></script>
<script>
    $(function() {
        $("img").lazyload({
            threshold : 200,
            skip_invisible : false
        });
    });
</script>
</body>
</html>