 <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账号中心</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/accountcenter.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="header-img">
        <a href="/">
            <img src="{:config('home_img')}/a0.png" alt="">
        </a>
    </div>
    <div class="header-right">
        <div class="header-r-img">
            <img src="" alt="">
        </div>
        <div class="header-name">xxxxxxx</div>
        <i class="iconfont icon-sandian"></i>
    </div>
</header>
<!--主体-->
<main>
    <div class="main-content-title">
        <div class="content-title">
            <ul class="content-title-ul">
                <li>
                    <a href="./usercenter.html" target="iframe">
                        <span class="iconfont icon-yonghuzhongxin1 top-iconfont"></span>
                        <div class="content-title-li">个人信息</div>
                        <i class="iconfont icon-xiasanjiao weixuanzhong yixuanzhong"></i>
                    </a>
                </li>
                <li>
                    <a href="{:url('home/index/fabuxinxi')}" target="iframe">
                        <span class="iconfont icon-gaiqiyexinxi top-iconfont"></span>
                        <div class="content-title-li">产品定制发布</div>
                        <i class="iconfont icon-xiasanjiao weixuanzhong"></i>
                    </a>
                </li>

                <div class="dingwei"></div>
            </ul>
        </div>
    </div>
    <div class="main-iframe">
        <div>
            <iframe src="{:url('home/index/usercenter')}" frameborder="0" name="iframe"></iframe>
        </div>
    </div>
</main>


<script src="{:config('home_js')}/accountcenter.js"></script>
</body>
</html>