<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>产品定制详情</title>
    <link rel="stylesheet" href="{:config('home_css')}/swiper.min.css">
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/customizing.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Demo styles -->
    <style>
        .swiper-container {
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        .swiper-slide {
            background-size: cover;
            background-position: center;
        }
        .gallery-top {
            height: 380px;
            width: 380px;
            border: 1px solid #a260de;
        }
        .gallery-top .swiper-slide{
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .gallery-thumbs {
            height: 60px;
            box-sizing: border-box;
            padding: 10px 0;
        }
        .gallery-thumbs .swiper-slide {
            height: 100%;
            width: 40px;
            background-size: 100%;
            background-repeat: no-repeat;
            opacity: 0.4;
        }
        .gallery-thumbs .swiper-slide-active {
            border: 1px solid #a260de;
            opacity: 1;
        }

    </style>
</head>
<body>
<header>
    <div class="header-box">
        <div class="header-logo">
            <img src="{:config('home_img')}/a0.png" alt="">
        </div>
        <div class="header-right-box">
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-iconxingjikongxin"></i>
                <span class="header-text">收藏夹</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
                <span class="header-text">已关注</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-dinghuodan"></i>
                <span class="header-text">订货单</span>
            </a>
        </div>
    </div>
</header>
<!--导航-->
<div class="daohang">
    <nav>
        <a href="{:url('/')}">首页</a>
        <a href="{:url('home/index/custom')}">产品定制</a>
        <a href="{:url('home/index/stickacard')}">贴牌专区</a>
        <a href="{:url('home/index/inspection')}">优选验厂</a>
        <a href="{:url('home/index/shebeitransfer')}">设备转让</a>
        <a href="{:url('home/index/documentary')}">跟单专家</a>
        <a href="javascript:;">网络批发</a>
    </nav>
</div>

<!--网页路径-->
<div class="lujing-box">
    <div class="lujing">
        <div class="lujing-right">
            <i class="iconfont icon-weizhi"></i>
            <span>首页</span>
            <i class="iconfont icon-shuangjiantouyou"></i>
            <span>产品定制</span>
            <i class="iconfont icon-shuangjiantouyou"></i>
            <span>产品定制详情</span>
        </div>
    </div>
</div>

<!--主体-->
<main>
    <div class="main-top-box">
        <div class="main-t-t">
            <strong>已选类别：<span>卫生巾</span></strong>
            <div class="main-t-t-r">
                <div class="main-sc-box">
                    <i class="iconfont icon-iconxingjikongxin"></i>
                    <span class="main-t-sc">收藏</span>
                </div>
                <div class="main-fenxiang">
                    <i class="iconfont icon-Share"></i>
                    <span class="main-t-sc">分享</span>
                </div>
            </div>
        </div>
        <div class="main-t-b">
            <span class="main-t-b-fb">xxxxxx发布</span><span class="main-t-b-fb">详细地址：xxxxxxxxxxxxxxxxxxxxx</span><span>2018年10月10日 <i class="iconfont icon-biao"></i></span>
        </div>
    </div>
    <div class="main-bottom-box">
        <div class="main-bottom-left">
            <!-- Swiper -->
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a1.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a2.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                </div>
                <!-- Add Arrows -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a1.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a2.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                    <div class="swiper-slide" style="background-image:url({:config('home_img')}/a0.png)"></div>
                </div>
            </div>
        </div>
        <div class="main-bottom-right">
            <div class="main-bootom-top-box">
                <div class="main-bottom-t-t-b">
                    <div class="main-bottom-top-left">
                        <div class="main-bottom-top-dizhi"><span>福建</span>-<span>泉州市</span></div>
                    </div>
                    <div class="main-bottom-top-right">
                        <div class="main-bottom-top-dizhi"><a href="">工厂/品牌商</a></div>
                    </div>
                </div>
                <div class="main-content-name-box">
                    <div class="main-content-name-left">产品名称</div>
                    <div class="main-content-name-right">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</div>
                </div>
                <div class="main-content-box">
                    <div class="main-content">
                        <div class="main-content-left">产品长度(mm)</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">产品宽度(mm)</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">芯体</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">供货时间</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">产地</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">设备新旧程度</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">订单量(万片)</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">金属检测</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">视觉检测</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                    <div class="main-content">
                        <div class="main-content-left">包装形式</div>
                        <div class="main-content-right">xxxxxxxxxxxxxxxxxxxxx</div>
                    </div>
                </div>
            </div>
            <div class="main-bottom-sm-box">
                <div class="main-bottom-sm-top">
                    <div class="main-bottom-sm-title">说明</div>
                </div>
                <div class="main-bottom-sm-bottom">
                    xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                </div>
            </div>
            <div class="main-lxsj" tel="1234567890"><i class="iconfont icon-kefu"></i>联系商家</div>
        </div>
    </div>
</main>


<!--页脚-->
<footer>
    <div class="footer-bjt-box">
        <div class="footer-c-box">
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb1.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">网站介绍</div>
                    <span class="footer-text"><a href="">官方信息港</a></span>
                    <span class="footer-text"><a href="">个人草根网站</a></span>
                    <span class="footer-text"><a href="">加盟的分站</a></span>
                    <span class="footer-text"><a href="">实力团队</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb2.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">关于我们</div>
                    <span class="footer-text"><a href="">市场分析调查</a></span>
                    <span class="footer-text"><a href="">可行性分析</a></span>
                    <span class="footer-text"><a href="">项目策划</a></span>
                    <span class="footer-text"><a href="">项目的可行性</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb3.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">服务条款</div>
                    <span class="footer-text"><a href="">服务的确认和接纳</a></span>
                    <span class="footer-text"><a href="">服务修订</a></span>
                    <span class="footer-text"><a href="">用户隐私</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb4.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">广告服务</div>
                    <span class="footer-text"><a href="">管理平台</a></span>
                    <span class="footer-text"><a href="">创意案例</a></span>
                    <span class="footer-text"><a href="">推广评估</a></span>
                    <span class="footer-text"><a href="">指导优化</a></span>
                </div>
            </div>
            <div class="footer-box1">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb5.png" alt="">
                </div>
                <div class="footer-ewm-box">
                    <div class="footer-ewm-img">
                        <img src="{:config('home_img')}/by-ewm.jpg" alt="">
                        <div class="ewm-text">微信公众号</div>
                    </div>
                    <div class="footer-ewm-img">
                        <img src="{:config('home_img')}/by-ewm.jpg" alt="">
                        <div class="ewm-text">客服微信</div>
                    </div>
                </div>
                <div class="footer-kf-box">
                    <div class="footer-kf-title">客服电话</div>
                    <div class="footer-kf-text">0595-28113222</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        Copyright © 2003-2015 163k.com All Reserved © 卫品共享工厂闽ICP备16026715号-1
    </div>
</footer>

<script src="{:config('home_js')}/swiper.min.js"></script>
<script src="{:config('home_js')}/customizing.js"></script>
<script>
    var galleryTop = new Swiper('.gallery-top', {
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 10,
        loop:true,
        loopedSlides: 5, //looped slides should be the same
    });
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        touchRatio: 0.2,
        loop:true,
        loopedSlides: 5, //looped slides should be the same
        slideToClickedSlide: true
    });
    galleryTop.params.control = galleryThumbs;
    galleryThumbs.params.control = galleryTop;

</script>
<script>
    $(function () {
        $('.main-bottom-lxkf').on('click',function () {
            alert('商家联系方式：'+'123456789')
        })
    })
</script>
</body>
</html>