<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>跟单专家</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/documentary.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header">
    <div class="header-centre">
        <ul class="header-left">
            <li>
                <a href="">
                    <div class="h-f-i">
                        <div class="header-img">
                            <img src="{:config('home_img')}/asjgc.jpg" alt="">
                        </div>
                        <div class="h-l-t">手机工厂 |</div>
                    </div>
                </a>
            </li>
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            <li><a href="/">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="register">
                <div class="h-l-t">免费注册 |</div>
            </a></li>
        </ul>
        <ul class="header-right">
            <li><a href="">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">我的工厂 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">收藏夹(<span>0</span>) |</div>
            </a>
            </li>
            <li><a href="">
                <div class="h-l-t">实力商家 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">我是供应商 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">客服中心 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">网站导航</div>
            </a></li>
        </ul>
    </div>
</header>
<!--搜索-->
<div class="search-box">
    <div class="search-centre">
        <div class="sear-logo">
            <img src="{:config('home_img')}/a0.png" alt="">
        </div>

        <div class="search-c-b">
            <div class="search">
                <div class="search-fram">
                    <div class="s-f-i-i">
                        <img src="{:config('home_img')}/aa.png" alt="">
                    </div>
                    <input type="text" placeholder="共2000家企业入驻" value="">
                </div>
                <div class="search-button">
                    <i class="iconfont icon-fangdajing"></i>
                </div>
            </div>
            <div class="re-search">
                <span>热门搜索:</span>
                <a href="">卫生巾</a>
                <a href="">纸尿裤</a>
            </div>
        </div>

        <div class="search-right-b">
            <div class="s-trademark">
                <div>
                    <img src="{:config('home_img')}/a1.png" alt="">
                </div>
                <span>海量工厂</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img src="{:config('home_img')}/a2.png" alt="">
                </div>
                <span>产品定制</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img src="{:config('home_img')}/a3.png" alt="">
                </div>
                <span>团购批发</span>
            </div>
        </div>
    </div>
</div>
<!--导航-->
<div class="daohang-box">
    <ul>
        <a href="javascript:;">
            <li class="daohang-f-li"></li>
        </a>
        <a href="{:url('/')}">
            <li>首页</li>
        </a>
        <a href="{:url('home/index/custom')}">
            <li>产品定制</li>
        </a>
        <a href="{:url('home/index/stickacard')}">
            <li>贴牌专区</li>
        </a>
        <a href="{:url('home/index/inspection')}">
            <li>优选验厂</li>
        </a>
        <a href="{:url('home/index/shebeitransfer')}">
            <li>设备转让</li>
        </a>
        <a href="{:url('home/index/documentary')}">
            <li>跟单专家</li>
        </a>
        <a href="{:url('home/index/wlpf')}">
            <li>网络批发</li>
        </a>
        <a href="">
            <li class="daohang-fabu"><div class="daohang-yuan"></div>发布需求>></li>
        </a>
    </ul>
</div>
<!--banner-->
<div class="banner-box">
    <div class="banner-c-box">
        <ul class="ce-daohang">
            <a href="javascript:;">
                <li><i class="iconfont icon-daohang"></i>工厂产品分类</li>
            </a>
            <a href="">
                <li>卫生用品定制</li>
            </a>
            <a href="">
                <li>纸尿裤加工</li>
            </a>
            <a href="">
                <li>经期裤加工</li>
            </a>
            <a href="">
                <li>湿纸巾加工</li>
            </a>
            <a href="">
                <li>卫生巾加工</li>
            </a>
            <a href="">
                <li>护理垫加工</li>
            </a>
            <a href="">
                <li>生活用纸加工</li>
            </a>
        </ul>
    </div>
</div>
<main>
    <ul class="gdzy-box">
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
        <li class="gdzy">
            <div class="gdzj-img-left">
                <div class="gdzj-img">
                    <img src="{:config('home_img')}/documentary/8.png" alt="">
                </div>
                <div class="gdzj-location">
                    <i class="iconfont icon-weizhi"></i>
                    <span class="location">广东</span>
                </div>
            </div>
            <div class="gdzj-right-box">
                <div class="gdzj--name-box">
                    <div class="gdzj-name">于文文</div>
                    <div class="gdzj-nx-box">
                        <span>供应链工作经验：</span>
                        <span class="gdzj-nx">17年</span>
                    </div>
                </div>
                <ul class="gdzj-bq-box">
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                    <li class="gdzj-bq">精准找厂</li>
                </ul>
                <ul class="gdzj-xx-box">
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">擅长品类：</span>
                        <span class="gdzj-xx-text">针织</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">服务过的品牌：</span>
                        <span class="gdzj-xx-text">云裳生活</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">累计订单数：</span>
                        <span class="gdzj-xx-text">711单</span>
                    </li>
                    <li class="gdzj-xx">
                        <span class="gdzj-xx-title">个人简介：</span>
                        <span class="gdzj-xx-text">深厚的服装供应链管理专业背景，优秀的分析、沟通、
协调、谈判能力。</span>
                    </li>
                </ul>
            </div>
            <a href="" class="lxkf-hover"><i class="iconfont icon-liaotian"></i>联系客服</a>
        </li>
    </ul>
    <!--分页-->
    <div class="main-fenye-box">
        <span class="main-sy">首页</span>
        <div class="main-syy">上一页</div>
        <ul>
            <li class="right-bottom-click">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
        <div class="main-xyy">下一页</div>
        <div class="main-tiaozhuan">
            <span class="tiaozhuan">跳转</span>
            <input type="text" value="">
            <span>页</span>
        </div>
        <span class="main-wy">尾页</span>
    </div>
</main>
<!--卫品共享工厂跟单专家优势分析-->
<div class="ysfx-box">
    <div class="ysfx-img">
        <img src="{:config('home_img')}/documentary/zjys_03.png" alt="">
    </div>
</div>
<!--页脚-->
<object data="./foot_base.html" type="text/x-scriptlet" style="width: 100%;height: 530px;"></object>
</body>
<script src="{:config('home_js')}/documentary.js"></script>
</html>