<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>发布信息</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/fabuxinxi.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style type="text/css">
    #divUL div {
        float: left;
    }

</style>

<body>
<main>
    <!--侧导航-->
    <ul class="cedaohang-dingwei">
        <li class="cedaohang-li cedaohang-active">卫生巾加工</li>
        <li class="cedaohang-li">婴儿尿裤加工</li>
        <li class="cedaohang-li">成人尿裤加工</li>
        <li class="cedaohang-li">产妇巾加工</li>
        <li class="cedaohang-li">护理垫加工</li>
        <li class="cedaohang-li">生活用纸加工</li>
        <li class="cedaohang-li">湿纸巾加工</li>
        <li class="cedaohang-li">经期裤加工</li>
        <li class="cedaohang-li">宠物垫加工</li>
        <li class="cedaohang-li">乳垫加工</li>
    </ul>
    <div class="main-title-box">
        <div class="main-title">
            <a href="javascript:;" class="main-title-a a-active">发布信息</a>
            <a href="./xinxiguanlishouye.html" class="main-title-a">信息管理</a>
        </div>
    </div>
    <div class="main-form-box">
        <form action="">
            <!--上传图片-->
            <div class="form-img-big-box">
                <div class="form-img-box-left">
                    <!--这是要展示上传图片的div以及img标签-->
                    <div id="localImag">
                        主图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc' name='pic' value=""
                                                         onclick="inputimg('pic','lacalImag','preview','doc')"></label>
                        <img src="" id="preview" alt="">
                    </div>
                </div>
                <div class="form-img-box-right">
                    <div id="localImag2" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc2' name='pic2' value=""
                                                         onclick="inputimg('pic2','lacalImag2','preview2','doc2')"></label>
                        <img src="" id="preview2" alt="">
                    </div>
                    <div id="localImag3" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc3' name='pic3' value=""
                                                         onclick="inputimg('pic3','lacalImag3','preview3','doc3')"></label>
                        <img src="" id="preview3" alt="">
                    </div>
                    <div id="localImag4" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc4' name='pic4' value=""
                                                         onclick="inputimg('pic4','lacalImag4','preview4','doc4')"></label>
                        <img src="" id="preview4" alt="">
                    </div>
                    <div id="localImag5" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc5' name='pic5' value=""
                                                         onclick="inputimg('pic5','lacalImag5','preview5','doc5')"></label>
                        <img src="" id="preview5" alt="">
                    </div>
                    <div id="localImag6" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc6' name='pic6' value=""
                                                         onclick="inputimg('pic6','lacalImag6','preview6','doc6')"></label>
                        <img src="" id="preview6" alt="">
                    </div>
                    <div id="localImag7" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc7' name='pic7' value=""
                                                         onclick="inputimg('pic7','lacalImag7','preview7','doc7')"></label>
                        <img src="" id="preview7" alt="">
                    </div>
                    <div id="localImag8" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc8' name='pic8' value=""
                                                         onclick="inputimg('pic8','lacalImag8','preview8','doc8')"></label>
                        <img src="" id="preview8" alt="">
                    </div>
                    <div id="localImag1" class="localImag">
                        附图图片(点击上传)
                        <!--这是图片上传的input框-->
                        <label class="lacalLabel"><input type='file' id='doc1' name='pic1' value=""
                                                         onclick="inputimg('pic1','lacalImag1','preview1','doc1')"></label>
                        <img src="" id="preview1" alt="">
                    </div>
                </div>
            </div>
            <!--上传产品信息-->
            <div class="form-text-big-box">
                <div class="select-div">
                    <select name="" id="" class="select-box">
                        <option value="-1" class="select-option">卫生巾加工 &nbsp;(点击分类)</option>
                    </select>
                </div>
                <ul class="form-text-ul">
                    <li class="form-text-li li-you-biankuang">
                        <label for="">产品名称</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li">
                        <label for="">建议零售价</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1 li-you-biankuang">
                        <label for="">卫生巾长度</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1">
                        <label for="">是否进口</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li li-you-biankuang">
                        <label for="">产地</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li">
                        <label for="">是否有护翼</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1 li-you-biankuang">
                        <label for="">材质</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1">
                        <label for="">卫生厚度</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li li-you-biankuang">
                        <label for="">表面类型</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li">
                        <label for="">是否有香味</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1 li-you-biankuang">
                        <label for="">加工定制</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1">
                        <label for="">多少件起</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li li-you-biankuang">
                        <label for="">保质期</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li">
                        <label for="">单价</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1 li-you-biankuang">
                        <label for="">纸品等级</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1">
                        <label for="">生产数量</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li li-you-biankuang">
                        <label for="">重量</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li">
                        <label for="">建议零售价</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1 li-you-biankuang">
                        <label for="">预估生产周期</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1">
                        <label for="">是否进口</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li li-you-biankuang">
                        <label for="">产品名称</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li">
                        <label for="">包装形式</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1 li-you-biankuang">
                        <label for="">包装规格</label>
                        <input type="text" value="" placeholder="点击输入">
                    </li>
                    <li class="form-text-li-1">
                        <label for=""></label>
                        <input type="text" value="" placeholder="">
                    </li>
                </ul>
            </div>
            <div class="form-button">
                <input type="submit" value="一键发布">
            </div>
        </form>
    </div>
</main>

<script src="{:config('home_js')}/fabuxinxi.js"></script>
</body>
</html>