<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{:config('home_css')}/foot_base">
</head>
<body>
<!--页脚-->
<footer>
    <div class="footer-bjt-box">
        <div class="footer-c-box">
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb1.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">网站介绍</div>
                    <span class="footer-text"><a href="">官方信息港</a></span>
                    <span class="footer-text"><a href="">个人草根网站</a></span>
                    <span class="footer-text"><a href="">加盟的分站</a></span>
                    <span class="footer-text"><a href="">实力团队</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb2.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">关于我们</div>
                    <span class="footer-text"><a href="">市场分析调查</a></span>
                    <span class="footer-text"><a href="">可行性分析</a></span>
                    <span class="footer-text"><a href="">项目策划</a></span>
                    <span class="footer-text"><a href="">项目的可行性</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb3.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">服务条款</div>
                    <span class="footer-text"><a href="">服务的确认和接纳</a></span>
                    <span class="footer-text"><a href="">服务修订</a></span>
                    <span class="footer-text"><a href="">用户隐私</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb4.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">广告服务</div>
                    <span class="footer-text"><a href="">管理平台</a></span>
                    <span class="footer-text"><a href="">创意案例</a></span>
                    <span class="footer-text"><a href="">推广评估</a></span>
                    <span class="footer-text"><a href="">指导优化</a></span>
                </div>
            </div>
            <div class="footer-box1">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb5.png" alt="">
                </div>
                <div class="footer-ewm-box">
                    <div class="footer-ewm-img">
                        <img src="{:config('home_img')}/by-ewm.jpg" alt="">
                        <div class="ewm-text">微信公众号</div>
                    </div>
                    <div class="footer-ewm-img">
                        <img src="{:config('home_img')}/by-ewm.jpg" alt="">
                        <div class="ewm-text">客服微信</div>
                    </div>
                </div>
                <div class="footer-kf-box">
                    <div class="footer-kf-title">客服电话</div>
                    <div class="footer-kf-text">0595-28113222</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        Copyright © 2003-2015 163k.com All Reserved © 卫品共享工厂闽ICP备16026715号-1
    </div>
</footer>
</body>
</html>
