<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description"
		content="卫品共享工厂是通过互联网平台来共享最新的纸尿裤、卫生巾、湿巾、生活用纸等生产设备及闲置生产线，帮助有需求的企业寻找合适且闲置的生产设备，实现行业内各种资源的共享及高效利用，打造一个卫品厂家便捷沟通合作的平台。">
	<meta name="keywords" content="卫品共享工厂,卫生用品,卫生巾,纸尿裤,湿巾,乳垫,生活用纸,生产加工平台">
	<title>卫品共享工厂-专业卫生巾、纸尿裤、湿巾、乳垫生产OEM加工平台</title>
	<link rel="stylesheet" href="{:config('home_css')}/index.css">
	<link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
	<link rel="stylesheet" href="{:config('home_css')}/foot_base.css">
	<script src="{:config('home_js')}/jquery.js"></script>
	<script src="{:config('home_js')}/jquery.lazyload.js"></script>
	<!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
	<header class="header-box">
		<div class="header-centre">
			<ul class="header-left">
				<li><a href="">
						<div class="h-l-t">欢迎来到卫品共享工厂 |</div>
					</a></li>
				{notempty name='$Request.session.nickname'}
				【{$Request.session.nickname}】
				<span><a href="{:url('home/user/loginout')}">退出登录</a></span>
				{else /}
				<li><a href="{:url('home/user/login')}">
						<div class="h-l-t">请登陆 |</div>
					</a></li>
				<li><a href="{:url('home/user/register')}">
						<div class="h-l-t">免费注册</div>
					</a></li>
				{/notempty}
			</ul>
			<ul class="header-right">
				<li><a href="/">
						<div class="h-l-t">工厂首页 |</div>
					</a></li>
				<li><a href="{:url('admin/user/login')}">
						<div class="h-l-t">工厂登陆 |</div>
					</a></li>
				<li><a href="{:url('home/user/accountcenter')}">
						<div class="h-l-t">个人中心 |</div>
					</a></li>
				<li><a href="{:url('home/index/shoucangjia')}">
						<div class="h-l-t">收藏夹</div>
					</a>
				</li>
			</ul>
		</div>
	</header>
	<!--搜索-->
	<div class="search-box">
		<div class="search-centre">
			<div class="sear-logo">
				<a href="{:url('/')}">
					<img data-original="{:config('home_img')}/a0.png" alt="">
				</a>
			</div>
			<div class="search-c-b">
				<form action="{:url('home/index/tpsousuo')}" method="get" name="form">
					<div class="search">
						<div class="search-fram">
							<div class="s-f-i-i">
								<img data-original="{:config('home_img')}/aa.png" alt="">
							</div>
							<input type="text" placeholder="" value="" name="keywords">
						</div>
						<button class="search-button" style="border: none"><i class="iconfont icon-fangdajing"></i></button>
					</div>
				</form>
			</div>

			<div class="search-right-b">
				<div class="s-trademark">
					<div>
						<img data-original="{:config('home_img')}/a1.png" alt="">
					</div>
					<span>海量工厂</span>
				</div>
				<div class="s-trademark">
					<div>
						<img data-original="{:config('home_img')}/a2.png" alt="">
					</div>
					<span>产品定制</span>
				</div>
				<div class="s-trademark">
					<div>
						<img data-original="{:config('home_img')}/a3.png" alt="">
					</div>
					<span>团购批发</span>
				</div>
			</div>
		</div>
	</div>
	<!--导航-->
	<div class="daohang-box">
		<ul>
			<a href="{:url('/')}">
				<li>首页</li>
			</a>
			<!-- <a href="{:url('home/custom/custom')}"  target="_blank">
					<li>产品定制</li>
				</a> -->
			<a href="{:url('home/stickacard/stickacard')}" target="_blank">
				<li>成品专区</li>
			</a>
			<a href="" target="_blank">
				<li>材料专区</li>
			</a>
			<a href="{:url('home/shebeitransfer/shebeitransfer')}" target="_blank">
				<li>设备专区</li>
			</a>
			<a href="{:url('home/inspection/inspection')}" target="_blank">
				<li>全部工厂</li>
			</a>
			<!-- <a href="{:url('home/documentary/documentary')}"  target="_blank">
					<li>跟单专家</li>
				</a> -->
			<!-- <a href="{:url('home/index/wlpf')}"  target="_blank">
					<li>工厂直批</li>
				</a> -->
			<a href="{:url('home/jghq/jghq')}" target="_blank">
				<li>行业动态</li>
			</a>
		</ul>
	</div>
	<!--banner-->
	<div class="banner-box">
		<div class="banner-c-box">
			<div class="banner-img">
				<a href="" class="banner-c-img" banner_color="{:config('home_img')}/2.jpg">
					<img data-original="{:config('home_img')}/1.png" alt="">
				</a>
				<a href="" class="banner-c-img" banner_color="{:config('home_img')}/4.jpg">
					<img data-original="{:config('home_img')}/3.png" alt="">
				</a>
				<a href="" class="banner-c-img" banner_color="{:config('home_img')}/byc_bj.jpg">
					<img data-original="{:config('home_img')}/byc.png" alt="">
				</a>
				<ul class="banner-dian-box">
					<li class="banner-dian" banner_id="0"></li>
					<li class="banner-dian" banner_id="1"></li>
					<li class="banner-dian" banner_id="2"></li>
				</ul>
			</div>
			<ul class="ce-daohang">

			</ul>
		</div>
	</div>
	<!--推荐工厂-->
	<div class="cnxh-b-box">
		<div class="cnxh-title">推荐工厂</div>
		<!-- 推荐工厂内容 -->
		<!-- <div class="wsjcp-z-sh-1">
			{volist name='com' id='v'}
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index',['id'=>$v.com_id])}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('public_uploads' )}/{$v.pic6}" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								{$v.address}
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>{$v.znum}</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							{$v.company_name}
						</div>
						<a href="{:url('home/shangpu/index',['id'=>$v.com_id])}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>
			{/volist}
		</div> -->

		<div class="wsjcp-z-sh-1">
			<!-- 推荐内容box -->
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index?id=25')}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('home_img' )}/temporarystatic/DSC_0804.JPG" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								浙江省义乌市城西街道雪峰西路2289号华丽达
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>101-150人</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							浙江代喜卫生用品有限公司
						</div>
						<a href="{:url('home/shangpu/index?id=25')}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>
			<!-- 推荐内容box -->
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index?id=26')}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('home_img' )}/temporarystatic/yddm.jpg" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								浙江省杭州市余杭经济技术开发区536号43幢
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>1-50以上</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							杭州跃鼎实业有限公司
						</div>
						<a href="{:url('home/shangpu/index?id=26')}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>
			<!-- 推荐内容box -->
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index?id=21')}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('home_img' )}/temporarystatic/xfdm.jpg" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								福建省漳州市长泰县官山工业区
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>101人</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							协丰（福建）卫生用品有限公司
						</div>
						<a href="{:url('home/shangpu/index?id=21')}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>
			<!-- 推荐内容box -->
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index?id=27')}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('home_img' )}/temporarystatic/hhdm.jpg" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								福建省泉州市洛江河市镇万亩开发区三期园滨水
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>150-200</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							福建省汉和护理用品有限公司
						</div>
						<a href="{:url('home/shangpu/index?id=27')}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>
			<!-- 推荐内容box -->
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index?id=36')}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('home_img' )}/temporarystatic/hxdm.jpg" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								福建省泉州市洛江区河市镇溪埔工业区琯马公路93号
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>200以上</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							泉州市合兴卫生用品有限公司
						</div>
						<a href="{:url('home/shangpu/index?id=36')}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>
			<!-- 推荐内容box -->
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index?id=37')}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('home_img' )}/temporarystatic/brdm.jpg" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								泉州市惠安县螺城镇城北工业路
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>200以上</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							百润（中国）有限公司
						</div>
						<a href="{:url('home/shangpu/index?id=37')}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>
			<!-- 推荐内容box -->
			<div class="wsjcp-right-1">
				<div class="wsj-tu-box-1">
					<a href="{:url('home/shangpu/index?id=24')}" class="wsj-tu-zs-1" style="display: block">
						<img data-original="{:config('home_img' )}/temporarystatic/ctdm.jpg" alt="">
					</a>
					<div class="wsj-xx">
						<div class="wsj-name"><span>地址</span>
							<div>
								湖州市德清县禹越镇镇西南路 188 号
							</div>
						</div>
						<div class="wsj-name"><span>总人数</span>
							<div>200以上</div>
						</div>
						<div class="gongsi-dizhi">
							<i class="iconfont icon-icon_location"></i>
							川田卫生用品（浙江）有限公司
						</div>
						<a href="{:url('home/shangpu/index?id=24')}" class="wsj-ljdz">进入工厂</a>
					</div>
				</div>
			</div>



		</div>
	</div>
	<!--加工-->
	<main>

		<!--&lt;!&ndash;产品定制&ndash;&gt;-->
		<!--<div class="jiagong-b-box-cpdz">-->
		<!--<div class="wsjjg-bt-box">-->
		<!--<span>产品定制</span>-->
		<!--<a href="{:url('home/custom/custom')}">更多 <i class="iconfont icon-shuangjiantouyou"></i></a>-->
		<!--</div>-->
		<!--<div class="dj-wsjgg-box">-->

		<!--</div>-->
		<!--<div class="wsjcp-z-sh">-->
		<!--<div class="wsjcp-left">-->
		<!--<img data-original="{:config('home_img')}/dwsj.jpg" alt="">-->
		<!--</div>-->
		<!--<div class="wsjcp-right">-->

		<!--{volist name='data' id='da' offset='0' length='8'}-->
		<!--<div class="wsj-tu-box">-->
		<!--<div class="wsj-tu-zs">-->
		<!--<img data-original="" alt="">-->
		<!--</div>-->
		<!--<div class="wsj-xx">-->
		<!--<div class="wsj-name"><span>品牌名称</span>-->
		<!--<div>{$da.cus_proname}</div>-->
		<!--</div>-->
		<!--<div class="wsj-name"><span>订单量</span>-->
		<!--<div>{$da.cus_orders}</div>-->
		<!--</div>-->
		<!--<div class="gongsi-dizhi">-->
		<!--<i class="iconfont icon-icon_location"></i>-->
		<!--{$da.issue_name}-->
		<!--</div>-->
		<!--<a href="{:url('home/custom/customizing',['cusid'=>$da.cus_id])}" class="wsj-ljdz">立即定制</a>-->
		<!--</div>-->
		<!--</div>-->
		<!--{/volist}-->

		<!--</div>-->
		<!--</div>-->
		<!--</div>-->


		<!--加工专区-->
		<div class="jiagong-b-box">
			<div class="wsjjg-bt-box">
				<span>加工专区</span>
				<a href="{:url('home/stickacard/stickacard')}">更多 <i class="iconfont icon-shuangjiantouyou"></i></a>
			</div>
			<div class="dj-wsjgg-box">

			</div>
			<div class="wsjcp-z-sh">
				<div class="wsjcp-left">
					<img data-original="{:config('home_img')}/dznk.jpg" alt="">
				</div>

				<div class="wsjcp-right">
					<!---->
					{volist name='card' id='v'}
					<div class="wsj-tu-box">
						<div class="wsj-tu-zs">
							<div class="wsj-tu-l">
								<img data-original="{:config('public_uploads')}/{$v.pic1}" alt="">
							</div>
							<div class="wsj-tu-r">
								<div class="wsj-tu-r-t">
									<img data-original="{:config('public_uploads')}/{$v.pic2}" alt="">
								</div>
								<div class="wsj-tu-r-b">
									<img data-original="{:config('public_uploads')}/{$v.pic3}" alt="">
								</div>
							</div>
						</div>
						<div class="wsj-xx">
							<div class="wsj-name"><span>代工品牌</span>
								<div>{$v.carname}</div>
							</div>
							<div class="wsj-name"><span>起订量</span>
								<div>{$v.qdl}</div>
							</div>
							<div class="gongsi-dizhi">
								<i class="iconfont icon-icon_location"></i>
								{$v.company_name}
							</div>
							<a href="{:url('home/stickacard/tiepaixiangqing',['id'=>$v.id])}" class="wsj-ljdz">立即加工</a>
						</div>
					</div>
					{/volist}
				</div>

			</div>

		</div>
		<!--加工专区-->
		<div class="jiagong-b-box">
			<div class="wsjjg-bt-box">
				<span></span>
				<a href="{:url('home/stickacard/stickacard')}">更多 <i class="iconfont icon-shuangjiantouyou"></i></a>
			</div>
			<div class="dj-wsjgg-box">

			</div>
			<div class="wsjcp-z-sh">
				<div class="wsjcp-left">
					<img data-original="{:config('home_img')}/dwsj.jpg" alt="">
				</div>

				<div class="wsjcp-right">
					<!---->
					{volist name='card2' id='v'}
					<div class="wsj-tu-box">
						<div class="wsj-tu-zs">
							<div class="wsj-tu-l">
								<img data-original="{:config('public_uploads')}/{$v.pic1}" alt="">
							</div>
							<div class="wsj-tu-r">
								<div class="wsj-tu-r-t">
									<img data-original="{:config('public_uploads')}/{$v.pic2}" alt="">
								</div>
								<div class="wsj-tu-r-b">
									<img data-original="{:config('public_uploads')}/{$v.pic3}" alt="">
								</div>
							</div>
						</div>
						<div class="wsj-xx">
							<div class="wsj-name"><span>代工品牌</span>
								<div>{$v.carname}</div>
							</div>
							<div class="wsj-name"><span>起订量</span>
								<div>{$v.qdl}</div>
							</div>
							<div class="gongsi-dizhi">
								<i class="iconfont icon-icon_location"></i>
								{$v.company_name}
							</div>
							<a href="{:url('home/stickacard/tiepaixiangqing',['id'=>$v.id])}" class="wsj-ljdz">立即加工</a>
						</div>
					</div>
					{/volist}
				</div>

			</div>

		</div>
	</main>
	<!--优选新闻-->
	<div class="youxuan-box">
		<div class="youxuan-neirong">
			<div class="w-s-yx"></div>
			<div class="wenben-neirong">
				<div class="youxuan-title">
					<div class="youxuan-left">
						<div class="youxuan-an-li">行业案例优选工厂</div>
						<div class="youxuan-gc-num"><span></span></div>
					</div>
					<div class="youxuan-right">
						价格行情
					</div>
					<a href="" class="youxuan_gengduo"></a>
				</div>
				<!--优选新闻内容-->
				<div class="youxuan-xw-box">
					<div class="youxuan-xw-left">
						<div class="youxuan-xw-img" style="overflow: hidden;">
							{volist name='com' id='v' key='k'}
							<a href="{:url('home/shangpu/index',['id'=>$v.com_id])}" target="_blank">
								{eq name='$k' value='$coml+1'}
								<img src="{:config('public_uploads' )}/{$v.pic6}" alt="" style="left:0;" yxName="{$v.company_name}"
									yxGm="{$v.size}" yxFl="{$v.type}" yxTime="{$v.time}" yxDz="{$v.address}">
								{else/}
								<img src="{:config('public_uploads' )}/{$v.pic6}" alt="" style="left:100%;" yxName="{$v.company_name}"
									yxGm="{$v.size}" yxFl="{$v.type}" yxTime="{$v.time}" yxDz="{$v.address}">
								{/eq}
							</a>
							{/volist}
							<div class="youxuan-img-title">{$com[$coml]['company_name']}</div>
							<div class="youxuan-left-jt youxuan-jt"><i class="iconfont icon-zuojiantou"></i></div>
							<div class="youxuan-right-jt youxuan-jt"><i class="iconfont icon-iconfontjiantou6"></i></div>
						</div>
						<div class="youxuan-xw-right">
							<div class="youxuan-xw-title">{$com[$coml]['company_name']}</div>
							<div class="xw-gongsi-zl">公司规模 : <span>{$com[$coml]['size']}</span></div>
							<div class="xw-gongsi-zl">产品分类 : <span>{$com[$coml]['type']}</span></div>
							<div class="xw-gongsi-zl">公司成立时间 : <span>{$com[$coml]['time']}</span></div>
							<div class="xw-gongsi-zl">公司地址 : <span>{$com[$coml]['address']}</span></div>
							<div class="youxuan-yyc"><img data-original="{:config('home_img')}/eyyz.png" alt=""></div>
						</div>
					</div>
					<div class="youxuan-xw-you">
						<div class="yx-xw-yo-img">
							<img data-original="{:config('home_img')}/ebt.jpg" alt="">
						</div>
						<div class="yx-xw-yo-text">
							<div><span>[7-15]</span>做网站,多年网站经验承接各种</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--卫生用品讲堂-->
	<div class="wsyp-box">
		<div class="wsyp-title">卫生用品讲堂</div>
		<div class="wsyp-video-box">
			<div class="wsyp-video">
				<video src="{:config('home_video')}/gongchangshiping.mp4" controls></video>
				<div class="video-title">工厂视频</div>
			</div>
			<div class="wsyp-video1">
				<video src="{:config('home_video')}/xiangheshebeitiaoshi.MOV" controls></video>
				<div class="video-title">祥禾经期裤设备调试中</div>
			</div>
			<div class="wsyp-video2">
				<video src="{:config('home_video')}/xianghejinqikushebei.MOV" controls></video>
				<div class="video-title">祥禾经期裤设备</div>
			</div>
		</div>
	</div>

	<!--设备转让-->
	<div class="sbzr-big-box">
		<div class="sbzr-title">
			<span class="sbzr-title-l">设备转让</span>
			<a href="{:url('home/shebeitransfer/shebeitransfer')}" class="sbzr-title-r">更多 <i
					class="iconfont icon-shuangjiantouyou"></i></a>
		</div>
		<div class="sbzr-box">
			<!--设备转让内容div-->
			<a href="" class="sbzr-content-box">
				<div class="sbzr-img">
					<img data-original="{:config('home_img')}/index_sbzr.png" alt="">
				</div>
				<div class="sbzr-text-box">
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">品牌名称：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">新旧程度：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">型号：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">价格：</span>
						<span class="sbzr-cpxx-jg-r">15000</span>
					</div>
				</div>
			</a>
			<!--设备转让内容div-->
			<a href="" class="sbzr-content-box">
				<div class="sbzr-img">
					<img data-original="{:config('home_img')}/index_sbzr.png" alt="">
				</div>
				<div class="sbzr-text-box">
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">品牌名称：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">新旧程度：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">型号：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">价格：</span>
						<span class="sbzr-cpxx-jg-r">15000</span>
					</div>
				</div>
			</a>
			<!--设备转让内容div-->
			<a href="" class="sbzr-content-box">
				<div class="sbzr-img">
					<img data-original="{:config('home_img')}/index_sbzr.png" alt="">
				</div>
				<div class="sbzr-text-box">
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">品牌名称：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">新旧程度：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">型号：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">价格：</span>
						<span class="sbzr-cpxx-jg-r">15000</span>
					</div>
				</div>
			</a>
			<!--设备转让内容div-->
			<a href="" class="sbzr-content-box">
				<div class="sbzr-img">
					<img data-original="{:config('home_img')}/index_sbzr.png" alt="">
				</div>
				<div class="sbzr-text-box">
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">品牌名称：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">新旧程度：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">型号：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">价格：</span>
						<span class="sbzr-cpxx-jg-r">15000</span>
					</div>
				</div>
			</a>
			<!--设备转让内容div-->
			<a href="" class="sbzr-content-box">
				<div class="sbzr-img">
					<img data-original="{:config('home_img')}/index_sbzr.png" alt="">
				</div>
				<div class="sbzr-text-box">
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">品牌名称：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">新旧程度：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">型号：</span>
						<span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
					</div>
					<div class="sbzr-cpxx">
						<span class="sbzr-cpxx-gg-l">价格：</span>
						<span class="sbzr-cpxx-jg-r">15000</span>
					</div>
				</div>
			</a>
		</div>
	</div>

	<!--入驻商家-->
	<div class="shangjiaruzhu-box">
		<div class="shangjiaruzhu-title">
			入驻商家
			<div class="sjrz-gdgc-box">
				<div class="sjrz-gcrz"><a href="{:url('home/inspection/inspection')}">更多工厂</a></div>
			</div>
		</div>
		<div class="sjrz-img-xy-box">
			{volist name='com' id='v'}
			<a href="{:url('home/shangpu/index',['id'=>$v.com_id])}" class="sjrz-img-box">
				<div class="sjrz-img">
					<img data-original="{:config('public_uploads' )}/{$v.pic8}" alt="">
				</div>
			</a>
			{/volist}
		</div>
	</div>
	<!--访问量-->
	<div style="width: 1200px;margin: 0 auto;text-align: right;color: #bebebe;">访问量：{$pvs}次</div>
	<!--页脚-->
	<div class="footer">
		<footer>
			<div class="footer-left">
				<div class="footer-content-box">
					<strong class="footer-l-title">工厂指南</strong>
					<ul class="footer-l-ul">
						<li class="footer-l-li"><a href="">成长攻略</a></li>
					</ul>
				</div>
				<div class="footer-content-box">
					<strong class="footer-l-title">定制指南</strong>
					<ul class="footer-l-ul">
						<li class="footer-l-li"><a href="">加工定制</a></li>
						<li class="footer-l-li"><a href="">加工攻略</a></li>
					</ul>
				</div>
				<div class="footer-content-box">
					<strong class="footer-l-title">关于我们</strong>
					<ul class="footer-l-ul">
						<li class="footer-l-li"><a href="">联系我们</a></li>
						<li class="footer-l-li"><a href="">广告报价</a></li>
					</ul>
				</div>
			</div>
			<div class="footer-right">
				<div class="footer-weixin-box">
					<div class="footer-weixin-img">
						<img data-original="{:config('home_img')}/weigzh.png" alt="">
					</div>
					<div class="footer-r-weixin-text">微信公众号</div>
				</div>
				<div class="footer-weixin-box">
					<div class="footer-weixin-img">
						<img data-original="{:config('home_img')}/weikefu.png" alt="">
					</div>
					<div class="footer-r-weixin-text">客服微信</div>
				</div>
				<div class="footer-weixin-box">
					<div class="footer-r-tel-title">客服电话</div>
					<div class="footer-r-tel-content">0571-86169936</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="footer-beian">版权2018-2028 @ 杭州博卫传媒有限公司 闽ICP备16026715号</div>
	<!--结束-->
</body>
<script src="{:config('home_js')}/index.js"></script>
<script>
	$(function () {
		$("img").lazyload({
			threshold: 200,
			skip_invisible: false
		});
	});
</script>

</html>