<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>卫生用品工厂</title>
    <link rel="stylesheet" href="{:config('home_css')}/index.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <link rel="stylesheet" href="{:config('home_css')}/foot_base.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header-box">
    <div class="header-centre">
        <ul class="header-left">
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            {notempty name='$Request.session.username'}
            【{$Request.session.username}】
            <span><a href="{:url('home/user/loginout')}">退出登录</a></span>
            {else /}
            <li><a href="{:url('home/user/login')}">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/register')}">
                <div class="h-l-t">免费注册</div>
            </a></li>
            {/notempty}
        </ul>
        <ul class="header-right">
            <li><a href="/">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="{:url('home/user/accountcenter')}">
                <div class="h-l-t">个人中心 |</div>
            </a></li>
            <li><a href="{:url('home/index/shoucangjia')}">
                <div class="h-l-t">收藏夹 |</div>
            </a>
            </li>
            <li><a href="">
                <div class="h-l-t">实力商家 |</div>
            </a></li>
            <li><a href="{:url('admin/user/login')}">
                <div class="h-l-t">工厂后台 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">客服中心 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">网站导航</div>
            </a></li>
        </ul>
    </div>
</header>
<!--搜索-->
<div class="search-box">
    <div class="search-centre">
        <div class="sear-logo">
            <a href="{:url('/')}">
                <img data-original="{:config('home_img')}/a0.png" alt="">
            </a>
        </div>

        <div class="search-c-b">
            <form action="">
                <div class="search">
                    <div class="search-fram">
                        <div class="s-f-i-i">
                            <img data-original="{:config('home_img')}/aa.png" alt="">
                        </div>
                        <input type="text" placeholder="" value="">
                    </div>
                    <button class="search-button" style="border: none"><i class="iconfont icon-fangdajing"></i></button>
                </div>
            </form>
            <div class="re-search">
                <span>热门搜索:</span>
                <a href="">卫生巾</a>
                <a href="">纸尿裤</a>
            </div>
        </div>

        <div class="search-right-b">
            <div class="s-trademark">
                <div>
                    <img data-original="{:config('home_img')}/a1.png" alt="">
                </div>
                <span>海量工厂</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img data-original="{:config('home_img')}/a2.png" alt="">
                </div>
                <span>产品定制</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img data-original="{:config('home_img')}/a3.png" alt="">
                </div>
                <span>团购批发</span>
            </div>
        </div>
    </div>
</div>
<!--导航-->
<div class="daohang-box">
    <ul>
        <a href="javascript:;">
            <li class="daohang-f-li"></li>
        </a>
        <a href="{:url('/')}">
            <li>首页</li>
        </a>
        <a href="{:url('home/custom/custom')}">
            <li>产品定制</li>
        </a>
        <a href="{:url('home/stickacard/stickacard')}">
            <li>加工专区</li>
        </a>
        <a href="{:url('home/inspection/inspection')}">
            <li>优选验厂</li>
        </a>
        <a href="{:url('home/shebeitransfer/shebeitransfer')}">
            <li>设备转让</li>
        </a>
        <a href="{:url('home/documentary/documentary')}">
            <li>跟单专家</li>
        </a>
        <a href="{:url('home/index/wlpf')}">
            <li>网络批发</li>
        </a>
        <a href="">
            <li class="daohang-fabu">
                <!--<div class="daohang-yuan"></div>-->
                <!--我的工厂>>-->
            </li>
        </a>
    </ul>
</div>
<!--banner-->
<div class="banner-box">
    <div class="banner-c-box">
        <div class="banner-img">
            <a href="" class="banner-c-img" banner_color="{:config('home_img')}/2.png">
                <img src="{:config('home_img')}/1.png" alt="">
            </a>
            <a href="" class="banner-c-img" banner_color="{:config('home_img')}/4.png">
                <img src="{:config('home_img')}/3.png" alt="">
            </a>
            <a href="" class="banner-c-img" banner_color="{:config('home_img')}/byc_bj.png">
                <img src="{:config('home_img')}/byc.png" alt="">
            </a>
            <!--<div class="banner-c-img" banner_color="#3f42b7">-->
            <!--<img data-original="{:config('home_img')}/banner.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="banner-c-img" banner_color="#42ff00">-->
            <!--<img data-original="{:config('home_img')}/banner.jpg" alt="">-->
            <!--</div>-->
            <!--<div class="banner-c-img" banner_color="#f0ff00">-->
            <!--<img data-original="{:config('home_img')}/banner.jpg" alt="">-->
            <!--</div>-->

            <ul class="banner-dian-box">
                <li class="banner-dian" banner_id="0"></li>
                <li class="banner-dian" banner_id="1"></li>
                <li class="banner-dian" banner_id="2"></li>
                <!--<li class="banner-dian" banner_id="3"></li>-->
                <!--<li class="banner-dian" banner_id="4"></li>-->
                <!--<li class="banner-dian" banner_id="5"></li>-->
            </ul>
        </div>
        <ul class="ce-daohang">
            <!--<a href="javascript:;">-->
                <!--<li><i class="iconfont icon-daohang"></i>工厂产品分类</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>卫生用品定制</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>纸尿裤加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>经期裤加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>湿纸巾加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>卫生巾加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>护理垫加工</li>-->
            <!--</a>-->
            <!--<a href="">-->
                <!--<li>生活用纸加工</li>-->
            <!--</a>-->
        </ul>
    </div>

</div>
<!--工厂入住-->
<!--<div class="ruzhu-box">-->
<!--<div class="ruzhu-c-t">-->
<!--<div class="ruzhu-c-l">-->
<!--<div class="ruzhu-s-j">-->
<!--卫品加工入<span class="ruzhu-zhu">驻</span>合作商家-->
<!--</div>-->
<!--<div class="ruzhu-sh-l">已有<span>2000</span>家卫品商家入驻</div>-->
<!--</div>-->
<!--<div class="ruzhu-c-r">-->
<!--<div class="gongchang-ch-x">-->
<!--<div class="cp-l-b">-->
<!--<div class="cp-xl-title"><span dqdj="a1">产品类别</span> <i class="iconfont icon-iconfontarrows1"-->
<!--dqdj="a1"></i></div>-->
<!--<div class="cp-xl-box">-->
<!--<div class="cp-xl">卫生巾</div>-->
<!--<div class="cp-xl">纸尿裤</div>-->
<!--<div class="cp-xl">卫生纸</div>-->
<!--<div class="cp-xl">生活用品</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="cp-p-p">-->
<!--<div class="cp-xl-title"><span dqdj="a1">产品规格</span> <i class="iconfont icon-iconfontarrows1"-->
<!--dqdj="a1"></i></div>-->
<!--<div class="cp-xl-box">-->
<!--<div class="cp-xl">卫生巾</div>-->
<!--<div class="cp-xl">纸尿裤</div>-->
<!--<div class="cp-xl">卫生纸</div>-->
<!--<div class="cp-xl">生活用品</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="gc-p-y">-->
<!--<div class="cp-xl-title"><span dqdj="a1">工厂区域 </span><i class="iconfont icon-iconfontarrows1"-->
<!--dqdj="a1"></i></div>-->
<!--<div class="cp-xl-box">-->
<!--<div class="cp-xl">卫生巾</div>-->
<!--<div class="cp-xl">纸尿裤</div>-->
<!--<div class="cp-xl">卫生纸</div>-->
<!--<div class="cp-xl">生活用品</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tongyi-l-x">-->
<!--<div>-->
<!--<input type="checkbox">-->
<!--同意联系工厂-->
<!--</div>-->
<!--</div>-->
<!--<div class="yijian-x-z"><span>一键寻找</span></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="ruzhu-c-b">-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs1.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs2.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t-1"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b-1">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs3.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t-2"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b-2">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs4.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t-3"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b-3">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->

<!--推荐工厂-->
<div class="cnxh-b-box">
    <div class="cnxh-title">推荐工厂</div>
    <div class="wsjcp-z-sh-1">
        {volist name='com' id='v'}
        <div class="wsjcp-right-1">
            <div class="wsj-tu-box-1">
                <div class="wsj-tu-zs-1">
                    <div class="wsj-tu-l-1">
                        <img data-original="{:config('public_uploads' )}/{$v.pic6}" alt="">
                    </div>
                    <div class="wsj-tu-r-1">
                        <div class="wsj-tu-r-t-1">
                            <img data-original="{:config('public_uploads' )}/{$v.pic5}" alt="">
                        </div>
                        <div class="wsj-tu-r-b-1">
                            <img data-original="{:config('public_uploads' )}/{$v.pic9}" alt="">
                        </div>
                    </div>
                </div>
                <div class="wsj-xx">
                    <div class="wsj-name"><span>地址</span>
                        <div>
                            {$v.address}
                        </div>
                    </div>
                    <div class="wsj-name"><span>总人数</span>
                        <div>{$v.znum}</div>
                    </div>
                    <div class="gongsi-dizhi">
                        <i class="iconfont icon-icon_location"></i>
                        {$v.company_name}
                    </div>
                    <a href="{:url('home/shangpu/index',['id'=>$v.com_id])}" class="wsj-ljdz">进入工厂</a>
                </div>
            </div>
        </div>
        {/volist}
    </div>
</div>
<!--加工-->
<main>
    <!--产品定制-->
    <div class="jiagong-b-box-cpdz">
        <div class="wsjjg-bt-box">
            <span>产品定制</span>
            <a href="{:url('home/custom/custom')}">更多 <i class="iconfont icon-shuangjiantouyou"></i></a>
        </div>
        <div class="dj-wsjgg-box">

        </div>
        <div class="wsjcp-z-sh">
            <div class="wsjcp-left">
                <img data-original="{:config('home_img')}/dwsj.jpg" alt="">
            </div>
            <div class="wsjcp-right">
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                <!---->
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <img data-original="" alt="">
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>品牌名称</span>
                            <div>苏菲,某某</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>1000</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            浙江省某某卫生用品有限公司
                        </div>
                        <a href="" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--加工专区-->
    <div class="jiagong-b-box">
        <div class="wsjjg-bt-box">
            <span>加工专区</span>
            <a href="{:url('home/stickacard/stickacard')}">更多 <i class="iconfont icon-shuangjiantouyou"></i></a>
        </div>
        <div class="dj-wsjgg-box">

        </div>
        <div class="wsjcp-z-sh">
            <div class="wsjcp-left">
                <img data-original="{:config('home_img')}/dznk.jpg" alt="">
            </div>

            <div class="wsjcp-right">
                <!---->
                {volist name='card' id='v'}
                <div class="wsj-tu-box">
                    <div class="wsj-tu-zs">
                        <div class="wsj-tu-l">
                            <img data-original="{:config('public_uploads' )}/{$v.pic1}" alt="">
                        </div>
                        <div class="wsj-tu-r">
                            <div class="wsj-tu-r-t">
                                <img data-original="{:config('public_uploads' )}/{$v.pic2}" alt="">
                            </div>
                            <div class="wsj-tu-r-b">
                                <img data-original="{:config('public_uploads' )}/{$v.pic3}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="wsj-xx">
                        <div class="wsj-name"><span>代工品牌</span>
                            <div>{$v.carname}</div>
                        </div>
                        <div class="wsj-name"><span>起订量</span>
                            <div>{$v.qdl}</div>
                        </div>
                        <div class="gongsi-dizhi">
                            <i class="iconfont icon-icon_location"></i>
                            {$v.company_name}
                        </div>
                        <a href="{:url('home/stickacard/tiepaixiangqing',['id'=>$v.id])}" class="wsj-ljdz">立即定制</a>
                    </div>
                </div>
                {/volist}
            </div>

        </div>

    </div>
</main>
<!--优选新闻-->
<div class="youxuan-box">
    <div class="youxuan-neirong">
        <div class="w-s-yx"></div>
        <div class="wenben-neirong">
            <div class="youxuan-title">
                <div class="youxuan-left">
                    <div class="youxuan-an-li">行业案例优选工厂</div>
                    <div class="youxuan-gc-num"><span></span></div>
                </div>
                <div class="youxuan-right">

                </div>
                <a href="" class="youxuan_gengduo"></a>
            </div>
            <!--优选新闻内容-->
            <div class="youxuan-xw-box">
                <div class="youxuan-xw-left">
                    <a href="" class="youxuan-xw-img">
                        <img data-original="{:config('public_uploads' )}/{$pic[0]}" alt="">
                        <div class="youxuan-img-title">{$info.company_name}</div>
                        <!--<div class="youxuan-left-jt youxuan-jt"><i class="iconfont icon-zuojiantou"></i></div>-->
                        <!--<div class="youxuan-right-jt youxuan-jt"><i class="iconfont icon-iconfontjiantou6"></i></div>-->
                    </a>
                    <div class="youxuan-xw-right">
                        <div class="youxuan-xw-title">{$info.company_name}</div>
                        <div class="xw-gongsi-zl">公司规模 : <span>{$info.size}</span></div>
                        <div class="xw-gongsi-zl">产品分类 : <span>{$info.type}</span></div>
                        <div class="xw-gongsi-zl">公司成立时间 : <span>{$info.time}</span></div>
                        <div class="xw-gongsi-zl">公司地址 : <span>{$info.address}</span></div>
                        <div class="youxuan-yyc"><img data-original="{:config('home_img')}/eyyz.png" alt=""></div>
                    </div>
                </div>
                <div class="youxuan-xw-you">
                    <div class="yx-xw-yo-img">
                        <img data-original="{:config('home_img')}/ebt.jpg" alt="">
                    </div>
                    <div class="yx-xw-yo-text">
                        <div><span>[7-15]</span>做网站,多年网站经验承接各种</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--卫生用品讲堂-->
<div class="wsyp-box">
    <div class="wsyp-title">卫生用品讲堂</div>
    <div class="wsyp-video-box">
        <div class="wsyp-video">
            <video src="{:config('home_video')}/gongchangshiping.mp4" controls></video>
            <div class="video-title">工厂视频</div>
        </div>
        <div class="wsyp-video1">
            <video src="{:config('home_video')}/xiangheshebeitiaoshi.MOV" controls></video>
            <div class="video-title">祥禾经期裤设备调试中</div>
        </div>
        <div class="wsyp-video2">
            <video src="{:config('home_video')}/xianghejinqikushebei.MOV" controls></video>
            <div class="video-title">祥禾经期裤设备</div>
        </div>
    </div>
</div>

<!--设备转让-->
<div class="sbzr-big-box">
    <div class="sbzr-title">
        <span class="sbzr-title-l">设备转让</span>
        <a href="{:url('home/shebeitransfer/shebeitransfer')}" class="sbzr-title-r">更多 <i
                class="iconfont icon-shuangjiantouyou"></i></a>
    </div>
    <div class="sbzr-box">
        <!--设备转让内容div-->
        <a href="" class="sbzr-content-box">
            <div class="sbzr-img">
                <img data-original="{:config('home_img')}/index_sbzr.png" alt="">
            </div>
            <div class="sbzr-text-box">
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">品牌名称：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">新旧程度：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">型号：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">价格：</span>
                    <span class="sbzr-cpxx-jg-r">15000</span>
                </div>
            </div>
        </a>
        <!--设备转让内容div-->
        <a href="" class="sbzr-content-box">
            <div class="sbzr-img">
                <img data-original="{:config('home_img')}/index_sbzr.png" alt="">
            </div>
            <div class="sbzr-text-box">
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">品牌名称：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">新旧程度：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">型号：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">价格：</span>
                    <span class="sbzr-cpxx-jg-r">15000</span>
                </div>
            </div>
        </a>
        <!--设备转让内容div-->
        <a href="" class="sbzr-content-box">
            <div class="sbzr-img">
                <img data-original="{:config('home_img')}/index_sbzr.png" alt="">
            </div>
            <div class="sbzr-text-box">
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">品牌名称：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">新旧程度：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">型号：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">价格：</span>
                    <span class="sbzr-cpxx-jg-r">15000</span>
                </div>
            </div>
        </a>
        <!--设备转让内容div-->
        <a href="" class="sbzr-content-box">
            <div class="sbzr-img">
                <img data-original="{:config('home_img')}/index_sbzr.png" alt="">
            </div>
            <div class="sbzr-text-box">
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">品牌名称：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">新旧程度：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">型号：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">价格：</span>
                    <span class="sbzr-cpxx-jg-r">15000</span>
                </div>
            </div>
        </a>
        <!--设备转让内容div-->
        <a href="" class="sbzr-content-box">
            <div class="sbzr-img">
                <img data-original="{:config('home_img')}/index_sbzr.png" alt="">
            </div>
            <div class="sbzr-text-box">
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">品牌名称：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">新旧程度：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">型号：</span>
                    <span class="sbzr-cpxx-gg-r">xxxxxxxxxx</span>
                </div>
                <div class="sbzr-cpxx">
                    <span class="sbzr-cpxx-gg-l">价格：</span>
                    <span class="sbzr-cpxx-jg-r">15000</span>
                </div>
            </div>
        </a>
    </div>
</div>

<!--入驻商家-->
<div class="shangjiaruzhu-box">
    <div class="shangjiaruzhu-title">入驻商家</div>
    <div class="sjrz-gdgc-box">
        <div class="sjrz-gdgc"><a href="">更多工厂</a></div>
        <div class="sjrz-gcrz"><a href="">工厂入驻</a></div>
    </div>
    <div class="sjrz-img-xy-box">
        {volist name='com' id='v'}
        <a href="{:url('home/shangpu/index',['id'=>$v.com_id])}" class="sjrz-img-box">
            <div class="sjrz-img">
                <img data-original="{:config('public_uploads' )}/{$v.pic8}" alt="">
            </div>
            <div class="sjrz-img-title">{$v.company_name}</div>
        </a>
        {/volist}
    </div>
</div>
<!--底部工厂入驻-->
<!--<div class="ruzhu-box-1">-->
<!--<div class="ruzhu-c-t">-->
<!--<div class="ruzhu-c-l">-->
<!--<div class="ruzhu-s-j">-->
<!--卫品加工入<span class="ruzhu-zhu">驻</span>合作商家-->
<!--</div>-->
<!--<div class="ruzhu-sh-l">已有<span>2000</span>家卫品商家入驻</div>-->
<!--</div>-->
<!--<div class="ruzhu-c-r">-->
<!--<div class="gongchang-ch-x">-->
<!--<div class="cp-l-b">-->
<!--<div class="cp-xl-title"><span dqdj="a1">产品类别</span> <i class="iconfont icon-iconfontarrows1"-->
<!--dqdj="a1"></i></div>-->
<!--<div class="cp-xl-box">-->
<!--<div class="cp-xl">卫生巾</div>-->
<!--<div class="cp-xl">纸尿裤</div>-->
<!--<div class="cp-xl">卫生纸</div>-->
<!--<div class="cp-xl">生活用品</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="cp-p-p">-->
<!--<div class="cp-xl-title"><span dqdj="a1">产品规格</span> <i class="iconfont icon-iconfontarrows1"-->
<!--dqdj="a1"></i></div>-->
<!--<div class="cp-xl-box">-->
<!--<div class="cp-xl">卫生巾</div>-->
<!--<div class="cp-xl">纸尿裤</div>-->
<!--<div class="cp-xl">卫生纸</div>-->
<!--<div class="cp-xl">生活用品</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="gc-p-y">-->
<!--<div class="cp-xl-title"><span dqdj="a1">工厂区域 </span><i class="iconfont icon-iconfontarrows1"-->
<!--dqdj="a1"></i></div>-->
<!--<div class="cp-xl-box">-->
<!--<div class="cp-xl">卫生巾</div>-->
<!--<div class="cp-xl">纸尿裤</div>-->
<!--<div class="cp-xl">卫生纸</div>-->
<!--<div class="cp-xl">生活用品</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="tongyi-l-x">-->
<!--<div>-->
<!--<input type="checkbox">-->
<!--同意联系工厂-->
<!--</div>-->
<!--</div>-->
<!--<div class="yijian-x-z"><span>一键寻找</span></div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="ruzhu-c-b">-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs1.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs2.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t-1"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b-1">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs3.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t-2"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b-2">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--<a href="" class="ruzhu-za-z">-->
<!--<div class="zazhi-img">-->
<!--<img data-original="{:config('home_img')}/cs4.png" alt="">-->
<!--</div>-->
<!--<div class="zazhi-text">-->
<!--<div class="zazhi-t-t-3"><span>杂志阅读</span><i class="iconfont icon-yousanjiao"></i></div>-->
<!--<div class="zazhi-t-b-3">了解更多卫品信息</div>-->
<!--</div>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--页脚-->
<div class="footer">
    <footer>
        <div class="footer-left">
            <div class="footer-content-box">
                <strong class="footer-l-title">工厂指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">成长攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">定制指南</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">加工定制</a></li>
                    <li class="footer-l-li"><a href="">加工攻略</a></li>
                </ul>
            </div>
            <div class="footer-content-box">
                <strong class="footer-l-title">关于我们</strong>
                <ul class="footer-l-ul">
                    <li class="footer-l-li"><a href="">联系我们</a></li>
                    <li class="footer-l-li"><a href="">广告报价</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-right">
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weigzh.png" alt="">
                </div>
                <div class="footer-r-weixin-text">微信公众号</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-weixin-img">
                    <img data-original="{:config('home_img')}/weikefu.png" alt="">
                </div>
                <div class="footer-r-weixin-text">客服微信</div>
            </div>
            <div class="footer-weixin-box">
                <div class="footer-r-tel-title">客服电话</div>
                <div class="footer-r-tel-content">0571-86169936</div>
            </div>
        </div>
    </footer>
</div>
<div class="footer-beian">版权2018-2028 @ 杭州博卫传媒有限公司 闽ICP备16026715号</div>
<!--结束-->
</body>
<script src="{:config('home_js')}/index.js"></script>
<script>
    $(function () {
        $("img").lazyload({
            threshold: 200,
            skip_invisible: false
        });
    });
</script>
</html>