<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>验厂详情</title>
    <link rel="stylesheet" href="{:config('home_css')}/swiper.min.css">
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/inspectiondetails.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_688641_t22yxngd6g.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<header>
    <div class="header-box">
        <div class="header-logo">
            <img src="{:config('home_img')}/a0.png" alt="">
        </div>
        <div class="header-right-box">
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-iconxingjikongxin"></i>
                <span class="header-text">收藏夹</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
                <span class="header-text">已关注</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-dinghuodan"></i>
                <span class="header-text">订货单</span>
            </a>
        </div>
    </div>
</header>
<!--导航-->
<div class="daohang">
    <nav>
        <a href="/">首页</a>
        <a href="custom">产品定制</a>
        <a href="stickacard">贴牌专区</a>
        <a href="inspection">优选验厂</a>
        <a href="shebeitransfer">设备转让</a>
        <a href="documentary">跟单专家</a>
        <a href="javascript:;">网络批发</a>
    </nav>
</div>

<!--网页路径-->
<div class="lujing-box">
    <div class="lujing">
        <div class="lujing-right">
            <i class="iconfont icon-weizhi"></i>
            <span>首页</span>
            <i class="iconfont icon-shuangjiantouyou"></i>
            <span>产品定制</span>
            <i class="iconfont icon-shuangjiantouyou"></i>
            <span>卫生巾</span>
        </div>
    </div>
</div>

<!--主体-->
<main>
    <div class="main-top-box">
        <div class="main-t-t">
            <div class="main-t-t-img">
                <img src="{:config('home_img')}/inspectiondetails/eyyz.png" alt="">
            </div>
            <strong>已选类别：<span>卫生巾</span></strong>
            <div class="main-t-t-r">
                <div class="main-sc-box">
                    <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
                    <span class="main-t-sc">关注</span>
                </div>
                <div class="main-fenxiang">
                    <i class="iconfont icon-Share"></i>
                    <span class="main-t-sc">分享</span>
                </div>
            </div>
        </div>
        <div class="main-t-b">
            <div class="main-t-b-fabu">博卫传媒发布</div>
            <div class="main-t-b-fabu"><span>详细地址：</span>XXXXXXXXXX</div>
            <div class="main-t-b-fabu">2017年12月20日 <i class="iconfont icon-shijianlishijilujishizhongbiaoxianxing"></i></div>
        </div>
    </div>
    <div class="main-bottom-box">
        <div class="main-bottom-left">
            <img src="{:config('home_img')}/inspectiondetails/ect.jpg" alt="">
        </div>
        <div class="main-bottom-right">
            <a href="" class="main-lxkf"><i class="iconfont icon-kefu"></i>联系客服</a>
            <strong>杭州泉林科技有限公司</strong>
            <div class="main-bottom-gcxx"><span>工厂规模:</span><span>2000m</span></div>
            <div class="main-bottom-gcxx"><span>员工人数:</span><span>30人</span></div>
            <div class="main-bottom-gcxx"><span>生产类别:</span><span>卫生巾,纸尿裤,生活用纸</span></div>
            <div class="main-bottom-gcxx"><span>公司成立时间:</span><span>2001年10月20日</span></div>
            <div class="main-bottom-gcxx"><span>设备新旧程度:</span><span>8成新</span></div>
            <div class="main-bottom-gcxx"><span>主要代工产品:</span><span>苏菲,护舒宝</span></div>
            <div class="main-bottom-gcxx"><span>公司地址:</span><span>XX省XX市XX街XXX号</span></div>
        </div>
    </div>
    <div class="main-bottom-gsjj">
        <div class="gongsijianjie-title-box">
            <div class="main-bottom-gongsijianjie main-active">公司简介</div>
            <div class="main-bottom-shengchanchanpin">生产产品</div>
        </div>

        <div class="main-gsjj-text">
            <!--公司简介-->
            <div class="main-gongsijianjie-box">
                <span>杭州泉林科技有限公司</span>
                <textarea rows="10" cols="20" disabled style="border: none">杭州泉林科技有限公司于某年某月某日成立，主要生产某某某、某某、某某某等卫生用品，XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX。</textarea>
            </div>
            <!--生产产品-->
            <div class="main-gongsitupian-img-box main-img-active">
                <div class="gongsitupian-img-box">
                    <div class="gongsitupian-img-title">卫生巾</div>
                    <ul class="gongsitupian-img-ul">
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="gongsitupian-img-box">
                    <div class="gongsitupian-img-title">卫生巾</div>
                    <ul class="gongsitupian-img-ul">
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="gongsitupian-img-box">
                    <div class="gongsitupian-img-title">卫生巾</div>
                    <ul class="gongsitupian-img-ul">
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="gongsitupian-img-box">
                    <div class="gongsitupian-img-title">卫生巾</div>
                    <ul class="gongsitupian-img-ul">
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="gongsitupian-img-box">
                    <div class="gongsitupian-img-title">卫生巾</div>
                    <ul class="gongsitupian-img-ul">
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                        <li class="gongsitupian-img-li">
                            <a href="">
                                <div class="li-img-box">
                                    <img src="{:config('home_img')}/inspectiondetails/240mmx8.png" alt="">
                                </div>
                                <div class="li-img-name">七格格</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>


<!--页脚-->
<div class="footer" style="width: 100%;padding-top: 100px;">
    <object data="{:url('home/index/foot_base')}" type="text/x-scriptlet" style="width: 100%;height: 530px;padding-top: 100px"></object>
</div>


<script src="{:config('home_js')}/inspectiondetails.js"></script>
<script src="{:config('home_js')}/swiper.min.js"></script>
</body>
</html>