<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>优选验厂</title>
    <link rel="stylesheet" href="{:config('home_css')}/inspection.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header">
    <div class="header-centre">
        <ul class="header-left">
            <li>
                <a href="">
                    <div class="h-f-i">
                        <div class="header-img">
                            <img src="{:config('home_img')}/asjgc.jpg" alt="">
                        </div>
                        <div class="h-l-t">手机工厂 |</div>
                    </div>
                </a>
            </li>
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            <li><a href="{:url('home/user/login')}">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/register')}">
                <div class="h-l-t">免费注册</div>
            </a></li>
        </ul>
        <ul class="header-right">
            <li><a href="/">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="{:url('home/index/accountcenter')}">
                <div class="h-l-t">个人中心 |</div>
            </a></li>
            <li><a href="{:url('home/index/shoucangjia')}">
                <div class="h-l-t">收藏夹 |</div>
            </a>
            </li>
            <li><a href="">
                <div class="h-l-t">实力商家 |</div>
            </a></li>
            <li><a href="{:url('admin/user/login')}">
                <div class="h-l-t">工厂后台 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">客服中心 |</div>
            </a></li>
            <li><a href="">
                <div class="h-l-t">网站导航</div>
            </a></li>
        </ul>
    </div>
</header>
<!--搜索-->
<div class="search-box">
    <div class="search-centre">
        <div class="sear-logo">
            <img src="{:config('home_img')}/a0.png" alt="">
        </div>

        <div class="search-c-b">
            <div class="search">
                <div class="search-fram">
                    <div class="s-f-i-i">
                        <img src="{:config('home_img')}/aa.png" alt="">
                    </div>
                    <input type="text" placeholder="共2000家企业入驻" value="">
                </div>
                <div class="search-button">
                    <i class="iconfont icon-fangdajing"></i>
                </div>
            </div>
            <div class="re-search">
                <span>热门搜索:</span>
                <a href="">卫生巾</a>
                <a href="">纸尿裤</a>
            </div>
        </div>

        <div class="search-right-b">
            <div class="s-trademark">
                <div>
                    <img src="{:config('home_img')}/a1.png" alt="">
                </div>
                <span>海量工厂</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img src="{:config('home_img')}/a2.png" alt="">
                </div>
                <span>产品定制</span>
            </div>
            <div class="s-trademark">
                <div>
                    <img src="{:config('home_img')}/a3.png" alt="">
                </div>
                <span>团购批发</span>
            </div>
        </div>
    </div>
</div>
<!--导航-->
<div class="daohang-box">
    <ul>
        <a href="javascript:;">
            <li class="daohang-f-li"></li>
        </a>
        <a href="/">
            <li>首页</li>
        </a>
        <a href="{:url('home/index/custom')}">
            <li>产品定制</li>
        </a>
        <a href="{:url('home/index/stickacard')}">
            <li>贴牌专区</li>
        </a>
        <a href="{:url('home/index/inspection')}">
            <li>优选验厂</li>
        </a>
        <a href="{:url('home/index/shebeitransfer')}">
            <li>设备转让</li>
        </a>
        <a href="{:url('home/index/documentary')}">
            <li>跟单专家</li>
        </a>
        <a href="{:url('home/index/wlpf')}">
            <li>网络批发</li>
        </a>
        <a href="">
            <li class="daohang-fabu"><div class="daohang-yuan"></div>发布需求>></li>
        </a>
    </ul>
</div>
<!--banner-->
<div class="banner-box">
    <div class="banner-c-box">
        <ul class="ce-daohang">
            <a href="javascript:;">
                <li><i class="iconfont icon-daohang"></i>工厂产品分类</li>
            </a>
            <a href="">
                <li>卫生用品定制</li>
            </a>
            <a href="">
                <li>纸尿裤加工</li>
            </a>
            <a href="">
                <li>经期裤加工</li>
            </a>
            <a href="">
                <li>湿纸巾加工</li>
            </a>
            <a href="">
                <li>卫生巾加工</li>
            </a>
            <a href="">
                <li>护理垫加工</li>
            </a>
            <a href="">
                <li>生活用纸加工</li>
            </a>
        </ul>
    </div>
    <div class="banner-box-box">
        <div class="banner-box-img">
            <ul class="banner-img-box">
                <li class="banner-img"><a href="javascript:;"><img src="{:config('home_img')}/inspection/1.jpg" alt=""></a></li>
                <li class="banner-img"><a href="javascript:;"><img src="{:config('home_img')}/inspection/ct2.jpg" alt=""></a></li>
                <li class="banner-img"><a href="javascript:;"><img src="{:config('home_img')}/inspection/banner.jpg" alt=""></a></li>
            </ul>
            <ul class="banner-img-box">
                <li class="banner-img"><a href="javascript:;"><img src="{:config('home_img')}/inspection/1.jpg" alt=""></a></li>
                <li class="banner-img"><a href="javascript:;"><img src="{:config('home_img')}/inspection/ct2.jpg" alt=""></a></li>
                <li class="banner-img"><a href="javascript:;"><img src="{:config('home_img')}/inspection/banner.jpg" alt=""></a></li>
            </ul>
        </div>
    </div>

</div>

<!--主体-->
<div class="main">
    <div class="main-left-box">
        <div class="main-left">
            <div class="main-left-title">全部工厂</div>
            <div class="main-left-content">
                <div class="main-content">全部<span></span></div>
                <div class="main-content"><span></span></div>
            </div>
        </div>
        <div class="main-left">
            <div class="main-left-title">卫生用品系列工厂</div>
            <div class="main-left-content">
                <div class="main-content">多系列(<span>0</span>)</div>
                <div class="main-content">多系列(<span>0</span>)</div>
            </div>
        </div>
        <div class="main-left">
            <div class="main-left-title">生活用纸系列工厂</div>
            <div class="main-left-content">
                <div class="main-content">多系列(<span>0</span>)</div>
                <div class="main-content">多系列(<span>0</span>)</div>
            </div>
        </div>
        <div class="main-left">
            <div class="main-left-title">服务机构</div>
            <div class="main-left-content">
                <div class="main-content">多系列(<span>0</span>)</div>
                <div class="main-content">多系列(<span>0</span>)</div>
            </div>
        </div>
    </div>
    <div class="main-right-box">
        <div class="main-right-top">
            <div class="main-qy-sf">
                <div class="main--right-t-l"><i class="iconfont icon-icon_location"></i>省份:</div>
                <ul class="main-right-t-r">
                    <div class="main-right-text main-right-text1">全部区域</div>

                    {volist name='info' id='v'}
                    <li class="main-right-text">{$v.Name}</li>
                    {/volist}
                </ul>
            </div>

        </div>
        <div class="main-right-bottom">
            <!--<div class="main-right-b-t">-->
                <!--<div class="main-paixu">排序方式：</div>-->
                <!--<div class="main-shengxu">人气<i class="iconfont icon-xiangxia"></i></div>-->
                <!--<div class="main-shengxu">星级<i class="iconfont icon-xiangshang"></i></div>-->
                <!--<div class="main-yyzgc"><input type="checkbox">已验证工厂</div>-->
            <!--</div>-->
            <div class="main-right-b-c">
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
                <div class="main-right-li">
                    <div class="main-li-img">
                        <img src="{:config('home_img')}/inspection/ct1.png" alt="">
                    </div>
                    <div class="main-li-content">
                        <div class="main-li-title">
                            <a href="{:url('home/shangpu/index')}" >某某某卫生用品有限公司</a>
                        </div>
                        <div class="main-li-r-b">
                            <div class="main-li-gsclsj">公司成立时间：<span>2010年12月30日</span></div>
                            <div class="main-li-gsclsj">公司规模：<span>2000m<sup>2</sup></span></div>
                            <div class="main-li-sclb">生产类别：<span>某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,某某某,</span></div>
                            <div class="main-li-sclb">公司地址：<span>浙江省杭州市某某区某某路201号</span></div>
                        </div>
                        <div class="main-button">
                            <a href="inspectiondetails">进入工厂</a>
                            <a href="">点击关注</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--分页-->
            <div class="main-fenye-box">
                <span class="main-sy">首页</span>
                <div class="main-syy">上一页</div>
                <ul>
                    <li class="right-bottom-click">1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                </ul>
                <div class="main-xyy">下一页</div>
                <div class="main-tiaozhuan">
                    <span class="tiaozhuan">跳转</span>
                    <input type="text" value="">
                    <span>页</span>
                </div>
                <span class="main-wy">尾页</span>
            </div>
        </div>
    </div>
</div>
<!--页脚-->
<div class="footer" style="width: 100%;padding-top: 100px;">
    <object data="{:url('home/index/foot_base')}" type="text/x-scriptlet" style="width: 100%;height: 530px;"></object>
</div>

<script src="{:config('home_js')}/inspection.js"></script>
</body>
</html>