<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>账户安全</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/security.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<main>
    <div class="main-content-box">
        <div class="main-content">
            <div class="main-content-aqdj">
                <span>安全等级：</span>
                <span class="content-aqdj">中</span>
                <span class="aqdj-tishi">（完成 密保设置 ，提升账户安全）</span>
            </div>
            <div class="main-content-xgmm">
                <div class="main-content-icon">
                    <i class="iconfont icon-suo"></i>
                </div>
                <div class="main-content-title">
                    <div class="content-title-1">登陆密码</div>
                    <div class="content-title-2">已设置</div>
                </div>
                <div class="main-content-text">
                    安全性高的密码可以使账号更安全。建议您定期更换密码,且设置一个包含数字和字母,
                    并长度超过6位以上的密码。
                </div>
                <a href="" class="xgmm-text">修改密码</a>
            </div>
            <div class="main-content-xgmm">
                <div class="main-content-icon">
                    <i class="iconfont icon-shouji1"></i>
                </div>
                <div class="main-content-title">
                    <div class="content-title-1">绑定手机</div>
                    <div class="content-title-2">未绑定</div>
                </div>
                <div class="main-content-text">
                    绑定手机后，您即可享受淘宝丰富的手机服务，如手机找回密码等。
                </div>
                <a href="./bindingphone.html" class="xgmm-text">绑定手机</a>
            </div>
        </div>
    </div>
</main>

</body>
</html>