<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=0.5, minimum-scale=2.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>贴牌更多</title>
    <link rel="stylesheet" href="{:config('home_css')}/tiepaigengduo.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="header-box">
        <div class="header-logo">
            <img src="{:config('home_img')}/a0.png" alt="">
        </div>
        <div class="header-right-box">
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-iconxingjikongxin"></i>
                <span class="header-text">收藏夹</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
                <span class="header-text">已关注</span>
            </a>
            <a href="" class="header-shoucangjia">
                <i class="iconfont icon-dinghuodan"></i>
                <span class="header-text">订货单</span>
            </a>
        </div>
    </div>
</header>
<!--导航-->
<div class="daohang">
    <nav>
        <a href="{:url('/')}">首页</a>
        <a href="{:url('home/index/custom')}">产品定制</a>
        <a href="{:url('home/index/stickacard')}">贴牌专区</a>
        <a href="{:url('home/index/inspection')}">优选验厂</a>
        <a href="{:url('home/index/shebeitransfer')}">设备转让</a>
        <a href="{:url('home/index/documentary')}">跟单专家</a>
        <a href="javascript:;">网络批发</a>
    </nav>
</div>

<!--网页路径-->
<div class="lujing-box">
    <div class="lujing">
        <div class="lujing-right">
            <i class="iconfont icon-weizhi"></i>
            <span>首页</span>
            <i class="iconfont icon-shuangjiantouyou"></i>
            <span>贴牌专区</span>
        </div>
    </div>
</div>

<!--主体-->
<main>
    <div class="main-fenlei-box">
        <div class="main-fenlei class_fenlei1">
            <div class="main-fenlei-title">所有类目</div>
            <div class="main-fenlei-content">
                <span class="fenlei-click-css">卫生巾</span>
                <span>纸尿裤</span>
                <span>湿纸巾</span>
                <span>生活用纸</span>
                <span>产妇经期裤</span>
                <span>护理垫</span>
                <span>宠物垫</span>
                <span>乳垫</span>
            </div>
        </div>
        <div class="main-fenlei class_fenlei2">
            <div class="main-fenlei-title">所有地区</div>
            <div class="main-fenlei-content">
                <span class="fenlei-click-css">卫生巾</span>
                <span>纸尿裤</span>
                <span>湿纸巾</span>
                <span>生活用纸</span>
                <span>产妇经期裤</span>
                <span>护理垫</span>
                <span>宠物垫</span>
                <span>乳垫</span><span>卫生巾</span>
                <span>纸尿裤</span>
                <span>湿纸巾</span>
                <span>生活用纸</span>
                <span>产妇经期裤</span>
                <span>护理垫</span>
                <span>宠物垫</span>
                <span>乳垫</span><span>卫生巾</span>
                <span>纸尿裤</span>
                <span>湿纸巾</span>
                <span>生活用纸</span>
                <span>产妇经期裤</span>
                <span>护理垫</span>
                <span>宠物垫</span>
                <span>乳垫</span>
            </div>
            <div class="main-fenlei-gengduo" id="main-gengduo">更多</div>
        </div>
    </div>
    <div class="main-content-box">
        <div class="main-content-title-box">
            <span class="main-content-title">卫生巾加工</span>
            <span class="content-title-gg content-title-gg-active">全部</span>
            <span class="content-title-gg">小于150</span>
        </div>
        <div class="content-content-box">
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jggc-content-box">
                <div class="jggc-content">
                    <a href="" class="jggc-content-img">
                        <img src="{:config('home_img')}/stickacard/tpw(7).png" alt="">
                    </a>
                    <div class="jggc-content-gsmc">某某省某某卫生用品有限公司</div>
                    <div class="jggc-content-cppp">某某品牌</div>
                    <div class="jggc-content-text-box">
                        <div class="jggc-content-text-num">
                            <span class="jggc-content-num-l">起订量:</span>
                            <span class="jggc-content-num-r">10000片</span>
                        </div>
                        <div class="jggc-content-myd-box">
                            <div class="jggc-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="jggc-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--分页-->
    <div class="main-fenye-box">
        <span class="main-sy">首页</span>
        <div class="main-syy">上一页</div>
        <ul>
            <li class="right-bottom-click">1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
        </ul>
        <div class="main-xyy">下一页</div>
        <div class="main-tiaozhuan">
            <span class="tiaozhuan">跳转</span>
            <input type="text" value="">
            <span>页</span>
        </div>
        <span class="main-wy">尾页</span>
    </div>
</main>
<!--页脚-->
<footer>
    <div class="footer-bjt-box">
        <div class="footer-c-box">
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb1.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">网站介绍</div>
                    <span class="footer-text"><a href="">官方信息港</a></span>
                    <span class="footer-text"><a href="">个人草根网站</a></span>
                    <span class="footer-text"><a href="">加盟的分站</a></span>
                    <span class="footer-text"><a href="">实力团队</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb2.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">关于我们</div>
                    <span class="footer-text"><a href="">市场分析调查</a></span>
                    <span class="footer-text"><a href="">可行性分析</a></span>
                    <span class="footer-text"><a href="">项目策划</a></span>
                    <span class="footer-text"><a href="">项目的可行性</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb3.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">服务条款</div>
                    <span class="footer-text"><a href="">服务的确认和接纳</a></span>
                    <span class="footer-text"><a href="">服务修订</a></span>
                    <span class="footer-text"><a href="">用户隐私</a></span>
                </div>
            </div>
            <div class="footer-box">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb4.png" alt="">
                </div>
                <div class="footer-text-box">
                    <div class="footer-text-title">广告服务</div>
                    <span class="footer-text"><a href="">管理平台</a></span>
                    <span class="footer-text"><a href="">创意案例</a></span>
                    <span class="footer-text"><a href="">推广评估</a></span>
                    <span class="footer-text"><a href="">指导优化</a></span>
                </div>
            </div>
            <div class="footer-box1">
                <div class="footer-img">
                    <img src="{:config('home_img')}/gtb5.png" alt="">
                </div>
                <div class="footer-ewm-box">
                    <div class="footer-ewm-img">
                        <img src="{:config('home_img')}/by-ewm.jpg" alt="">
                        <div class="ewm-text">微信公众号</div>
                    </div>
                    <div class="footer-ewm-img">
                        <img src="{:config('home_img')}/by-ewm.jpg" alt="">
                        <div class="ewm-text">客服微信</div>
                    </div>
                </div>
                <div class="footer-kf-box">
                    <div class="footer-kf-title">客服电话</div>
                    <div class="footer-kf-text">0595-28113222</div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-footer">
        Copyright © 2003-2015 163k.com All Reserved © 卫品共享工厂闽ICP备16026715号-1
    </div>
</footer>
<script src="{:config('home_js')}/tiepaigengduo.js"></script>
</body>
</html>