<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户中心</title>
    <link rel="stylesheet" href="{:config('home_css')}/bootstrap.css">
    <link rel="stylesheet" href="{:config('home_css')}/usercenter.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <script src="{:config('home_js')}/jquery.js"></script>
    <script src="{:config('home_js')}/jquery.lazyload.js"></script>
    <script src="{:config('home_js')}/bootstrap.js"></script>
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<main>
    <div class="main-content">
        <form method="post">
            <div class="content-top">
                <div class="content-t-righht">
                    <div class="content-right1">
                        <div class="content-right-name">
                            <label>用户名：</label>
                            <input type="text" value="" class="nc-name">
                        </div>
                        <div class="content-right-hj">
                            <label class="content-lxfs">联系方式：<input type="text"></label>
                        </div>
                        <div class="content-right-yx">
                            <label class="content-hj"><span>邮箱：</span><input type="text"></label>
                            <label class="content-lxfs"><span>QQ：</span><input type="text"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-button"><input type="button" value="保存信息"></div>
        </form>
    </div>
</main>



<script type="text/javascript">
    function limitTextarea(self,nowleng){
        $(self).on('input propertychange', function(event) {
            var _val = $(self).val();
            _val = _val < 500 ? _val : _val.substr(0,500);
            $(self).val(_val);
            $(nowleng).text(_val.length)
        });
        $(self).blur(function(){
            $(self).off('input propertychange');
        });
    }
</script>
<script src="{:config('home_js')}/usercenter.js"></script>
<script>
    $(function() {
        $("img").lazyload({
            threshold : 200,
            skip_invisible : false
        });
    });
</script>
</body>
</html>