<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>网络批发</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    html,body{
        width: 100%;
        height: 100%;
        position: relative;
    }
    .text{
        width: 100%;
        height: 100px;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        font-size: 30px;
    }
</style>
<body>
<div class="text">
    该功能正在开发中。。。
    <a href="javascript:window.opener=null;window.close();">点击关闭当前页</a>
</div>
</body>
</html>