<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>视频展示</title>
    <link rel="stylesheet" href="{:config('home_shangpu_css')}/base.css">
    <link rel="stylesheet" href="{:config('home_shangpu_css')}/gongsijianjie.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <link rel="stylesheet" href="{:config('home_shangpu_css')}/gongsijianjie_style.css">
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header>
    <div class="header-box">
        <div class="header-logo">
            <a href="{:url('/')}">
                <img src="{:config('home_shangpu_img')}/a0.png" alt="">
            </a>
        </div>
        <div class="header-sousuo-box">
            <div class="header-sousuo">
                <form action="">
                    <input type="text" value="" class="sousuo-input">
                    <input type="submit" value="搜索" class="sousuo-submit">
                </form>
            </div>
            <a href="" class="header-guanzhu">
                <i class="iconfont icon-iconxingjikongxin"></i>
                <span>收藏夹</span>
            </a>
            <a href="" class="header-guanzhu">
                <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
                <span>已关注</span>
            </a>
        </div>
    </div>
    <div class="sp-header-box" style="background-image: url('{:config('home_shangpu_img')}/index/beijingtupian.png')">
        <div class="sp-header-img">
            <img src="" alt="">
        </div>
    </div>
    <nav>
        <ul class="daohang-ul">
            <li class="daohang-li"><a  href="{:url('home/shangpu/index')}">首页</a></li>
            <li class="daohang-li"><a class="daohang-li-active" href="{:url('home/shangpu/gongsijianjie')}">公司简介</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/qiyetiepai')}">贴牌专区</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/shipinzhanshi')}">视频展示</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/chanpinzhanting')}">产品展厅</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/lianxiwomen')}">联系我们</a></li>


        </ul>
    </nav>
</header>

<!--网页路径-->
<div class="wylj-big-box">
    <div class="wylj-box">
        <i class="iconfont icon-location"></i>
        <span>当前位置：</span>
        <span>首页</span>
        <i class="iconfont icon-shuangjiantouyou"></i>
        <span>公司简介</span>
    </div>
</div>

<!--主体-->
<main>
    <div class="lxwm-box">
        <div class="lxwm-title-img">
            <img src="{:config('home_shangpu_img')}/gongsijianjie/gongsijianjie.png" alt="">
        </div>
        <div class="gsjj-content-big-box">
            <div class="gsjj-banner-box">
                <div class="poster-main A_Demo">
                    <div class="poster-btn poster-prev-btn" style="display: none"></div>
                    <ul class="poster-list">
                        <li class="poster-item"><a href="http://sc.chinaz.com"><img src="{:config('home_shangpu_img')}/gongsijianjie/aa1.png" width="100%" ></a></li>
                        <li class="poster-item"><a href="http://sc.chinaz.com"><img src="{:config('home_shangpu_img')}/gongsijianjie/shiyanshi.png" width="100%" class="poster-img"></a></li>
                        <li class="poster-item"><a href="http://sc.chinaz.com"><img src="{:config('home_shangpu_img')}/gongsijianjie/wsj.png" width="100%" class="poster-img"></a></li>
                    </ul>
                    <div class="poster-btn poster-next-btn" style="display: none"></div>
                </div>
            </div>
            <div class="gsjj-content-box">
                <div class="gsjj-title">川田卫生用品（浙江）有限公司</div>
                <div class="gsjj-content">
                    川田卫生用品（浙江）有限公司成立于2010年10月，是一家主要从事妇幼一次性卫生用品的研发、生产、销售、OEM及ODM加工的川田联盟企业。公司位于湖州市德清县禹
                    越镇镇西南路188号，主要以卫生巾加工、产妇巾加工、乳垫加工、护垫加工为主，可承接来样加工、来料加工、新产品研发业务。
                    公司秉承“保证一流质量，保持一级信誉”的经营理念，以“使用最先进的设备，利用最先进的技术，培养最优秀的员工，生产最高质的产品”作为创新理念和目标，坚持“
                    客户第一”的原则为广大客户提供优质的服务。公司本着“诚信、理解、互惠、持续、发展”的原则，已经与多家国际国内知名企业进行相互合作，建立战略合作伙伴关系。川田目
                    前拥有18条具有先进水平的卫生用品生产线和全封闭式的生产车间，严格按照《一次性使用卫生用品卫生标准》（GB15979-2002）组织生产，为客户提供从研发、规划、设计、
                    生产到包装的全方位、立体化的加工方案全程的服务。同时，通过不断实施技术改造与创新，时刻走在技术先端，保证高品质的原材料供应和高品质的产品销售。
                    公司于2009年通过了ISO9001质理管理体系、ISO14001环境管理体系认证；2016年获得中卫安（北京）认证中心颁发的卫生安全产品认证证书（编号CHS173B20160014）
                    ；2017年，企业质量管理体系通过英国国家质量保证有限公司（UKAS，ANAB认可的第三方认证机构）的NQA认证。近几年来，公司先后通过了美国食品药品监督管理局（FDA）
                    、美国保险商试验所（UL）、美国卡地纳健康集团（CardinalHealth）、美国多种经营零售公司（Sears）以医疗器械质量管理体系标准对公司进行的验厂审核。2017年4月，公
                    司医用护理垫（看护垫）产品获得第一类医疗器械备案（备案号：浙湖械备20170010号）。
                    公司始终坚持科技创新是企业发展生命力的宗旨，依靠科技进步求生存、谋发展，注重科学管理与技术创新工作，瞄准市场、依靠技术进步求生存、谋发展。目前企业已经申报
                    各项专利20余件，获得授权10件（其中发明专利1件，实用新型专利8件，外观设计专利1件）。
                    川田具有完善的物流管理体统，为您提供最快、最准、最优的服务。
                    川田重视建立战略合作伙伴，本着“诚信、理解、互惠、持续、发展”的原则。公司与多家国际国内知名企业进行相互合作，成为紧密合作伙伴，保证高品质的原材料供应和高
                    品质的产品销售。川田本着“诚信、创新、稳健”之理念恪守诺言，谋求与广大同仁长期合作，促进共同发展而不懈努力。
                </div>
            </div>
        </div>
    </div>
</main>

<!--页脚-->
<footer>
    <div class="footer-box">
        <ul class="weixin-big-box">
            <li class="weixin-li">
                <div class="weixin-img">
                    <img src="{:config('home_shangpu_img')}/gradient.png" alt="">
                </div>
                <div class="weixin-text-box">
                    <a href="" class="weixin-text-a">《卫生用品》下载</a>
                    <a href="" class="weixin-text-a">《卫生用品》在线下载</a>
                    <a href="" class="weixin-text-jinru">进入</a>
                </div>
            </li>
            <li class="weixin-li">
                <div class="weixin-img">
                    <img src="{:config('home_shangpu_img')}/f26f5ed0d000c3413c9a4250f2c22bcb86a9494e2b2a-Gw0bYT_fw658.png" alt="">
                </div>
                <div class="weixin-text-box">
                    <div class="weixin-text">官方微信</div>
                    <div class="weixin-text">手机扫描二维码</div>
                    <div class="weixin-text">加wypzz微信好友</div>
                </div>
            </li>
            <li class="weixin-li">
                <div class="weixin-img">
                    <img src="{:config('home_shangpu_img')}/f26f5ed0d000c3413c9a4250f2c22bcb86a9494e2b2a-Gw0bYT_fw658.png" alt="">
                </div>
                <div class="weixin-text-box">
                    <div class="weixin-text">商家微信</div>
                    <div class="weixin-text">手机扫描二维码</div>
                    <div class="weixin-text">加川田卫生用品微信好友</div>
                </div>
            </li>
        </ul>
        <ul class="footer-xieyi-daohang">
            <li class="footer-xieyi-li"><a href="">网站首页</a></li>
            <li class="footer-xieyi-li"><a href="">版权隐私</a></li>
            <li class="footer-xieyi-li"><a href="">使用协议</a></li>
            <li class="footer-xieyi-li"><a href="">联系方式</a></li>
            <li class="footer-xieyi-li"><a href="">关于我们</a></li>
            <li class="footer-xieyi-li"><a href="">网站地图</a></li>
            <li class="footer-xieyi-li"><a href="">排名推广</a></li>
            <li class="footer-xieyi-li"><a href="">广告服务</a></li>
            <li class="footer-xieyi-li"><a href="">网站留言</a></li>
            <li class="footer-xieyi-li"><a href="">RSS订阅</a></li>
        </ul>
        <div class="footer-beianhao">
            <p>闽ICP备16026715号</p>
            <p>版权2018-2028 @ 杭州博卫传媒有限公司</p>
        </div>
    </div>
</footer>


<script src="{:config('home_shangpu_js')}/jquery-1.11.3.min.js"></script>
<script src="{:config('home_shangpu_js')}/gongsijianjie.js"></script>
<script src="{:config('home_shangpu_js')}/gongsijianjie_PicCarousel.js"></script>
<script>
    $(".A_Demo").PicCarousel("init");
</script>
</body>
</html>