<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=0.3, maximum-scale=2.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>贴牌专区</title>
    <link rel="stylesheet" href="{:config('home_shangpu_css')}/base.css">
    <link rel="stylesheet" href="{:config('home_shangpu_css')}/qiyetiepai.css">
    <link rel="stylesheet" href="{:config('home_icon')}/iconfont.css">
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="header-box-box">
    <div class="header-centre">
        <ul class="header-left">
            <li><a href="">
                <div class="h-l-t">欢迎来到卫品共享工厂 |</div>
            </a></li>
            {notempty name='$Request.session.username'}
            【{$Request.session.username}】
            <span><a href="{:url('home/user/loginout')}">退出登录</a></span>
            {else /}
            <li><a href="{:url('home/user/login')}">
                <div class="h-l-t">请登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/register')}">
                <div class="h-l-t">免费注册</div>
            </a></li>
            {/notempty}
        </ul>
        <ul class="header-right">
            <li><a href="/">
                <div class="h-l-t">工厂首页 |</div>
            </a></li>
            <li><a href="{:url('admin/user/login')}">
                <div class="h-l-t">工厂登陆 |</div>
            </a></li>
            <li><a href="{:url('home/user/accountcenter')}">
                <div class="h-l-t">个人中心 |</div>
            </a></li>
            <li><a href="{:url('home/index/shoucangjia')}">
                <div class="h-l-t">收藏夹</div>
            </a>
            </li>
        </ul>
    </div>
</header>
<div class="header">
    <div class="header-box">
        <div class="header-logo">
            <a href="{:url('/')}">
                <img data-original="{:config('home_shangpu_img')}/a0.png" alt="">
            </a>
        </div>
        <div class="header-sousuo-box">
            <div class="header-sousuo">
                <form action="">
                    <input type="text" value="" class="sousuo-input">
                    <input type="submit" value="搜索" class="sousuo-submit">
                </form>
            </div>
            <a href="" class="header-guanzhu">
                <i class="iconfont icon-iconxingjikongxin"></i>
                <span>收藏夹</span>
            </a>
            <a href="" class="header-guanzhu">
                <i class="iconfont icon-guanzhuzuozheyiguanzhu"></i>
                <span>已关注</span>
            </a>
        </div>
    </div>
    <!--<div class="sp-header-box" style="background-image: url('{:config('home_shangpu_img')}/index/beijingtupian.png')">-->
        <!--<div class="sp-header-img">-->
            <!--<img data-original="" alt="">-->
        <!--</div>-->
    <!--</div>-->
    <nav>
        <ul class="daohang-ul">
            <li class="daohang-li"><a href="{:url('home/shangpu/index',['id'=>$c_id])}">首页</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/gongsijianjie')}">公司简介</a></li>
            <li class="daohang-li"><a class="daohang-li-active" href="{:url('home/shangpu/qiyetiepai')}">贴牌专区</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/shipinzhanshi')}">视频展示</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/chanpinzhanting')}">产品展厅</a></li>
            <li class="daohang-li"><a href="{:url('home/shangpu/lianxiwomen')}">联系我们</a></li>
        </ul>
    </nav>
</div>

<!--网页路径-->
<div class="wylj-big-box">
    <div class="wylj-box">
        <i class="iconfont icon-location"></i>
        <span>当前位置：</span>
        <span>首页</span>
        <i class="iconfont icon-shuangjiantouyou"></i>
        <span>贴牌专区</span>
    </div>
</div>

<!--主体-->
<main>
    <div class="lxwm-box">
        <div class="lxwm-title-img">
            <img data-original="{:config('home_shangpu_img')}/qiyetiepai/qiyetiepai.png" alt="">
        </div>
        <div class="qytp-content-big-box">
            {volist name='card' id='v'}
            <div class="qytp-content-box">
                <div class="qytp-content">
                    <a href="{:url('home/stickacard/tiepaixiangqing',['id'=>$v.id])}" class="qytp-content-img">
                        <img data-original="{:config('public_uploads')}/{$v.pic1}" alt="">
                    </a>
                    <div class="qytp-content-gsmc">{$v.carname}</div>
                    <div class="qytp-content-text-box">
                        <div class="qytp-content-text-num">
                            <span class="qytp-content-num-l">起订量:</span>
                            <span class="qytp-content-num-r">{$v.qdl}</span>
                        </div>
                        <div class="qytp-content-myd-box">
                            <div class="qytp-icon">
                                <i class="iconfont icon-xin"></i><!--未收藏-->
                                <!--<i class="iconfont icon-xin1"></i>&lt;!&ndash;已收藏&ndash;&gt;-->
                                <span class="qytp-icon-sc">收藏</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</main>

<!--页脚-->
<footer>
    <div class="footer-box">
        <ul class="weixin-big-box">
            <li class="weixin-li">
                <div class="weixin-img">
                    <img data-original="{:config('home_shangpu_img')}/gradient.png" alt="">
                </div>
                <div class="weixin-text-box">
                    <a href="" class="weixin-text-a">《卫生用品》下载</a>
                    <a href="" class="weixin-text-a">《卫生用品》在线下载</a>
                    <a href="" class="weixin-text-jinru">进入</a>
                </div>
            </li>
            <li class="weixin-li">
                <div class="weixin-img">
                    <img data-original="{:config('home_shangpu_img')}/f26f5ed0d000c3413c9a4250f2c22bcb86a9494e2b2a-Gw0bYT_fw658.png" alt="">
                </div>
                <div class="weixin-text-box">
                    <div class="weixin-text">官方微信</div>
                    <div class="weixin-text">手机扫描二维码</div>
                    <div class="weixin-text">加wypzz微信好友</div>
                </div>
            </li>
            <li class="weixin-li">
                <div class="weixin-img">
                    <img data-original="{:config('public_uploads')}/{$pics.pic7}" alt="">
                </div>
                <div class="weixin-text-box">
                    <div class="weixin-text">商家微信</div>
                    <div class="weixin-text">手机扫描二维码</div>
                    <div class="weixin-text">加商家微信好友</div>
                </div>
            </li>
        </ul>
        <ul class="footer-xieyi-daohang">
            <li class="footer-xieyi-li"><a href="">网站首页</a></li>
            <li class="footer-xieyi-li"><a href="">版权隐私</a></li>
            <li class="footer-xieyi-li"><a href="">使用协议</a></li>
            <li class="footer-xieyi-li"><a href="">联系方式</a></li>
            <li class="footer-xieyi-li"><a href="">关于我们</a></li>
            <li class="footer-xieyi-li"><a href="">网站地图</a></li>
            <li class="footer-xieyi-li"><a href="">排名推广</a></li>
            <li class="footer-xieyi-li"><a href="">广告服务</a></li>
            <li class="footer-xieyi-li"><a href="">网站留言</a></li>
            <li class="footer-xieyi-li"><a href="">RSS订阅</a></li>
        </ul>
        <div class="footer-beianhao">
            <p>闽ICP备16026715号</p>
            <p>版权2018-2028 @ 杭州博卫传媒有限公司</p>
        </div>
    </div>
</footer>


<script src="{:config('home_shangpu_js')}/jquery.js"></script>
<script src="{:config('home_js')}/jquery.lazyload.js"></script>
<script src="{:config('home_shangpu_js')}/qiyetiepai.js"></script>
<script>
    $(function () {
        $("img").lazyload({
            threshold: 200,
            skip_invisible : false
        });
    });
</script>
</body>
</html>